
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* Styles */

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    min-height: 740px;
    color: #39312e;
    background-color: #fff;
}

/*
    Now let's bring some text styles back ...
*/
h2 {
    font-weight: 400;
}
b, strong {
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
}
i, em {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: italic;
}

/*
    ... and give links a nice look.
*/
a {
    color: #211716;
    text-decoration: none;
    padding: 0;
    /*background: #807a78;
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);*/
    border-radius: 0;
    border-bottom: 1px dotted #211716;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:focus {
    color: #faa419;
    border-color: #faa419;
}

a.logo-eye {
    width: 40px;
    height: 31px;
    background: transparent;
    border-bottom: none;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9999;
    pointer-events: auto;
}

nav {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    border-bottom: none;
    pointer-events: auto;
    opacity: 0.5;
    
    -webkit-transition: opacity .5s;
    -moz-transition:    opacity .5s;
    -ms-transition:     opacity .5s;
    -o-transition:      opacity .5s;
    transition:         opacity .5s;
}

nav ul li a:hover,
nav ul li a:focus {
    opacity: 1;
}

/*
    Because the main point behind the impress.js demo is to demo impress.js
    we display a fallback message for users with browsers that don't support
    all the features required by it.

    All of the content will be still fully accessible for them, but I want
    them to know that they are missing something - that's what the demo is
    about, isn't it?

    And then we hide the message, when support is detected in the browser.
*/

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    color: #211716;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #211716;
    border-radius: 10px;
    background: #807a78;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

/*
    Now let's style the presentation steps.

    We start with basics to make sure it displays correctly in everywhere ...
*/

.step {
    position: relative;
    width: 900px;
    padding: 30px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    /*font-family: 'latolight', serif;*/
    font-size: 48px;
    line-height: 1.5;
}

.step p {
    text-align: center;
}

.step .bigger {
    font-size: 60px;
}

.rimg {
    margin-left: 0.5em;
}

/*
    ... and we enhance the styles for impress.js.

    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;
    opacity: 0.05;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

/*
    These 'slide' step styles were heavily inspired by HTML5 Slides:
    http://html5slides.googlecode.com/svn/trunk/styles.css

    ;)

    They cover everything what you see on first three steps of the demo.
*/
.slide {
    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

    /*background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);*/

    /*color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);*/

    /*font-family: 'Open Sans', Arial, sans-serif;*/
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -1px;
}

.slide p {
    display: block;
    font-size: 50px;
    line-height: 72px;
    margin-top: 60px;
}

.slide p strong {
    white-space: nowrap;
}

.slide .smaller {
    font-size: 80%;
}

.slide .bigger {
    font-size: 60px;
}

.sub-slide p,
.sub-slide ul,
.sub-slide ol {
    font-size: 36px;
    line-height: 54px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.sub-slide ul {
    list-style: none;
}

.sub-slide ul.arrow-r {
    margin-left: 4em;
}

.sub-slide ul.checkmark {
    margin-left: 2em;
}

.sub-slide ul li {
    position: relative;
}

.sub-slide ul li:before {
    /*
    The desired width gets defined in two places: The element width, and background size.
    The height only gets defined once, in background size.
    */
    position: absolute;
    display: block;
    content: '\2022'; /* bullet point, for screen readers */
    text-indent: -999999px; /* move the bullet point out of sight */
    left: -1em;
    top: 0.2em;
    width: 1.1em; /* desired width of the image */
    height: 1.1em; /* unrelated to image height; this is so it gets snipped */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

.sub-slide ul.arrow-r li:before {
    background-image: url("../images/android-arrow-dropright.svg");
}

.sub-slide ul.checkmark li:before {
    background-image: url("../images/checkmark.svg")
}

.sub-slide ul.checkmark-round li:before {
    background-image: url("../images/checkmark-round.svg")
}


/* Sections */

#iaraque p {
    font-size: 70px;
    line-height: 80px;
    font-family: 'Lato', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
}

#iaraque .footnote {
    font-size: 30px;
}

#client-target {
    text-align: center;
}

#client-target img {
    margin-top: 2em;
}

#copywriting {
    padding: 0;
}

#copywriting .footnote {
    font-size: 32px;
}

#troba-el-to p strong {
    /*color: #faa419;*/
}

#troba-el-to p:last-child {
    text-align: center;
}

#crea-un-missatge {
    
}

#consells a {
    color: #faa419;
    text-decoration: none;
    border-bottom: 1px solid #faa419;
    padding: 0 0.1em;
    background: transparent;
    font-size: .9em;
}

#consells a:hover,
#consells a:focus {
    color: #39312e;
    border-bottom: 1px dotted #39312e;
}

#funnel-3 p {
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    margin: 0;
}

#tagrada {
    border: 1px solid #807a78;
}

#tagrada p {
    font-size: 24px;
    line-height: 36px;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: left;
}

#tagrada a {
    color: #faa419;
    border-bottom: 1px dotted #faa419;
}


/*
    This step has some animated text ...
*/


/*
    ... so we define display to `inline-block` to enable transforms and
    transition duration to 0.5s ...
*/


/*
    ... and we want 'positioning` word to move up a bit when the step gets
    `present` class ...
*/
.positioning {
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

.present .positioning {
    color: #807a78;

    -webkit-transform: translateY(-10px);
    -moz-transform:    translateY(-10px);
    -ms-transform:     translateY(-10px);
    -o-transform:      translateY(-10px);
    transform:         translateY(-10px);

    -webkit-transition-delay: 0.3s;
    -moz-transition-delay:    0.3s;
    -ms-transition-delay:     0.3s;
    -o-transition-delay:      0.3s;
    transition-delay:         0.3s;
}

/*
    ... and 'scaling' to scale down after another quarter of a second.
*/
.scaling {
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

.present .scaling {
    color: #faa419;

    -webkit-transform: scale(1.5);
    -moz-transform:    scale(1.5);
    -ms-transform:     scale(1.5);
    -o-transform:      scale(1.5);
    transform:         scale(1.5);

    -webkit-transition-delay: 0.5s;
    -moz-transition-delay:    0.5s;
    -ms-transition-delay:     0.5s;
    -o-transition-delay:      0.5s;
    transition-delay:         0.5s;
}

.scalingless {
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

.present .scalingless {
    color: #faa419;

    -webkit-transform: scale(0.75);
    -moz-transform:    scale(0.75);
    -ms-transform:     scale(0.75);
    -o-transform:      scale(0.75);
    transform:         scale(0.75);

    -webkit-transition-delay: 0.5s;
    -moz-transition-delay:    0.5s;
    -ms-transition-delay:     0.5s;
    -o-transition-delay:      0.5s;
    transition-delay:         0.5s;
}

.scalingup {
    -webkit-transform: scale(0.75);
    -moz-transform:    scale(0.75);
    -ms-transform:     scale(0.75);
    -o-transform:      scale(0.75);
    transform:         scale(0.75);
    
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

.present .scalingup {
    -webkit-transform: scale(1);
    -moz-transform:    scale(1);
    -ms-transform:     scale(1);
    -o-transform:      scale(1);
    transform:         scale(1);

    -webkit-transition-delay: 0.5s;
    -moz-transition-delay:    0.5s;
    -ms-transition-delay:     0.5s;
    -o-transition-delay:      0.5s;
    transition-delay:         0.5s;
}


/*
    And the "it's in 3D" step again brings some 3D typography - just for fun.

    Because we want to position <span> elements in 3D we set transform-style to
    `preserve-3d` on the paragraph.
    It is not needed by webkit browsers, but it is in Firefox. It's hard to say
    which behaviour is correct as 3D transforms spec is not very clear about it.
*/
#end p {
    font-size: 54px;
    width: 700px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style:    preserve-3d; /* Y U need this Firefox?! */
    -ms-transform-style:     preserve-3d;
    -o-transform-style:      preserve-3d;
    transform-style:         preserve-3d;
}

/*
    Below we position each word separately along Z axis and we want it to transition
    to default position in 0.5s when the step gets `present` class.

    Quite a simple idea, but lot's of styles and prefixes.
*/
#end span,
#end b {
    display: inline-block;
    -webkit-transform: translateZ(40px);
    -moz-transform:    translateZ(40px);
    -ms-transform:     translateZ(40px);
    -o-transform:      translateZ(40px);
     transform:        translateZ(40px);

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

#end .have {
    -webkit-transform: translateZ(-40px);
    -moz-transform:    translateZ(-40px);
    -ms-transform:     translateZ(-40px);
    -o-transform:      translateZ(-40px);
    transform:         translateZ(-40px);
}

#end .you {
    -webkit-transform: translateZ(20px);
    -moz-transform:    translateZ(20px);
    -ms-transform:     translateZ(20px);
    -o-transform:      translateZ(20px);
    transform:         translateZ(20px);
}

#end .noticed {
    -webkit-transform: translateZ(-40px);
    -moz-transform:    translateZ(-40px);
    -ms-transform:     translateZ(-40px);
    -o-transform:      translateZ(-40px);
    transform:         translateZ(-40px);
}

#end .its {
    -webkit-transform: translateZ(60px);
    -moz-transform:    translateZ(60px);
    -ms-transform:     translateZ(60px);
    -o-transform:      translateZ(60px);
    transform:         translateZ(60px);
}

#end .in {
    -webkit-transform: translateZ(-10px);
    -moz-transform:    translateZ(-10px);
    -ms-transform:     translateZ(-10px);
    -o-transform:      translateZ(-10px);
    transform:         translateZ(-10px);
}

#end .footnote {
    font-size: 24px;

    -webkit-transform: translateZ(-10px);
    -moz-transform:    translateZ(-10px);
    -ms-transform:     translateZ(-10px);
    -o-transform:      translateZ(-10px);
    transform:         translateZ(-10px);
}

#end.present span,
#end.present b {
    -webkit-transform: translateZ(0px);
    -moz-transform:    translateZ(0px);
    -ms-transform:     translateZ(0px);
    -o-transform:      translateZ(0px);
    transform:         translateZ(0px);
}

/*
    The last step is an overview.
    There is no content in it, so we make sure it's not visible because we want
    to be able to click on other steps.

*/
#overview { display: none }

/*
    We also make other steps visible and give them a pointer cursor using the
    `impress-on-` class.
*/
.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}


.hint {
    /*
        We hide the hint until presentation is started and from browsers not supporting
        impress.js, as they will have a linear scrollable view ...
    */
    display: none;

    /*
        ... and give it some fixed position and nice styles.
    */
    position: fixed;
    left: 0;
    right: 0;
    bottom: 200px;

    background: rgba(128, 122, 120, 0.5);
    color: #fff;
    text-align: center;

    font-size: 24px;
    padding: 24px;

    z-index: 100;

    /*
        By default we don't want the hint to be visible, so we make it transparent ...
    */
    opacity: 0;

    /*
        ... and position it below the bottom of the screen (relative to it's fixed position)
    */
    -webkit-transform: translateY(400px);
    -moz-transform:    translateY(400px);
    -ms-transform:     translateY(400px);
    -o-transform:      translateY(400px);
    transform:         translateY(400px);

    /*
        Now let's imagine that the hint is visible and we want to fade it out and move out
        of the screen.

        So we define the transition on the opacity property with 1s duration and another
        transition on transform property delayed by 1s so it will happen after the fade out
        on opacity finished.

        This way user will not see the hint moving down.
    */
    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
    -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
    -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
    transition:         opacity 1s,         transform 0.5s 1s;
}

/*
    Now we 'enable' the hint when presentation is initialized ...
*/
.impress-enabled .hint { display: block }

/*
    ... and we will show it when the first step (with id 'bored') is active.
*/
.impress-on-iaraque .hint {
    /*
        We remove the transparency and position the hint in its default fixed
        position.
    */
    opacity: 1;

    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);

    /*
        Now for fade in transition we have the oposite situation from the one
        above.

        First after 4.5s delay we animate the transform property to move the hint
        into its correct position and after that we fade it in with opacity
        transition.
    */
    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
    transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}

/*
    And as the last thing there is a workaround for quite strange bug.
    It happens a lot in Chrome. I don't remember if I've seen it in Firefox.

    Sometimes the element positioned in 3D (especially when it's moved back
    along Z axis) is not clickable, because it falls 'behind' the <body>
    element.

    To prevent this, I decided to make <body> non clickable by setting
    pointer-events property to `none` value.
    Value if this property is inherited, so to make everything else clickable
    I bring it back on the #impress element.

    If you want to know more about `pointer-events` here are some docs:
    https://developer.mozilla.org/en/CSS/pointer-events

    There is one very important thing to notice about this workaround - it makes
    everything 'unclickable' except what's in #impress element.

    So use it wisely ... or don't use at all.
*/
.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }

