/*! Blog */
// ==========================================================================

/* Home/Blog */

.parallax-section.blog {
    background-color: #fff;
    height: 20vh;
}

.parallax-section.blog .intro h1 {
    color: #211716;
}

.parallax-section.blog .intro::after {
    background: #211716;
}

.content-body {
    padding-top: 2em;
	padding-bottom: 4em;
    padding-left: 300px;
    color: @dark-brown;
    background: @white;
}

.content-body h3,
.content-body h4,
.content-body h5,
.content-body h6 {
    color: @dark-brown;
}

.content-body a {
    text-decoration: none;
}

.content-body ul,
.content-body ol {
    margin: 2em 0;
    padding: 0 0 0 1em;
    line-height: 1.9;
}

.row-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
}

.col-main,
.col-aside {
    position: relative;
    min-height: 1px;
    float: left;
    background-color: @white;
}

.col-main {
    width: 66.66666667%;
}

.col-aside {
    width: 33.33333333%;
}

.post {
	background: #fff;
	padding: 30px;
}

.entry-title {
    font-family: 'latoregular', sans-serif;
    font-weight: 400;
	text-align: center;
	font-size: 1.750em;
	margin-bottom: 20px;
	line-height: 1.6;
	padding: 10px 20px 0;
    color: #211716;
}

.entry-meta {
	text-align: center;
	color: #807a78;
	font-size: 13px;
	letter-spacing: 1px;
	margin-bottom: 30px;
}

.entry-meta a {
    color: #807a78;
}

.entry-content {
	font-size: 18px;
	line-height: 1.9;
	color: #211716;
}

.post-category,
.post-date,
.post-author {
	position: relative;
	padding-right: 15px;
    line-height: 2;
}

.post-category::after,
.post-date::after,
.post-author::after {
	position: absolute;
	content: '.';
	color: #000;
	font-size: 30px;
	top: -30px;
	right: 1px;
}

/* Read More Button CSS 3 style */

.read-more {
    font-family: 'latoregular', sans-serif;
    font-weight: 400;
	word-spacing: 1px;
	letter-spacing: 0.01em;
	text-align: center;
	margin-top: 20px;
}

.cl-effect-14 a {
	padding: 0 20px;
	height: 45px;
	line-height: 45px;
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

.cl-effect-14 a::before,
.cl-effect-14 a::after {
	position: absolute;
	width: 45px;
	height: 1px;
	background: #C3C3C3;
	content: '';
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}

.cl-effect-14 a::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.cl-effect-14 a::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::before,
.cl-effect-14 a:focus::after {
	background: #000;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:focus::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}


/* Widget */

.widget {
    background: #fff;  
    padding: 30px 0 0 20px;  
}

.widget-title {  
	font-size: 1.355em;  
	margin-bottom: 20px;  
	line-height: 1.6;  
	padding: 10px 0 0;
	font-weight: 400;
    color: #211716;
}

.widget-recent-posts ul {
    padding: 0;
    margin: 0;
    padding-left: 20px;
}

.widget-recent-posts ul li {
    list-style-type: none;
    position: relative;
    line-height: 170%;
    margin-bottom: 10px;
}

.widget-recent-posts ul li::before {
    content: '\f3d3';
    font-family: "Ionicons";
    position: absolute;
    left: -17px;
    top: 3px;
    font-size: 16px;
    color: #000;
}

.widget-archives ul {
    padding: 0;
    margin: 0;
    padding-left: 25px;
}

.widget-archives ul li {
    list-style-type: none;
    position: relative;
    line-height: 170%;
    margin-bottom: 10px;
}

.widget-archives ul li::before {
    content: '\f3f3';
    font-family: "Ionicons";
    position: absolute;
    left: -25px;
    top: 1px;
    font-size: 16px;
    color: #000;
}

.widget-category ul {
    padding: 0;
    margin: 0;
    padding-left: 25px;
}

.widget-category ul li {
    list-style-type: none;
    position: relative;
    line-height: 170%;
    margin-bottom: 10px;
}

.widget-category ul li::before {
    content: '\f3fe';
    font-family: "Ionicons";
    position: absolute;
    left: -25px;
    top: 1px;
    font-size: 18px;
    color: #000;
}

.widget-subscribe {
    border-top: 1px solid @grey;
    border-bottom: 1px solid @grey;
    padding: 0em 2em 2em;
    margin: 4em auto;
}


/* Header Search Bar */

#header-search-box {
	position: absolute;
	right: 38px;
	top: 8px;
}

.search-form {
	display: none;
	width: 25%;
	position: absolute;
	min-width: 200px;
	right: -6px;
	top: 33px;
}

#search-menu span {
	font-size: 20px;
}

#searchform {
    position: relative;
	border: 1px solid #ddd;
	min-height: 42px;
}

#searchform input[type=search] {
	width: 100%;
	border: none;
	position: absolute;
	left: 0;
	padding: 10px 30px 10px 10px;
	z-index: 99;
}

#searchform button {
	position: absolute;
	right: 6px;
	top: 4px;
	z-index: 999;
	background: transparent;
	border: 0;
	padding: 0;
}

#searchform button span {
	font-size: 22px;
}

#search-menu span.ion-ios-close-empty {
    font-size: 40px;
    line-height: 0;
    position: relative;
    top: -6px;
}

/* Subscribe sidebar */
.subscribe-widgetbar {
    position: relative;
    padding: 0 50px;
}



/* Single page Blog */
blockquote {
    border-left: 5px solid @light-grey;
    font-style: italic;
    line-height: 22px;
    margin: 2em 0;
    padding: 0 0 0 1em;
    line-height: 1.8;
}

.next-prev {
    border-bottom: 1px solid @grey;
    border-top: 1px solid @grey;
    margin: 2em 0 4em;
    padding: 15px 0 10px;
}

.prev-post,
.next-post {
    margin: 0 0 2em;
}

.prev-post {
    float: left;
}

.next-post {
    float: right;
}

.prev-post::before,
.next-post::before {
    font-family: 'Ionicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
    display: block;
    color: @dark-brown;
    font-size: 1.750em;
    text-align: center;
}

.prev-post::before {
    content: '\f2ca';
}

.next-post::before {
    content: '\f30f';
}

.next-prev a:hover,
.prev-post:hover::before,
.next-post:hover::before {
    color: @grey;
}

.comment-reply-form > h3,
.author-about > h4,
.comments > h4 {
    border-bottom: 1px solid @grey;
    margin-bottom: 15px;
    margin-top: 0;
    padding-bottom: 10px;
    position: relative;
}

.post-item .comments-section {
    margin-top: 35px;
}

.comment-list ul {
    margin-top: 20px;
}

.comment-list li {
    margin-bottom: 20px;
}

.comment-wrap {
	border-top: 1px dotted @grey;
    border-bottom: 1px dotted @grey;
	border-radius: 1px;
	margin-left: 20px;
	padding: 10px;
	position: relative;
}

.comment-wrap .author-avatar {
	margin-left: -25px;
	margin-right: 20px;
}

.author-comment {
    margin-bottom: 15px;
    overflow: hidden;
}

.author-comment cite a:hover,
.replay:hover {
    color: @grey;
    text-decoration: underline;
}

.author-comment cite {
    margin-bottom: 2px;
    padding-top: 4px;
}

.comment-content {
    margin-left: 45px;
}

.comment-list ul li {
    padding-left: 25px;
}

.comment-reply-form {
    margin-top: 80px;
}

#comment-form {
    margin-top: 35px;
}

#comment-form .form-control:hover {
    border-color: #C4BB18;
}

.form-group:last-child,
.form-group:last-child input {
  margin: 0;
}



/* Media Query */
@media screen and (max-width: 1024px) {
    .content-body {
        padding-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .row-main {
        display: block;
    }
    .col-main,
    .col-aside {
        width: 100%;
    }
}

@media (max-width: 431px) {
	.post {
		background: #fff;
		padding: 0 10px 0;
	}

	.more-link {
		font-size: 0.9em;
		line-height: 100%;
	}
}


