/*! Gridder */
// ==========================================================================

.gridder {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    /*font-size: 0;*/
}

.gridder-list {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    /*font-size: 24px;*/
}

.gridder-show {
    /*display: block;
    float: left;
    width: 100%;
    position: relative;
    background: #EEE url("../images/loading-spin.svg") no-repeat center*/
}

.gridder-show.loading {
    background: #EEE url("../images/loading-spin.svg") no-repeat center
}

.gridder-content{display:none}

/*.gridder-list{width:15.83333%}

.gridder-list:nth-child(n){margin-bottom:1%;margin-right:1%}

.gridder-list:nth-of-type(6n){margin-right:0;margin-bottom:0}*/

.gridder-show {
    margin: 0;
    padding-bottom: 1%;
    padding-top: 1%;
    display: block;
    float: left;
    width: 100%;
    position: relative;
    background-color: #39312e;
    border-top: 1px solid #807a78;
    border-bottom: 1px solid #807a78;
}

.gridder-navigation .gridder-nav.disabled {
    opacity: .5;
}

.gridder-nav {
    display: none;
}

.work-gridder .gridder-nav {
    display: block;
}

.gridder-list:hover {
    /*opacity: 0.8;*/
}

.hasSelectedItem .gridder-list {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.work-gridder .hasSelectedItem .gridder-list {
    opacity: 0.2;
}

.work-gridder .hasSelectedItem .gridder-list.selectedItem {
    opacity: 1;
}

.hasSelectedItem .gridder-list.selectedItem figure::after {
	top: auto;
    bottom: 0;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #c1bfbf;
	border-width: 15px;
	left: 50%;
	margin: -30px 0 0 -15px;
}



.gridder {
    /*margin:0px;
    padding:0px;
    list-style-type:none;
    font-size:0;*/
}

.gridder-list,
.gridder-show {
    /*font-size:16px;*/
}

.gridder-list {
    /*display:inline-block;
    vertical-align:top;*/
}

.gridder-content {
    display: none;
}

.gridder-padding {
    padding: 3em 0;
}


/* Gridder expanded */
.row {
	/*display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	box-direction: normal;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;*/
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    /*-webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;*/
}

.row-img {
	/*-webkit-box-flex: 0;
	-moz-box-flex: 1;
	box-flex: 0;

	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	box-ordinal-group: 1;
    
    width: 33.33333333333333%;*/
    
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333333333333%;
        -ms-flex: 0 0 33.33333333333333%;
            flex: 0 0 33.33333333333333%;
}

.row-copy {
	/*-webkit-box-flex: 0;
	-moz-box-flex: 2;
	box-flex: 0;

	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	box-ordinal-group: 1;*/
    
    /*width: 58.66666666666666%;*/
    margin-left: 4%;
    margin-right: 4%;
    
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.66666666666666%;
        -ms-flex: 0 0 58.66666666666666%;
            flex: 0 0 58.66666666666666%;
}

.row-copy-x3 {
	/*-webkit-box-flex: 0;
	-moz-box-flex: 2;
	box-flex: 0;

	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	box-ordinal-group: 1;
    
    width: 25.33333333333333%;*/
    margin-left: 4%;
    margin-right: 4%;
    
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25.33333333333333%;
        -ms-flex: 0 0 25.33333333333333%;
            flex: 0 0 25.33333333333333%;
}

.row h2 {
	font-family: 'latolight', sans-serif;
	font-weight: 300;
    font-size: 1.750em;
    text-transform: uppercase;
}

.row h2 span {
    font-family: 'latobold', sans-serif;
	font-weight: 700;
}

.row h2::after {
    position: relative;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 5%;
    height: 1px;
    background: #fff;
    content: '';
}

.row p,
.row li {
    font-size: 1.250em;
    line-height: 1.7;
}

.row p {
    margin: 0.650em 0;
}

.row img {
    width: 100%;
    height: auto;
    display: -moz-box;
    -moz-box-flex: 1;
}

.gridder-close,
.gridder-nav {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    text-decoration: none;
}

.gridder-close {
	right: 20px;
}

.gridder-nav.prev {
	right: 100px;
}

.gridder-nav.next {
	right: 60px;
}

.gridder-close:before,
.gridder-nav:before {
	font-family: 'Ionicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
    display: block;
	margin-bottom: 10px;
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.gridder-close:before {
    content: '\f405';
}

.gridder-nav.prev:before {
    content: '\f3d2';
}

.gridder-nav.next:before {
    content: '\f3d3';
}

.gridder-close:hover::before,
.gridder-close:hover::after {
	/*background: #333;*/
}

@media screen and (max-width: 768px) {
    .row {
        display: block;
    }
}


