/*********************************************
  * Filename: style.css
  * Website: http://sokvist.com/
  * Author: Sokvist
  * Author URI: http://sokvist.com
  * Date: 08/12/2015
  * Version: 2.0
*********************************************/

/*
    - General CSS
    - Header
    - Home/portfolio
*/

@import "reset.less";
@import "variables.less";
@import "mixins.less";


// General CSS
// ---------------------------------------------------------------------------

body {
    font-family: 'latolight', sans-serif;
    font-weight: 300;
    color: @white;
    background: @grey;
}

.wrapper{
    width: 92.72727272727273%;
    margin: 0 auto;
}

header ul.social li a,
.main .grid a .caption,
header nav ul li a,
.language ul li a,
.subscribe-form input,
.subscribe-sidebar input,
.subscribe-widgetbar input,
.subscribe-btn,
.footer a,
.footer ul.social li a::before,
.cd-project-info a {
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
}

h1, h2, h3, h4, h5 ,h6 {
    color: #fff;
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.35em; margin: .83em 0 }
h4              { font-size: 1.27em; margin: 1.25em 0 }
h5              { font-size: 1.12em; margin: 1.5em 0 }
h6              { font-size: .93em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-family: 'latobold', sans-serif; font-weight: 700 }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}


// Header
// ---------------------------------------------------------------------------
header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 199px;
    border-right: 1px solid #807a78;
    min-height: 100%;
    padding: 0 50px;
    background: @white; 
    float: left;
    overflow: hidden;
    z-index: 9999;
}

.home header,
.page-portfoli header,
.page-about header {
    background: @grey;
}

header .logo {
    margin-top: 20px;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-transform-origin: top left;
    transform-origin: top left;

}

header .logo::after {
    position: absolute;
    top: 100%;
    left: 10px;
    width: 25%;
    height: 2px;
    background: @light-grey;
    content: '';
    margin-top: 20%;
}

.home .logo::after,
.page-portfoli .logo::after,
.page-about .logo::after {
    background: @brown;
}

.logo-mobile {
    display: none;
}

.language {
    position: absolute;
    top: 0;
    left: 212px;
    width: auto;
    text-align: center;
    text-transform: uppercase;
    font-family: 'latoregular', sans-serif;
    font-weight: 400;
    z-index: 1;
}

.language ul {
    margin: 0;
    padding: 0;
}

.language ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.language ul li:last-child {
    /*border-left: 1px solid #546c30;*/
}

.language ul .active {
    display: none;
}

.language ul li a {
    display: block;
    color: @grey;
    background: @white;
    text-decoration: none;
    font-size: 12px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-top: 1px solid transparent;
}

.home .language ul li a,
.page-portfoli .language ul li a,
.page-about .language ul li a {
    color: @light-grey;
    background: @grey;
}

.language ul li a:hover,
.language ul li a:focus {
    color: @dark-brown;
    border-top-color: @brown;
}


.main-menu {
    margin: -5px 0 0 15px;
}

/* Effect 8: border slight translate */
.main-menu li {
    margin: 0;
    padding: 0;
}

.main-menu a {
    position: relative;
    display: inline-block;
    margin: 7px 0 7px -15px;
    outline: none;
    color: @dark-brown;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1em;
}

.home .main-menu a,
.page-portfoli .main-menu a,
.page-about .main-menu a {
    color: @white;
}

.main-menu a:hover,
.main-menu a:focus {
    outline: none;
}

.main-menu a {
    padding: 7px 20px;
}

.main-menu a::before,
.main-menu a::after  {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid @white;
    content: '';
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.home .main-menu a::before,
.page-portfoli .main-menu a::before,
.page-about .main-menu a::before,
.home .main-menu a::after,
.page-portfoli .main-menu a::after,
.page-about .main-menu a::after {
    border: 1px solid @grey;
}

.main-menu a::after  {
    border-color: #39312e;
    opacity: 0;
    -webkit-transform: translateY(-7px) translateX(6px);
    -moz-transform: translateY(-7px) translateX(6px);
    transform: translateY(-7px) translateX(6px);
}

.home .main-menu a::after,
.page-portfoli .main-menu a::after,
.page-about .main-menu a::after {
    border-color: @brown;
}

.main-menu a:hover::before,
.cl-effect-8 a:focus::before {
    opacity: 0;
    -webkit-transform: translateY(5px) translateX(-5px);
    -moz-transform: translateY(5px) translateX(-5px);
    transform: translateY(5px) translateX(-5px);
}

.main-menu a:hover::after,
.main-menu a:focus::after  {
    opacity: 1;
    -webkit-transform: translateY(0px) translateX(0px);
    -moz-transform: translateY(0px) translateX(0px);
    transform: translateY(0px) translateX(0px);
}

.main-menu .current_page_item a  {
    color: #c1bfbf;
    cursor: default;
}

.main-menu .current_page_item a::before,
.main-menu .current_page_item a::after  {
    border-color: transparent;
}



/* Subscribe form */
.subscribe-form {
    margin-top: 3em;
}

.subscribe-form p,
.subscribe-sidebar p {
    text-transform: uppercase;
    margin: 10px 0;
    letter-spacing: 1px;
}

.subscribe-form p {
    color: @grey;
}

.home .subscribe-form p,
.page-portfoli .subscribe-form p,
.page-about .subscribe-form p {
    color: @light-grey;
}

.subscribe-sidebar p,
.subscribe-widgetbar p {
    color: @white;
}

.home .subscribe-sidebar p,
.page-portfoli .subscribe-sidebar p,
.page-about .subscribe-sidebar p {
    color: @white;
}

.subscribe-form input::-webkit-input-placeholder,
.subscribe-sidebar::-webkit-input-placeholder,
.subscribe-widgetbar::-webkit-input-placeholder,
#comment-form::-webkit-input-placeholder {
    color: #c1bfbf !important;
}
.subscribe-form input:-moz-placeholder,
.subscribe-sidebar:-moz-placeholder,
.subscribe-widgetbar:-moz-placeholder,
#comment-form:-moz-placeholder {
    color: #c1bfbf !important;
}
.subscribe-form input::-moz-placeholder,
.subscribe-sidebar::-moz-placeholder,
.subscribe-widgetbar::-moz-placeholder,
#comment-form::-moz-placeholder {
    color: #c1bfbf !important;
}
.subscribe-form input:-ms-input-placeholder,
.subscribe-sidebar:-ms-input-placeholder,
.subscribe-widgetbar:-ms-input-placeholder,
#comment-form:-ms-input-placeholder {
    color: #c1bfbf !important;
}

.subscribe-form input[type="text"],
.subscribe-form input[type="email"],
.subscribe-form input[type="submit"],
.subscribe-sidebar input[type="text"],
.subscribe-sidebar input[type="email"],
.subscribe-sidebar input[type="submit"],
.subscribe-widgetbar input[type="text"],
.subscribe-widgetbar input[type="email"],
.subscribe-widgetbar input[type="submit"],
#comment-form input[type="text"],
#comment-form input[type="email"],
#comment-form input[type="submit"],
#comment-form textarea {
    width: 100%;
    margin: 7px 0;
    padding: 7px 0;
    border: none;
    font-family: 'latolight', sans-serif;
    font-weight: 300;
    font-size: 1em;
    background: transparent;
    border-radius: 0;
}

.subscribe-form input[type="text"],
.subscribe-form input[type="email"],
.subscribe-sidebar input[type="text"],
.subscribe-sidebar input[type="email"],
.subscribe-widgetbar input[type="text"],
.subscribe-widgetbar input[type="email"],
#comment-form input[type="text"],
#comment-form input[type="email"]  {
    border-bottom: 1px dotted @grey;
}

.home .subscribe-form input[type="text"],
.page-portfoli .subscribe-form input[type="text"],
.page-about .subscribe-form input[type="text"],
.home .subscribe-form input[type="email"],
.page-portfoli .subscribe-form input[type="email"],
.page-about .subscribe-form input[type="email"],
.home .subscribe-sidebar input[type="text"],
.page-portfoli .subscribe-sidebar input[type="text"],
.page-about .subscribe-sidebar input[type="text"],
.home .subscribe-sidebar input[type="email"],
.page-portfoli .subscribe-sidebar input[type="email"],
.page-about .subscribe-sidebar input[type="email"]{
    border-bottom: 1px dotted @brown;
}

.subscribe-form input[type="submit"],
.subscribe-sidebar input[type="submit"],
.subscribe-widgetbar input[type="submit"],
#comment-form input[type="submit"] {
    border: 1px solid @grey;
    color: @grey;
    margin-top: 12px;
}

.home .subscribe-form input[type="submit"],
.page-portfoli .subscribe-form input[type="submit"],
.page-about .subscribe-form input[type="submit"],
.home .subscribe-sidebar input[type="submit"],
.page-portfoli .subscribe-sidebar input[type="submit"],
.page-about .subscribe-sidebar input[type="submit"] {
    border: 1px solid @brown;
    color: @brown;
}

.subscribe-form input[type="submit"]:hover,
.subscribe-sidebar input[type="submit"]:hover,
.subscribe-widgetbar input[type="submit"]:hover,
#comment-form input[type="submit"]:hover {
    color: @white;
    background-color: @grey;
}

.home .subscribe-form input[type="submit"]:hover,
.page-portfoli .subscribe-form input[type="submit"]:hover,
.page-about .subscribe-form input[type="submit"]:hover,
.home .subscribe-sidebar input[type="submit"]:hover,
.page-portfoli .subscribe-sidebar input[type="submit"]:hover,
.page-about .subscribe-sidebar input[type="submit"]:hover {
    color: @light-grey;
    background-color: @brown;
}

/* Subscribe button */
.subscribe-btn {
    display: none;
    color: @grey;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 12px;
    border: 1px solid @grey;
    margin-top: 30px;

/* Underline reveal */
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.home .subscribe-btn,
.page-portfoli .subscribe-btn,
.page-about .subscribe-btn {
    color: @light-grey;
    border: 1px solid @light-grey;
}

.subscribe-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: @grey;
    height: 5px;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.subscribe-btn:hover:before,
.subscribe-btn:focus:before,
.subscribe-btn:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

/* Subscribe sidebar */
.subscribe-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    min-height: 100%;
    padding: 0 50px;
    background: @white;
    color: white;
    z-index: 999999;
    overflow: hidden;
    -webkit-transform: translate3d(-300px,0,0);
    transform: translate3d(-300px,0,0);
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.home .subscribe-sidebar,
.page-portfoli .subscribe-sidebar,
.page-about .subscribe-sidebar {
    background: @grey;
}

.subscribe-sidebar.opened {
    -webkit-transform: translate3d(0,0,0);
   transform: translate3d(0,0,0);
}

.modal-close-btn {
    position: absolute;
	width: 32px;
	height: 32px;
	top: 10px;
	right: 10px;
	cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    text-decoration: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s 0s;
    -moz-transition: -moz-transform 0.4s 0s;
    transition: transform 0.4s 0s;
}

.modal-close-btn:before {
	font-family: 'Ionicons';
    content: '\f405';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
    display: block;
    color: #c1bfbf;
    font-size: 32px;
    text-align: center;
}

.modal-close-btn:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.gridder-close:before {
	font-family: 'Ionicons';
    content: '\f405';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
    display: block;
	margin-bottom: 10px;
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.sidebar-block {
    margin-top: 30vh;
}




.footer {
    position: absolute;
    bottom: 20px;
    left: 50px;
}

.footer ul.social{
    list-style: none;
    margin-bottom: 10px;
}

.footer ul.social li {
    display: block;
    float: left;
    position: relative;
    width: 36px;
    height: 36px;
    margin: 0 6px 0 0;
}

.footer ul.social li a {
	position: absolute;
	width: 36px;
	height: 36px;
	cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    text-decoration: none;
}

.footer ul.social li a::before {
	font-family: 'Ionicons';
    content: '\f405';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 34px;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
    display: block;
	margin-bottom: 10px;
    color: @grey;
    font-size: 24px;
    text-align: center;
    border: 1px solid @grey;
    border-radius: 50%;
}

.home .footer ul.social li a::before,
.page-portfoli .footer ul.social li a::before,
.page-about .footer ul.social li a::before {
    color: @light-grey;
    border: 1px solid @light-grey;
}

.footer ul.social li.facebook a::before {
    content: '\f230';
}

.footer ul.social li.twitter a::before {
    content: '\f242';
}

.footer ul.social li.googleplus a::before {
    content: '\f234';
}

.footer ul.social li.facebook a:hover::before {
    color: rgba(59, 89, 152, 1);
    border-color: rgba(59, 89, 152, 1);
}

.footer ul.social li.twitter a:hover::before {
    color: rgba(0, 172, 237, 1);
    border-color: rgba(0, 172, 237, 1);
}

.footer ul.social li.googleplus a:hover::before {
    color: rgba(211, 72, 54, 1);
    border-color: rgba(211, 72, 54, 1);
}

.footer ul.social li a:hover::before,
.footer ul.social li a:hover::after {
	/*background: #333;*/
}


.footer .contact p {
    color: #39312e;
    font-family: 'latoregular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: left;
}

.footer .contact a {
    text-decoration: none;
    padding: .350em;
    color: @grey;
}

.home .footer .contact a,
.page-portfoli .footer .contact a,
.page-about .footer .contact a {
    color: @light-grey;
}

.footer .contact a:hover {
    color: @orange;
}

#menu_icon,
.close_menu{
    display: none;
}


#menu_icon,
.close_menu {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    z-index: 99999;
}

#menu_icon::before,
.close_menu::before {
	font-family: 'Ionicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 36px;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
    display: block;
	margin-bottom: 10px;
    font-size: 32px;
    text-align: center;
    border-radius: 2px;
}

#menu_icon::before {
    content: '\f20e';
    color: #c1bfbf;
    border: 1px solid #c1bfbf;
}

#menu_icon.close_menu::before {
    content: '\f2d7';
    color: #211716;
    border: 1px solid #39312e;
}


/*  Main  */
.main {
    width: 100%;
    height: 100%;
    padding-left: 300px;
    padding-top: 2em;
    padding-bottom: 3em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 55;
    background: #39312e;
    clear: both;
}

.parallax-section {
    height: 30vh;
    padding-left: 300px;
    background-color: #39312e;
}

.parallax-section .intro {
    position: fixed;
    margin: 3vh 0 0 40px;
    padding: 1em 0;
}

.parallax-section .intro::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 20%;
    height: 1px;
    background: #fff;
    content: '';
    margin-top: 1%;
}

.parallax-section .intro h1 {
    font-family: 'latoregular', sans-serif;
    font-weight: 400;
    font-size: 3em;
    margin: 0.350em 0;
}

.parallax-section .intro h1 span {
    font-family: 'latobold', sans-serif;
	font-weight: 700;
}

.parallax-section .intro p {
    font-size: 2em;
    margin: 0.350em 0;
}


// Home/portfolio
// ---------------------------------------------------------------------------
.main .grid {
    display: inline-block;
    width: 33.33333333333333%;
    height: auto;
    margin: 0;
    padding: 0;
}

.main .grid .media.square {
    width: 90%;
    height: 90%;
    padding: 5%;
}


/* http://tympanus.net/codrops/2014/06/19/ideas-for-subtle-hover-effects/ */
/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
    width: 100%;
    height: auto;
	opacity: 0.9;
}

.grid figure figcaption {
	/*padding: 2em;*/
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	font-family: 'latolight', sans-serif;
	font-weight: 300;
    font-size: 1.850em;
}

.grid figure h2 span {
    font-family: 'latobold', sans-serif;
	font-weight: 700;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 75%;
}


/*---------------*/
/***** Marley *****/
/*---------------*/

figure.effect-marley figcaption {
	text-align: right;
}

figure.effect-marley img {
    opacity: 0.5;
}

figure.effect-marley h2,
figure.effect-marley p {
	position: absolute;
	right: 30px;
	left: 30px;
	padding: 10px 0;
}


figure.effect-marley p {
	bottom: 30px;
	line-height: 1.5;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-marley h2 {
	top: 40%;
	-webkit-transition: -webkit-transform 0.55s;
	transition: transform 0.55s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-marley:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-marley h2::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-marley h2::after,
figure.effect-marley p {
	opacity: 0;
	-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
	transition: opacity 0.55s, transform 0.55s;
}

figure.effect-marley:hover h2::after,
figure.effect-marley:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/*---------------*/
/***** Honey *****/
/*---------------*/

figure.effect-honey {
	background: #39312e;
}

figure.effect-honey img {
	opacity: 0.9;
	-webkit-transition: opacity 0.55s;
	transition: opacity 0.55s;
}

figure.effect-honey:hover img {
	opacity: 0.5;
}

figure.effect-honey figcaption::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-honey h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1em 1.5em 0.5em;
	width: 100%;
	text-align: left;
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.effect-honey figcaption::before,
figure.effect-honey h2 {
	-webkit-transition: -webkit-transform 0.55s;
	transition: transform 0.55s;
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h2 {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/*---------------*/
/***** Sarah *****/
/*---------------*/

figure.effect-sarah {
	/*background: #42b078;*/
}

figure.effect-sarah img {
	max-width: none;
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
	transition: opacity 0.55s, transform 0.55s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-sarah:hover img {
	opacity: 0;
	-webkit-transform: translate3d(10px,0,0);
	transform: translate3d(10px,0,0);
}

figure.effect-sarah h2 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
    margin-top: 15%;
}

figure.effect-sarah h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.55s;
	transition: transform 0.55s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect-sarah:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah p {
	padding: 1em;
    line-height: 1.5;
	opacity: 0;
	-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
	transition: opacity 0.55s, transform 0.55s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.effect-sarah:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/*---------------*/
/***** Roxy *****/
/*---------------*/

figure.effect-roxy {
	
}

figure.effect-roxy img {
	max-width: none;
	width: -webkit-calc(100% + 60px);
	width: calc(100% + 60px);
	-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
	transition: opacity 0.55s, transform 0.55s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-roxy figcaption {
	padding: 2em;
	text-align: left;
}

figure.effect-roxy h2 {
	padding: 10% 0 10px 0;
}

figure.effect-roxy p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
}

figure.effect-roxy:hover img {
	opacity: 0.7;
	-webkit-transform: translate3d(30px,0,0);
	transform: translate3d(30px,0,0);
}

figure.effect-roxy:hover figcaption::before,
figure.effect-roxy:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
	/*background: #39312e;*/
}

figure.effect-bubba img {
	-webkit-transition: opacity 0.55s;
	transition: opacity 0.55s;
}

figure.effect-bubba.bubba1 img {
	opacity: 0.5;
}

figure.effect-bubba.bubba2 img,
figure.effect-bubba.bubba3 img {
	opacity: 0.9;
}

figure.effect-bubba:hover img {
	opacity: 0.2;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
	transition: opacity 0.55s, transform 0.55s;
}

figure.effect-bubba.bubba1 figcaption::before {
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba.bubba2 figcaption::after {
	border-top: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba.bubba3 figcaption::after {
	border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba h2 {
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.55s;
	transition: transform 0.55s;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

figure.effect-bubba.bubba3 h2 {
    padding-top: 45%;
    font-size: 1.250em;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

figure.effect-bubba p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
	transition: opacity 0.55s, transform 0.55s;
	-webkit-transform: translate3d(0,30px,0);
	transform: translate3d(0,30px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*---------------*/
/***** Julia *****/
/*---------------*/

figure.effect-julia {
	/*background: #2f3238;*/
}

figure.effect-julia img {
	max-width: none;
	/*height: 400px;*/
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-julia figcaption {
	text-align: left;
}

figure.effect-julia h2 {
	position: relative;
	padding: 2em 1em;
    text-align: center;
    /*background: rgba(0,153,153,0.25);*/
}

figure.effect-julia p {
	margin: 0;
	padding: 1em 3em;
    line-height: 1.5;
	opacity: 0;
	-webkit-transition: opacity 0.75s, -webkit-transform 0.75s;
	transition: opacity 0.75s, transform 0.75s;
	-webkit-transform: translate3d(0,10px,0) scale(1);
	transform: translate3d(0,10px,0) scale(1);
} 

figure.effect-julia:hover img {
	opacity: 0.4;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

figure.effect-julia:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(0.9);
	transform: translate3d(0,0,0) scale(0.9);
}

/*---------------*/
/***** Ruby *****/
/*---------------*/

figure.effect-ruby {
	/*background-color: #17819c;*/
}

figure.effect-ruby img {
	opacity: 0.9;
	-webkit-transition: opacity 0.75s, -webkit-transform 0.75s;
	transition: opacity 0.75s, transform 0.75s;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-ruby:hover img {
	opacity: 0.4;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

figure.effect-ruby h2 {
	margin-top: 20%;
    font-size: 1.250em;
	-webkit-transition: -webkit-transform 0.75s;
	transition: transform 0.75s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-ruby p {
	margin: 1em 0 0;
	padding: 3em;
	border: 1px solid #fff;
    line-height: 1.5;
	opacity: 0;
	-webkit-transition: opacity 0.75s, -webkit-transform 0.75s;
	transition: opacity 0.75s, transform 0.75s;
	-webkit-transform: translate3d(0,20px,0) scale(1);
	transform: translate3d(0,20px,0) scale(1);
} 

figure.effect-ruby:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-ruby:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(0.9);
	transform: translate3d(0,0,0) scale(0.9);
}



footer {
    /*width: 100%;
    height: 100%;
    padding-left: 300px;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 56;
    border-top: 1px solid rgba(33,23,22,0.5);
    background: rgba(33,23,22,0.2);
    clear: both;
    font-size: 0.850em;
    line-height: 1.5;
    text-align: center;*/
}

footer p {
    /*margin: 0 3em;
    color: #807a78;*/
}

footer p a {
    /*color: #807a78;
    text-decoration: none;
    border-bottom: 1px dotted #807a78;
    margin: .150em .350em;*/
}



/*  Responsive code  */
@media screen and (max-width: 1024px){
    header {
        left: 0;
        -webkit-transform: translate3d(-300px,0,0);
        transform: translate3d(-300px,0,0);
        transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
    }
    header.show_menu {
        
        -webkit-transform: translate3d(0,0,0);
	   transform: translate3d(0,0,0);
    }
    header .logo {
        display: none;
    }
    header .logo::after {
        position: absolute;
        top: 100%;
        left: 10px;
        width: 25%;
        height: 2px;
        background: #39312e;
        content: '';
        margin-top: 20%;
    }
    .logo-mobile {
        display: block;
        position: fixed;
        top: 10px;
        right: 20px;
        max-width: 60px;
        z-index: 9999;
        -webkit-transform: rotate(12deg);
        transform: rotate(12deg);
    }
    #menu_icon,
    .close_menu,
    .show_menu {
        display: block;
    }
    .show_menu {
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
    }
    .main-menu {
        margin-top: 30px;
        margin-left: 65px;
    }
    .language {
        top: 78px;
        left: 10px;
    }
    .language ul li {
        display: inline;
    }
    .language ul li a,
    .language ul li a:hover {
        border-top-width: 0;
    }
    .parallax-section {
        padding-top: 50px;
        padding-left: 20px;
    }
    .parallax-section .intro h1 {
        font-size: 2em;
    }

    .parallax-section .intro p {
        font-size: 1.350em;
    }
    .main .grid {
        width: 50%;
    }
    .main {
        width: 100%;
        position: relative;
        padding-left: 0;
    }
    footer {
        padding-left: 1em;
    }
}

@media screen and (max-width: 550px) {
     .main .grid {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .parallax-section .intro h1 {
        font-size: 2em;
    }

    .parallax-section .intro p {
        font-size: 1.350em;
    }
}

@media screen and (max-height: 700px) {
    .subscribe-form {
        display: none;
    }
    .subscribe-btn {
        display: inline-block;
    }
}



// Pages & plugins
// ---------------------------------------------------------------------------

@import "gridder.less";
@import "portfoli.less";
@import "about.less";
@import "blog.less";
@import "plugins.less";

