/*! About */
// ==========================================================================

.projects-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    margin-left: 0;
    background: #39312e;
}

.projects-container::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
}

.projects-container .cd-single-project {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    /* on mobile -  move items outside the viewport */
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.projects-container .cd-single-project::after {
    /* background image */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100%;
    background-image: url(../images/img-1-small.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-transition: opacity 0.5s, height 0.4s;
    -moz-transition: opacity 0.5s, height 0.4s;
    transition: opacity 0.5s, height 0.4s;
}

.projects-container .cd-single-project::before {
    /* never visible - this is used in jQuery to detect if the background image has been loaded  */
    content: '../wp-content/themes/sokvist-v2/assets/images/img-1-small.jpg';
    display: none;
}

.projects-container .cd-single-project:nth-of-type(2) {
    top: 50vh;
}

.projects-container .cd-single-project:nth-of-type(2)::after {
    background-image: url("../images/img-2-small.jpg");
}

.projects-container .cd-single-project:nth-of-type(2)::before {
    content: '../wp-content/themes/sokvist-v2/assets/images/img-2-small.jpg';
}

.projects-container .cd-single-project.is-loaded {
    /* move items in the viewport when background images have been loaded */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.projects-container .cd-single-project.is-full-width {
    /* selected item */
    top: 0;
    height: auto;
    z-index: 1;
    cursor: auto;
    -webkit-transition: z-index 0s 0s, top 0.4s 0s;
    -moz-transition: z-index 0s 0s, top 0.4s 0s;
    transition: z-index 0s 0s, top 0.4s 0s;
}

.projects-container .cd-single-project.is-full-width::after {
    height: 100vh;
}

@media only screen and (min-width: 1025px) {
    .projects-container {
        width: ~"calc(100vw - 300px)";
        margin-left: 300px;
    }
    .projects-container::before {
        /* never visible - this is used in jQuery to check the current MQ */
        content: 'desktop';
    }
    .projects-container .cd-single-project {
        width: ~"calc(50vw - 150px)";
        height: 100%;
        opacity: 0;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: width 0s;
        -moz-transition: width 0s;
        transition: width 0s;
    }
    .projects-container .cd-single-project:first-of-type::before {
        content: '../wp-content/themes/sokvist-v2/assets/images/img-1-large.jpg';
    }
    .projects-container .cd-single-project:first-of-type::after {
        background-image: url(../images/img-1-large.jpg);
    }
    .projects-container .cd-single-project:nth-of-type(2) {
        top: 0;
        left: ~"calc(50vw - 150px)";
    }
    .projects-container .cd-single-project:nth-of-type(2)::before {
        content: '../wp-content/themes/sokvist-v2/assets/images/img-2-large.jpg';
    }
    .projects-container .cd-single-project:nth-of-type(2)::after {
        background-image: url(../images/img-2-large.jpg);
    }
    .projects-container .cd-single-project::after {
        height: 100vh;
        width: 100%;
        opacity: 0;
    }
    .projects-container .cd-single-project.is-loaded {
        /* show items when background images have been loaded */
        opacity: 1;
    }
    .projects-container .cd-single-project.is-loaded::after {
        opacity: 1;
    }
    .projects-container .cd-single-project.is-full-width {
        /* selected item */
        left: 0vw;
        width: ~"calc(100vw - 300px)";
        -webkit-transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
        -moz-transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
        transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
    }

    .projects-container .cd-single-project::after {
        background-attachment: fixed;
        /*-webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);*/
        -webkit-transition: -webkit-transform 0.8s, opacity 0.5s;
        -moz-transition: -moz-transform 0.8s, opacity 0.5s;
        transition: transform 0.8s, opacity 0.5s;

    -webkit-transform: translate3d(2px,0,0);
        transform: translate3d(2px,0,0);
    }
    .projects-container .cd-single-project.is-loaded::after {
        opacity: 0.3;
    }
    .no-touch .projects-container .cd-single-project:hover::after,
    .projects-container .cd-single-project.is-full-width.is-loaded::after {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}


.cd-title {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 12.5vh;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.is-full-width .cd-title {
    top: 50vh;
    -webkit-transition: opacity 0s, top 0.4s;
    -moz-transition: opacity 0s, top 0.4s;
    transition: opacity 0s, top 0.4s;
}

.cd-title > * {
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cd-title h2 {
    font-family: 'latoregular', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    line-height: 1.5;
}

.cd-title p {
    font-size: 1.4rem;
    font-family: 'latoregular', sans-serif;
    font-weight: 400;
    font-style: italic;
    line-height: 1.2;
    padding: .4em 2em;
    display: none;
    opacity: .6;
}


@media only screen and (min-width: 1025px) {
    .cd-title {
        top: 50vh;
        width: ~"calc(50vw - 150px)";
        opacity: 0;
        -webkit-transform: translateY(-50%) translateX(-20px);
        -moz-transform: translateY(-50%) translateX(-20px);
        -ms-transform: translateY(-50%) translateX(-20px);
        -o-transform: translateY(-50%) translateX(-20px);
        transform: translateY(-50%) translateX(-20px);
    }
    .is-loaded .cd-title {
        opacity: 1;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: -webkit-transform 0.6s, opacity 0.6s, left 0.4s;
        -moz-transition: -moz-transform 0.6s, opacity 0.6s, left 0.4s;
        transition: transform 0.6s, opacity 0.6s, left 0.4s;
    }
    .is-loaded.is-full-width .cd-title {
        left: 18vw;
        -webkit-transition: -webkit-transform 0.6s, opacity 0s, left 0.4s;
        -moz-transition: -moz-transform 0.6s, opacity 0s, left 0.4s;
        transition: transform 0.6s, opacity 0s, left 0.4s;
    }
    .cd-title p {
        display: block;
    }
    .cd-title h2 {
        font-size: 3em;
    }
}


.cd-project-info {
    clear: both;
    visibility: hidden;
    opacity: 0;
    margin-top: 100vh;
    padding: 4em 0;
    cursor: auto;
    background-color: #ffffff;
    color: #211716;
    -webkit-transition: opacity 0.4s 0s, visibility 0s 0.4s;
    -moz-transition: opacity 0.4s 0s, visibility 0s 0.4s;
    transition: opacity 0.4s 0s, visibility 0s 0.4s;
}

.is-full-width .cd-project-info {
    visibility: visible;
    opacity: 1;
}

.cd-project-info .round-img {
    display: block;
    width: 80%;
    max-width: 600px;
    margin: 0 auto 2em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.cd-project-info img {
    display: block;
    width: 220px;
    height: 220px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.cd-project-info h2,
.cd-project-info h3,
.cd-project-info p {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    line-height: 2;
}

.cd-project-info h2 {
    font-family: 'latobold', sans-serif;
	font-weight: 700;
    font-size: 2.250em;
    color: #39312e;
}

.cd-project-info h3 {
    font-family: 'latolight', sans-serif;
	font-weight: 300;
    font-size: 1.750em;
    font-style: italic;
    color: #39312e;
}

.cd-project-info h3::after {
    position: relative;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 5%;
    height: 1px;
    background: #39312e;
    content: '';
}

.cd-project-info p {
    padding: 1em 0;
    font-size: 1.150em;
    font-family: 'latoregular', sans-serif;
    font-weight: 400;
}

.cd-project-info p.tags {
    font-family: 'latolight', sans-serif;
	font-weight: 300;
    font-style: italic;
}

.cd-project-info a {
    text-decoration: none;
    color: #807a78;
    border-bottom: 1px solid #807a78;
}

.cd-project-info a:hover {
    color: #009999;
    border-bottom: none;
}


@media only screen and (min-width: 1025px) {
    .cd-project-info {
        position: relative;
        z-index: 1;
    }
}


.projects-container .cd-close,
.projects-container .cd-scroll {
    display: block;
    z-index: 1;
    font-size: 0;
    text-decoration: none;
    -webkit-transition: -webkit-transform .5s 0s, visibility 0s 1s;
    -moz-transition: -moz-transform .5s 0s, visibility 0s 1s;
    transition: transform .5s 0s, visibility 0s 1s;
}

.projects-container .cd-close {
    position: fixed;
    top: 60px;
    left: 10px;
    height: 40px;
    width: 40px;
    /*background: url("../img/cd-icon-close-mobile.svg") no-repeat center center;*/
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.projects-container .cd-close::before {
	font-family: 'Ionicons';
    content: '\f406';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
    display: block;
    color: #faa419;
    font-size: 40px;
    text-align: center;
}

@media only screen and (min-width: 1025px) {
    .projects-container .cd-close {
        left: inherit;
        top: 3%;
        right: 3%;
        /*background-image: url("../img/cd-icon-close-desktop.svg");*/
    }
}

.projects-container .cd-scroll {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    -webkit-transform: translateX(-50%) scale(0);
    -moz-transform: translateX(-50%) scale(0);
    -ms-transform: translateX(-50%) scale(0);
    -o-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
    /*background: url("../img/cd-icon-arrow-mobile.svg") no-repeat center center;*/
}

.projects-container .cd-scroll::before {
	font-family: 'Ionicons';
    content: '\f3d0';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
    display: block;
    color: #fff;
    font-size: 60px;
    text-align: center;
}

@media only screen and (min-width: 1025px) {
    .projects-container .cd-scroll {
        /*background-image: url("../img/cd-icon-arrow-desktop.svg");*/
    }
}

.project-is-open .cd-close,
.project-is-open .cd-scroll {
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0s;
    transition: transform 0.4s 0s, visibility 0s 0s;
}

.project-is-open .cd-scroll {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    -webkit-animation: cd-translate 1.2s 0.4s;
    -moz-animation: cd-translate 1.2s 0.4s;
    animation: cd-translate 1.2s 0.4s;
    -webkit-animation-iteration-count: 2;
    -moz-animation-iteration-count: 2;
    animation-iteration-count: 2;
}

.no-touch .project-is-open .cd-close:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.no-touch .project-is-open .cd-scroll:hover {
    -webkit-transform: translateX(-50%) scale(1.1);
    -moz-transform: translateX(-50%) scale(1.1);
    -ms-transform: translateX(-50%) scale(1.1);
    -o-transform: translateX(-50%) scale(1.1);
    transform: translateX(-50%) scale(1.1);
}

@-webkit-keyframes cd-translate {
    0% {
        -webkit-transform: translateX(-50%) scale(1);
    }
    50% {
        -webkit-transform: translateY(10px) translateX(-50%) scale(1);
    }
    100% {
        -webkit-transform: translateX(-50%) scale(1);
    }
}

@-moz-keyframes cd-translate {
    0% {
        -moz-transform: translateX(-50%) scale(1);
    }
    50% {
        -moz-transform: translateY(10px) translateX(-50%) scale(1);
    }
    100% {
        -moz-transform: translateX(-50%) scale(1);
    }
}

@keyframes cd-translate {
    0% {
        -webkit-transform: translateX(-50%) scale(1);
        -moz-transform: translateX(-50%) scale(1);
        -ms-transform: translateX(-50%) scale(1);
        -o-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1);
    }
    50% {
        -webkit-transform: translateY(10px) translateX(-50%) scale(1);
        -moz-transform: translateY(10px) translateX(-50%) scale(1);
        -ms-transform: translateY(10px) translateX(-50%) scale(1);
        -o-transform: translateY(10px) translateX(-50%) scale(1);
        transform: translateY(10px) translateX(-50%) scale(1);
    }
    100% {
        -webkit-transform: translateX(-50%) scale(1);
        -moz-transform: translateX(-50%) scale(1);
        -ms-transform: translateX(-50%) scale(1);
        -o-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1);
    }
}
