/*! Marketing & landings */
// ==========================================================================

.orange {
    color: @orange;
    font-weight: 600;
}

/* Tabs section */
.tabs-container {
    margin: 0 40px;
}

.tabs-container.tabs-container-gridder {
    margin: 0;
}

.tabs-container.tabs-container-marketing {
    margin: 1em 40px;
    
    p,
    li {
        font-size: 1.250em;
        line-height: 1.7;
        margin: 0.750em 0;
    }
    
    p:first-child {
        margin-top: 2em;
    }
    
    ul {
        margin-left: 1.5em;
    }
    
    a {
        text-decoration: none;
    }
    
    ul li ul li {
        font-size: 1em;
    }
}

.easyshop .tabs-container li {
    margin: 0.25em 0;
}

.consulting .tabs-container a {
    color: @white;
    border-bottom: 1px dotted @white;
}

.tabs-container.tabs-container-marketing h2 {
    font-size: 1.850em;
    position: relative;
    margin-bottom: 1.500em;
    line-height: 1.5;
}

.tabs-container.tabs-container-marketing h2::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 5%;
    height: 1px;
    background: @orange;
    content: '';
    margin-top: 2%;
}

/* Tabs Nav */
/* http://inspirationalpixels.com/tutorials/creating-tabs-with-html-css-and-jquery */
.tabs {
	width: 100%;
	display: inline-block;
    margin: 0 auto;
}

.tabs-container-marketing .tabs {
    margin: 2em auto 0;
}

/*--- Tab Links ---*/
ul.tab-links {
    margin: 0;
}

/* Clearfix */
ul.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

ul.tab-links li {
    margin: 0;
    float: left;
    list-style: none;
}

.tabs-container-marketing ul.tab-links a {
    padding: 1em;
    display: inline-block;
    color: #fff;
    background: @grey;
    border-radius: 0;
    outline: 0;
    font-size: 0.850em;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    text-decoration: none;
    border-bottom: none;
}

.easyshop ul.tab-links a {
    padding: 1em 0.65em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
}

.tabs-container-marketing li.active a,
.tabs-container-marketing li.active a:hover {
    background: #fff;
    color: @brown;
}

/* hover effect */
ul.tab-links li {
    position: relative;
    display: block;
    margin-right: 2px;
    margin-top: 2px;
}

.tabs-container-marketing ul.tab-links a {
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 2px;
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        background-color: @orange;
        transition: transform 0.3s;
    }
    &:hover {
        &:after {
            transform: scaleX(1);
        }
    }
}

.tabs-container-marketing ul.tab-links li.active a::after {
    background-color: @white;
}

/*--- Content of Tabs ---*/
.tab-content {
    padding: 0.5em 0 0;
}

.tab-content.tab-content-gridder {
    padding: 0;
}

.easyshop .tab-content {
    margin: 1.5em 0 0.5em;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

/* List with thumbnails */
ul.list {
    margin: 0;
    display: inline-block;

    li {
        display: table;
        border-collapse: collapse;
        width: 100%;
        margin: 0;
    }

    .inner {
        display: table-row;
        overflow: hidden;
    }

    .inner:hover,
    .inner:focus {

    }

    .li-img {
        display: table-cell;
        vertical-align: middle;
        width: 10%;
        padding: 1em 0;
    }

    .li-img svg {
        display: block;
        width: 40px;
        height: 40px;
        fill: @grey;
        transform: scaleX(1);
        .transition03;
    }
    
    .inner .li-img.tick svg {
        fill: @green;
    }
    
    .inner .li-img.cross svg {
        fill: @alert;
    }

    .inner:hover .li-img svg,
    .inner:focus .li-img svg {
        fill: @orange;
        transform: scaleX(0.6);
    }
    
    .inner:hover .li-img.tick svg,
    .inner:focus .li-img.tick svg,
    .inner:hover .li-img.cross svg,
    .inner:focus .li-img.cross svg {
        fill: @grey;
    }
    
    .inner:hover .li-img.redcross svg,
    .inner:focus .li-img.redcross svg {
        fill: @alert;
    }

    .li-text {
        display: table-cell;
        vertical-align: middle;
        width: 80%;
        transform: scale(1);
        //transform-origin : right center;
        .transition03;
    }

    .inner:hover .li-text {
        transform: scale(1.1);
    }

    .li-head {
        margin: 0;
    }

    .li-sub {
        font-size: 0.800em;
        margin: 0;
        padding-right: 1em;
        line-height: 1.4;
    }
}

ul.list.img-gridder {
    margin: 2em auto;
    
    li {
        margin: 0;
    }
    
    li a {
        display: grid;
        margin: 0.5em;
        border-bottom: none;
        opacity: 0.8;
        transform: scale(1);
    }
    
    li a:hover,
    li a:focus {
        opacity: 1;
        transform: scale(1.01);
    }
}

@media all and (min-width: 767px) {
    ul.list li {
        float: left;
        width: 50%;
        margin: 0.150em 0;
        
        .li-img svg {
            width: 50px;
            height: 50px;
        }
    }
}

@media all and (min-width: 1023px) {
    ul.list li {
        width: 33.33333%;
        
        .li-img svg {
            width: 60px;
            height: 60px;
        }
    }
    
    ul.list li.half {
        width: 50%;
    }
}

/* Easy Shop */
.easyshop h3 {
    text-transform: uppercase;
}

.easyshop a {
    color: @white;
    border-bottom: 1px dotted @white;
    .transition03;
}

.easyshop .es-intro {
    font-family: 'latoregular', sans-serif;
    font-weight: 400;
    font-size: 1.35em;
    margin: 1em 0 2em;
    text-transform: uppercase;
    letter-spacing: 13px;
    line-height: 1.5;
}

.easyshop .es-intro span {
    font-family: 'latobold', sans-serif;
	font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0;
    font-size: 1.35em;
}

.price {
    color: @orange;
    margin-bottom: 2em;
}

.price a {
    color: @orange;
    border-bottom: 1px dotted @orange;
}

.price a:hover,
.price a:focus {
    border-color: transparent;
}

.price span {
    font-size: 1.350em;
}

.easyshop .showcase-img {
    display: block;
    margin: 3em auto;
    border-bottom: none;
}

.easyshop .showcase-img:hover img {
    opacity: 0.8;
    .transition03;
}

#tab3 a {
    color: @orange;
    border-bottom: 1px dotted @orange;
}

#tab3 a.tab3-a {
    font-size: 1.250em;
    margin-bottom: 1em;
    display: inline-block;
}

#tab3 a:hover,
#tab3 a:focus {
    border-color: transparent;
}
