/*********************************************
  * Filename: style.css
  * Website: http://sokvist.com/
  * Author: Sokvist
  * Author URI: http://sokvist.com
  * Date: 08/12/2015
  * Version: 2.0
*********************************************/

/*
    - General CSS
    - Header
    - Home/portfolio
*/

@import "reset.less";
@import "variables.less";
@import "mixins.less";


// General CSS
// ---------------------------------------------------------------------------

body {
    font-family: 'latolight', sans-serif;
    font-weight: 300;
    color: @white;
    background: @brownpastel;
}

body.blog,
body.single,
body.archive,
body.search,
body.page-cursos {
    background: @white;
}

.wrapper{
    width: 92.72727272727273%;
    margin: 0 auto;
}

header ul.social li a,
.main .grid a .caption,
header nav ul li a,
.language ul li a,
.subscribe-form input,
.subscribe-sidebar input,
.subscribe-widgetbar input,
.subscribe-btn,
.footer a,
.footer ul.social li a::before,
.footer ul.social li a .icon,
.cd-project-info a,
.post-pagination ul li a {
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
}

h1, h2, h3, h4, h5 ,h6 {
    color: #fff;
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0; }
h2              { font-size: 1.5em; margin: .75em 0; }
h3              { font-size: 1.35em; margin: .83em 0; line-height: 1.5; }
h4              { font-size: 1.27em; margin: 1.25em 0; }
h5              { font-size: 1.12em; margin: 1.5em 0; }
h6              { font-size: .93em; margin: 1.67em 0; }
h1, h2, h3, h4,
h5, h6          { font-family: 'latobold', sans-serif; font-weight: 700; }

strong {
    font-family: 'latoregular', sans-serif;
    font-weight: 600;
}

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}


// Header
// ---------------------------------------------------------------------------
header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 199px;
    border-right: 1px solid @brownpastel;
    min-height: 100%;
    padding: 0 50px;
    background: @white; 
    float: left;
    overflow: hidden;
    z-index: 9999;
}

.dark-header header {
    background: @brownpastel;
}

header .logo {
    margin-top: 25px;
    //-webkit-transform: scale(0.6);
    //transform: scale(0.6);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    position: relative;
}

header .logo::after {
    /*position: absolute;
    top: 100%;
    left: 3px;
    width: 25%;
    height: 1px;
    background: @light-grey;
    content: '';
    margin-top: 7%;*/
}

.dark-header .logo::after {
    //background: @lightblue;
}

.logo-mobile {
    display: none;
}

.language {
    position: absolute;
    top: 0;
    left: 212px;
    width: auto;
    text-align: center;
    text-transform: uppercase;
    font-family: 'latoregular', sans-serif;
    font-weight: 400;
    z-index: 1;
}

.language ul {
    margin: 0;
    padding: 0;
}

.language ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.language ul li:last-child {
    /*border-left: 1px solid #546c30;*/
}

.language ul .active {
    display: none;
}

.language ul li a {
    display: block;
    color: @grey;
    background: @white;
    text-decoration: none;
    font-size: 12px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-top: 1px solid transparent;
}

.dark-header .language ul li a {
    color: @light-grey;
    background: @grey;
}

.language ul li a:hover,
.language ul li a:focus {
    color: @dark-brown;
    border-top-color: @brown;
}


.main-menu {
    margin: 40px 0 0 15px;
}

/* Effect 8: border slight translate */
.main-menu li {
    margin: 0;
    padding: 0;
}

.main-menu a {
    position: relative;
    display: inline-block;
    margin: 7px 0 7px -15px;
    outline: none;
    color: @dark-brown;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1em;
}

.dark-header .main-menu a {
    color: @white;
}

.main-menu a:hover,
.main-menu a:focus {
    outline: none;
}

.main-menu a {
    padding: 7px 20px;
}

.main-menu a::before,
.main-menu a::after  {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid @white;
    content: '';
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.dark-header .main-menu a::before,
.dark-header .main-menu a::after {
    border: 1px solid @brownpastel;
}

.main-menu a::after  {
    border-color: #39312e;
    opacity: 0;
    -webkit-transform: translateY(-7px) translateX(6px);
    -moz-transform: translateY(-7px) translateX(6px);
    transform: translateY(-7px) translateX(6px);
}

.dark-header .main-menu a::after {
    border-color: @lightblue;
}

.main-menu a:hover::before,
.cl-effect-8 a:focus::before {
    opacity: 0;
    -webkit-transform: translateY(5px) translateX(-5px);
    -moz-transform: translateY(5px) translateX(-5px);
    transform: translateY(5px) translateX(-5px);
}

.main-menu a:hover::after,
.main-menu a:focus::after  {
    opacity: 1;
    -webkit-transform: translateY(0px) translateX(0px);
    -moz-transform: translateY(0px) translateX(0px);
    transform: translateY(0px) translateX(0px);
}

.main-menu .current_page_item a  {
    color: #c1bfbf;
    cursor: default;
}

.main-menu .current_page_item a::before,
.main-menu .current_page_item a::after  {
    border-color: transparent;
}



/* Subscribe form */
.subscribe-form {
    margin-top: 3em;
}

.subscribe-form p,
.subscribe-sidebar p {
    text-transform: uppercase;
    margin: 10px 0;
    letter-spacing: 1px;
    color: @lightblue;
}

.subscribe-form p {
    color: @grey;
}

.dark-header .subscribe-form p {
    color: @lightblue;
}

.subscribe-sidebar p,
.subscribe-widgetbar p {
    line-height: 1.5;
}

.dark-header .subscribe-sidebar p {
    line-height: 1.5;
}

.subscribe-form input::-webkit-input-placeholder,
.subscribe-sidebar input::-webkit-input-placeholder,
.subscribe-widgetbar input::-webkit-input-placeholder,
#commentform::-webkit-input-placeholder {
    color: #c1bfbf !important;
}
.subscribe-form input:-moz-placeholder,
.subscribe-sidebar input:-moz-placeholder,
.subscribe-widgetbar input:-moz-placeholder,
#commentform:-moz-placeholder {
    color: #c1bfbf !important;
}
.subscribe-form input::-moz-placeholder,
.subscribe-sidebar input::-moz-placeholder,
.subscribe-widgetbar input::-moz-placeholder,
#commentform::-moz-placeholder {
    color: #c1bfbf !important;
}
.subscribe-form input:-ms-input-placeholder,
.subscribe-sidebar input:-ms-input-placeholder,
.subscribe-widgetbar input:-ms-input-placeholder,
#commentform:-ms-input-placeholder {
    color: #c1bfbf !important;
}

.subscribe-form input[type="text"],
.subscribe-form input[type="email"],
.subscribe-form input[type="submit"],
.subscribe-sidebar input[type="text"],
.subscribe-sidebar input[type="email"],
.subscribe-sidebar input[type="submit"],
.subscribe-widgetbar input[type="text"],
.subscribe-widgetbar input[type="email"],
.subscribe-widgetbar input[type="submit"],
#commentform input[type="text"],
#commentform input[type="email"],
#commentform input[type="submit"],
#commentform textarea {
    width: 100%;
    margin: 7px 0;
    padding: 7px 0;
    border: none;
    font-family: 'latolight', sans-serif;
    font-weight: 300;
    font-size: 1em;
    background: transparent;
    border-radius: 0;
}

.subscribe-form input[type="text"],
.subscribe-form input[type="email"],
.subscribe-sidebar input[type="text"],
.subscribe-sidebar input[type="email"],
.subscribe-widgetbar input[type="text"],
.subscribe-widgetbar input[type="email"],
#commentform input[type="text"],
#commentform input[type="email"]  {
    border-bottom: 1px dotted @grey;
}

#commentform textarea {
    border-top: 1px dotted @grey;
    border-bottom: 1px dotted @grey;
}

.dark-header .subscribe-form input[type="text"],
.dark-header .subscribe-form input[type="email"],
.dark-header .subscribe-sidebar input[type="text"],
.dark-header .subscribe-sidebar input[type="email"]{
    border-bottom: 1px dotted @lightblue;
}

.subscribe-form input[type="submit"],
.subscribe-sidebar input[type="submit"],
.subscribe-widgetbar input[type="submit"],
#commentform input[type="submit"] {
    border: 1px solid @grey;
    color: @grey;
    margin-top: 12px;
}

.dark-header .subscribe-form input[type="submit"],
.dark-header .subscribe-sidebar input[type="submit"] {
    border: 1px solid @lightblue;
    color: @lightblue;
}

.subscribe-form input[type="submit"]:hover,
.subscribe-sidebar input[type="submit"]:hover,
.subscribe-widgetbar input[type="submit"]:hover,
#commentform input[type="submit"]:hover {
    color: @white;
    background-color: @grey;
}

.dark-header .subscribe-form input[type="submit"]:hover,
.dark-header .subscribe-sidebar input[type="submit"]:hover {
    color: @brownpastel;
    background-color: @lightblue;
}

/* Subscribe button */
.subscribe-btn {
    display: none;
    color: @grey;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 12px;
    border: 1px solid @grey;
    margin-top: 30px;

/* Underline reveal */
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.dark-header .subscribe-btn {
    color: @lightblue;
    border: 1px solid @lightblue;
}

.subscribe-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: @grey;
    height: 5px;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.subscribe-btn:hover:before,
.subscribe-btn:focus:before,
.subscribe-btn:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.response {
    display: none;
}

.real-people {
    position: absolute;
    left: -5000px;
}

/* Subscribe sidebar */
.subscribe-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    min-height: 100%;
    padding: 0 50px;
    background: @white;
    color: white;
    z-index: 999999;
    overflow: hidden;
    -webkit-transform: translate3d(-300px,0,0);
    transform: translate3d(-300px,0,0);
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.dark-header .subscribe-sidebar {
    background: @brownpastel;
}

.subscribe-sidebar.opened {
    -webkit-transform: translate3d(0,0,0);
   transform: translate3d(0,0,0);
}

.modal-close-btn {
    position: absolute;
	width: 34px;
	height: 34px;
	top: 10px;
	right: 10px;
	cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    text-decoration: none;
    transform: rotate(0);
    -webkit-transition: -webkit-transform 0.2s 0s;
    -moz-transition: -moz-transform 0.2s 0s;
    transition: transform 0.2s 0s;
}

.modal-close-btn svg {
    fill: @yellow;
	vertical-align: middle;
    width: 34px;
    height: 34px;
	padding: 0;
}

/*.modal-close-btn:before {
	font-family: 'Ionicons';
    content: '\f405';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
    display: block;
    color: #c1bfbf;
    font-size: 32px;
    text-align: center;
}*/

.modal-close-btn:hover {
    transform: rotate(90deg);
}

/*.gridder-close:before {
	font-family: 'Ionicons';
    content: '\f405';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
    display: block;
	margin-bottom: 10px;
    color: @yellow;
    font-size: 30px;
    text-align: center;
}*/

.sidebar-block {
    margin-top: 30vh;
}



.footer {
    position: absolute;
    bottom: 20px;
    left: 50px;
}

.footer ul.social {
    list-style: none;
    margin-bottom: 10px;
}

.footer ul.social li {
    display: block;
    float: left;
    position: relative;
    width: 32px;
    height: 32px;
    margin: 0 8px 0 0;
}

.footer ul.social li a {
	position: absolute;
	width: 32px;
	height: 32px;
	cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    text-decoration: none;
    display: flex;
    border: 1px solid @lightblue;
    border-radius: 50%;
}

.footer ul.social li a .icon {
    fill: @lightblue;
	vertical-align: middle;
	padding: 20%;
}

.footer ul.social li.twitter a:hover,
.footer ul.social li.twitter a:focus {
    border-color: rgba(0, 172, 237, 1);
}

.footer ul.social li.facebook a:hover,
.footer ul.social li.facebook a:focus {
    border-color: rgba(59, 89, 152, 1);
}

.footer ul.social li.instagram a:hover,
.footer ul.social li.instagram a:focus {
    border-color: rgba(221, 42, 123, 1);
}

.footer ul.social li.googleplus a:hover,
.footer ul.social li.googleplus a:focus {
    border-color: rgba(211, 72, 54, 1);
}

.footer ul.social li.twitter a:hover .icon,
.footer ul.social li.twitter a:focus .icon {
    fill: rgba(0, 172, 237, 1);
}

.footer ul.social li.facebook a:hover .icon,
.footer ul.social li.facebook a:focus .icon {
    fill: rgba(59, 89, 152, 1);
}

.footer ul.social li.instagram a:hover .icon,
.footer ul.social li.instagram a:focus .icon {
    fill: rgba(221, 42, 123, 1);
}

.footer ul.social li.googleplus a:hover .icon,
.footer ul.social li.googleplus a:focus .icon {
    fill: rgba(211, 72, 54, 1);
}

/*.footer ul.social li a::before {
	font-family: 'Ionicons';
    content: '\f405';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 34px;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
    display: block;
	margin-bottom: 10px;
    color: @grey;
    font-size: 24px;
    text-align: center;
    border: 1px solid @grey;
    border-radius: 50%;
}

.dark-header .footer ul.social li a::before {
    color: @lightblue;
    border: 1px solid @lightblue;
}

.footer ul.social li.facebook a::before {
    content: '\f230';
}

.footer ul.social li.twitter a::before {
    content: '';
    background-image: url(../images/sprite.svg);
    background-size: 28px 28px;
    width: 34px;
    height: 34px;
}

.footer ul.social li.instagram a::before {
    content: '\f350';
}

.footer ul.social li.googleplus a::before {
    content: '\f234';
}

.footer ul.social li.facebook a:hover::before {
    color: rgba(59, 89, 152, 1);
    border-color: rgba(59, 89, 152, 1);
}

.footer ul.social li.twitter a:hover::before {
    color: rgba(0, 172, 237, 1);
    border-color: rgba(0, 172, 237, 1);
}

.footer ul.social li.instagram a:hover::before {
    color: rgba(221, 42, 123, 1);
    border-color: rgba(221, 42, 123, 1);
}

.footer ul.social li.googleplus a:hover::before {
    color: rgba(211, 72, 54, 1);
    border-color: rgba(211, 72, 54, 1);
}

.footer ul.social li a:hover::before,
.footer ul.social li a:hover::after {
	background: #333;
}*/


.footer .contact p {
    color: #39312e;
    font-family: 'latoregular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: left;
}

.footer .contact a {
    text-decoration: none;
    padding: .350em;
    color: @grey;
}

.dark-header .footer .contact a {
    color: @yellow;
}

.footer .contact a:hover {
    color: @lightblue;
}


.footer .log-btn {
    position: relative;
    display: inline-block;
    padding-left: 3em;
    padding-right: 2em;
    color: @lightblue;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    height: 34px;
    line-height: 35px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    margin-top: 1em;
    border: 1px solid @lightblue;
    border-radius: 0;
}

.footer .log-btn:hover,
.footer .log-btn:focus {
    color: @brownpastel;
    background-color: @lightblue;
}

.footer .log-btn svg {
    position: absolute;
    fill: @lightblue;
    height: 18px;
    width: 18px;
    padding: 8px;
    margin-left: -2em;
}

.footer .log-btn:hover svg,
.footer .log-btn:focus svg {
    fill: @brownpastel;
}


#menu_icon,
.close_menu {
    display: none;
}

#menu_icon,
#menu_icon.close_menu {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 38px;
    height: 38px;
    cursor: pointer;
    /*white-space: nowrap;
    overflow: hidden;*/
    z-index: 99999;
    border: 1px solid @lightblue;
    border-radius: 2px;
}

#menu_icon.close_menu {
    border-color: @yellow;
}

#menu_icon svg {
    fill: @lightblue;
	vertical-align: middle;
	width: 32px;
    height: 32px;
    padding: 3px;
}

#menu_icon.close_menu svg {
    fill: @yellow;
	vertical-align: middle;
	width: 38px;
    height: 38px;
    padding: 0;
}

#menu_icon svg.svg-open,
#menu_icon.close_menu svg.svg-close {
    display: block;
}

#menu_icon svg.svg-close,
#menu_icon.close_menu svg.svg-open {
    display: none;
}

/*#menu_icon::before,
.close_menu::before {
	font-family: 'Ionicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 36px;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
    display: block;
	margin-bottom: 10px;
    font-size: 32px;
    text-align: center;
    border-radius: 2px;
}

#menu_icon::before {
    content: '\f20e';
    color: @lightblue;
    border: 1px solid @lightblue;
}*/

/*#menu_icon.close_menu::before {
    content: '\f2d7';
    color: @yellow;
    border: 1px solid @yellow;
}*/


/*  Main  */
.main {
    width: 100%;
    height: 100%;
    padding-left: 300px;
    padding-top: 2em;
    padding-bottom: 3em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 55;
    background: @brownpastel;
    clear: both;
}

.parallax-section {
    height: 26vh;
    padding-left: 300px;
    background-color: @brownpastel;
}

.parallax-section .intro {
    position: fixed;
    margin: 2vh 0 0 40px;
    padding: 1em 0;
}

.parallax-section .intro::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 20%;
    height: 1px;
    background: #fff;
    content: '';
    margin-top: 1%;
}

.parallax-section .intro h1 {
    font-family: 'latoregular', sans-serif;
    font-weight: 400;
    font-size: 2.35em;
    margin: 0.350em 0;
    text-transform: uppercase;
    letter-spacing: 13px;
    line-height: 1.2;
}

.parallax-section .intro h1 span {
    font-family: 'latobold', sans-serif;
	font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0;
    font-size: 1.35em;
}

.parallax-section .intro span.blog-title {
    font-family: 'latobold', sans-serif;
	font-weight: 700;
    color: @dark-brown;
    font-size: 3em;
    margin: 0.350em 0;
    letter-spacing: 1px;
    display: block;
}

.parallax-section .intro p {
    font-size: 2em;
    margin: 0.350em 0;
}


// Home/portfolio
// ---------------------------------------------------------------------------
.main .grid {
    display: inline-block;
    width: 33.33333333333333%;
    height: auto;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.main .grid-25 {
    width: 25%;
}

.main .grid .media.square {
    width: 90%;
    height: 90%;
    padding: 5%;
}


/* http://tympanus.net/codrops/2014/06/19/ideas-for-subtle-hover-effects/ */
/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
    width: 100%;
    height: auto;
	opacity: 0.9;
}

.grid figure figcaption {
	/*padding: 2em;*/
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a,
.grid figure figcaption > span.mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption > span.mask {
    cursor: auto;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	font-family: 'latolight', sans-serif;
	font-weight: 300;
    font-size: 1.850em;
}

.grid figure h2 span {
    font-family: 'latobold', sans-serif;
	font-weight: 700;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 75%;
    line-height: 1.4;
}


/*---------------*/
/***** Marley *****/
/*---------------*/
figure.effect-marley figcaption {
	text-align: right;
}

figure.effect-marley img {
    opacity: 0.5;
}

figure.effect-marley h2,
figure.effect-marley p {
	position: absolute;
	right: 30px;
	left: 30px;
	padding: 10px 0;
}


figure.effect-marley p {
	bottom: 30px;
	line-height: 1.5;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-marley h2 {
	top: 40%;
	-webkit-transition: -webkit-transform 0.55s;
	transition: transform 0.55s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-marley:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-marley h2::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-marley h2::after,
figure.effect-marley p {
	opacity: 0;
	-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
	transition: opacity 0.55s, transform 0.55s;
}

figure.effect-marley:hover h2::after,
figure.effect-marley:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/*---------------*/
/***** Honey *****/
/*---------------*/
figure.effect-honey {
	background: #39312e;
}

figure.effect-honey img {
	opacity: 0.9;
	-webkit-transition: opacity 0.55s;
	transition: opacity 0.55s;
}

figure.effect-honey:hover img {
	opacity: 0.5;
}

figure.effect-honey figcaption::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-honey h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1em 1.5em 0.5em;
	//width: 100%;
	text-align: left;
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.effect-honey figcaption::before,
figure.effect-honey h2 {
	-webkit-transition: -webkit-transform 0.55s;
	transition: transform 0.55s;
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h2 {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/*---------------*/
/***** Sarah *****/
/*---------------*/
figure.effect-sarah img {
	max-width: none;
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
	transition: opacity 0.55s, transform 0.55s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-sarah:hover img {
	opacity: 0;
	-webkit-transform: translate3d(10px,0,0);
	transform: translate3d(10px,0,0);
}

figure.effect-sarah h2 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
    margin-top: 15%;
}

figure.effect-sarah h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.55s;
	transition: transform 0.55s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect-sarah:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah p {
	padding: 1em;
    line-height: 1.5;
	opacity: 0;
	-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
	transition: opacity 0.55s, transform 0.55s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.effect-sarah:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/*---------------*/
/***** Roxy *****/
/*---------------*/
figure.effect-roxy img {
	max-width: none;
	width: -webkit-calc(100% + 60px);
	width: calc(100% + 60px);
	-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
	transition: opacity 0.55s, transform 0.55s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-roxy figcaption {
	padding: 2em;
	text-align: left;
}

figure.effect-roxy h2 {
	padding: 10% 0 10px 0;
}

figure.effect-roxy p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
}

figure.effect-roxy:hover img {
	opacity: 0.7;
	-webkit-transform: translate3d(30px,0,0);
	transform: translate3d(30px,0,0);
}

figure.effect-roxy:hover figcaption::before,
figure.effect-roxy:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
	/*background: #39312e;*/
}

figure.effect-bubba img {
	-webkit-transition: opacity 0.55s;
	transition: opacity 0.55s;
}

figure.effect-bubba.bubba1 img {
	opacity: 0.5;
}

figure.effect-bubba.bubba2 img,
figure.effect-bubba.bubba3 img {
	opacity: 0.9;
}

figure.effect-bubba.bubba4 img {
    opacity: 0.7;
}

figure.effect-bubba:hover img {
	opacity: 0.2;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
	transition: opacity 0.55s, transform 0.55s;
}

figure.effect-bubba.bubba4 figcaption::after {
    top: 20px;
}

figure.effect-bubba.bubba1 figcaption::before {
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba.bubba2 figcaption::after {
	border-top: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba.bubba3 figcaption::after {
	border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba.bubba4 figcaption::after {
	border-top: 2px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba.bubba4 figcaption::before {
    border-bottom: 2px solid @orange;
    opacity: 1;
    bottom: 20px;
    -webkit-transform: scale(0.1,1);
	transform: scale(0.1,1);
}

figure.effect-bubba h2 {
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.55s;
	transition: transform 0.55s;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

figure.effect-bubba.bubba3 h2 {
    padding-top: 45%;
    font-size: 1.250em;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

figure.effect-bubba.bubba4 h2 {
    padding-top: 15%;
    font-size: 1.150em;
}

figure.effect-bubba p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
	transition: opacity 0.55s, transform 0.55s;
	-webkit-transform: translate3d(0,30px,0);
	transform: translate3d(0,30px,0);
}

figure.effect-bubba.bubba3 p {
    opacity: 1;
	-webkit-transform: translate3d(0,-15px,0);
	transform: translate3d(0,-15px,0);
}

figure.effect-bubba.bubba4 p {
    opacity: 0.3;
    font-size: 70%;
    line-height: 1.5;
    -webkit-transform: translate3d(0,15px,0);
	transform: translate3d(0,15px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba.bubba4:hover figcaption::before {
    opacity: 0;
    -webkit-transform: scale(0,0,0);
	transform: scale(0,0,0);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p,
figure.effect-bubba.bubba3:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-bubba.bubba4:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

/*---------------*/
/***** Julia *****/
/*---------------*/
figure.effect-julia img {
	max-width: none;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-julia figcaption {
	text-align: left;
}

figure.effect-julia h2 {
	position: relative;
	padding: 2em 1em;
    text-align: center;
}

figure.effect-julia.julia2 h2 {
    position: absolute;
    bottom: 0;
    width: 90%;
    padding: 0 5% 1em;
    line-height: 1.4;
    -webkit-transition: -webkit-transform 0.55s;
	transition: transform 0.55s;
}

figure.effect-julia p {
	margin: 0;
	padding: 1em 3em;
    line-height: 1.5;
	opacity: 0;
	-webkit-transition: opacity 0.75s, -webkit-transform 0.75s;
	transition: opacity 0.75s, transform 0.75s;
	-webkit-transform: translate3d(0,10px,0) scale(1);
	transform: translate3d(0,10px,0) scale(1);
} 

figure.effect-julia:hover img {
	opacity: 0.4;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

figure.effect-julia.julia2:hover img {
	-webkit-transform: scale3d(1.025,1.025,025);
	transform: scale3d(1.025,1.025,025);
}

figure.effect-julia.julia2:hover h2 {
    -webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-julia:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(0.9);
	transform: translate3d(0,0,0) scale(0.9);
}

/*---------------*/
/***** Ruby *****/
/*---------------*/
figure.effect-ruby img {
	opacity: 0.9;
	-webkit-transition: opacity 0.75s, -webkit-transform 0.75s;
	transition: opacity 0.75s, transform 0.75s;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-ruby:hover img {
	opacity: 0.4;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

figure.effect-ruby h2 {
	margin-top: 20%;
    font-size: 1.250em;
	-webkit-transition: -webkit-transform 0.75s;
	transition: transform 0.75s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-ruby p {
	margin: 1em 0 0;
	padding: 3em;
	border: 1px solid #fff;
    line-height: 1.5;
	opacity: 0;
	-webkit-transition: opacity 0.75s, -webkit-transform 0.75s;
	transition: opacity 0.75s, transform 0.75s;
	-webkit-transform: translate3d(0,20px,0) scale(1);
	transform: translate3d(0,20px,0) scale(1);
} 

figure.effect-ruby:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-ruby:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(0.9);
	transform: translate3d(0,0,0) scale(0.9);
}


// Not Found Page
// --------------------------------------------------------------------------- 
.error404 .content-body {
    //background-color: transparent;
    background: transparent url("../images/not-found-404.jpg") no-repeat center;
    background-size: cover;
    width: ~"calc(100% - 300px)";
    height: 74vh;
    padding-top: 0;
    padding-bottom: 0;
}

.error404 .parallax-section .intro h1 {
    font-size: 2.15em;
}

.error404 .parallax-section .intro h1 a {
    color: @white;
    text-decoration: none;
    border-bottom: 1px dotted @white;
    .transition03;
}

.error404 .parallax-section .intro h1 a:hover,
.error404 .parallax-section .intro h1 a:focus {
    border-color: transparent;
}

#post-404 {
    margin-left: 2em;
}

#post-404 img {
    margin: 3em auto;
    display: block;
}

#post-404 h2 a {
    color: @white;
}

#ajerez {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 9999;
}

/* Media Query */
@media screen and (max-width: 1024px) {
    .error404 .content-body {
        width: 100%;
    }
}

/* animation */
/* old 404 page ********
.sea {
  margin: 40px auto 0 auto;
  overflow: hidden;
}

.sea *,
.sea *:before,
.sea *:after {
  box-sizing: border-box;
}

.sea .bubble {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #bebbba;
  opacity: 0.9;
  -webkit-animation: bubble1-h-movement 1s ease-in infinite, bubble1-v-movement 300ms ease-in-out infinite alternate, bubble-scale-movement 300ms ease-in-out infinite alternate;
          animation: bubble1-h-movement 1s ease-in infinite, bubble1-v-movement 300ms ease-in-out infinite alternate, bubble-scale-movement 300ms ease-in-out infinite alternate;
}

.sea .bubble:after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #bebbba;
  opacity: 0.9;
}

.sea .bubble:after {
  top: -20;
  left: 100px;
  width: 9px;
  height: 9px;
}

.sea .circle-wrapper {
  position: relative;
  background: -webkit-linear-gradient(#787271, #605c5a);
  background: linear-gradient(#787271, #605c5a);
  width: 300px;
  height: 300px;
  margin: 10px auto 0 auto;
  overflow: hidden;
  z-index: 0;
  border-radius: 50%;
  padding: 0 50px 0 50px;
  border: 6px solid #999492;
}

.sea .submarine-wrapper {
  height: 300px;
  width: 300px;
  padding: 30px 50px 30px 150px;
  margin: 0 auto 0 auto;
  -webkit-animation: diving 3s ease-in-out infinite, diving-rotate 3s ease-in-out infinite;
          animation: diving 3s ease-in-out infinite, diving-rotate 3s ease-in-out infinite;
}

.sea .submarine-wrapper .submarine-body {
  width: 150px;
  height: 80px;
  position: absolute;
  margin-top: 50px;
  left: 25px;
  background-color: #faa419;
  border-radius: 40px;
  background: -webkit-linear-gradient(#faa419, #db8905);
  background: linear-gradient(#faa419, #db8905);
}

.sea .submarine-wrapper .submarine-body .light {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 40px 150px 40px;
  border-color: transparent transparent #8d8785 transparent;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  top: 40px;
  left: 99%;
}

.sea .submarine-wrapper .submarine-body .light:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 13px;
  border-radius: 5px;
  background-color: #f49905;
  margin-left: -10px;
}

.sea .submarine-wrapper .submarine-body .window {
  width: 37px;
  height: 37px;
  position: absolute;
  margin-top: 23px;
  right: 18px;
  background: -webkit-linear-gradient(#5e5958, #514d4c);
  background: linear-gradient(#5e5958, #514d4c);
  border-radius: 50%;
  border: 3px solid #faa419;
}

.sea .submarine-wrapper .submarine-body .window:after {
  content: "";
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.8;
  border-top: 3px solid white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sea .submarine-wrapper .submarine-body .engine {
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top: 32px;
  left: 53px;
  background-color: #db8905;
  border-radius: 50%;
  border: 5px solid #faa419;
}

.sea .submarine-wrapper .submarine-body .engine:after,
.sea .submarine-wrapper .submarine-body .engine:before {
  position: absolute;
  content: "";
  border-radius: 2px;
  background-color: white;
  -webkit-animation: spin 900ms linear infinite;
          animation: spin 900ms linear infinite;
  opacity: 0.8;
}

.sea .submarine-wrapper .submarine-body .engine:after {
  top: 8px;
  width: 20px;
  height: 4px;
}

.sea .submarine-wrapper .submarine-body .engine:before {
  left: 8px;
  width: 4px;
  height: 20px;
}

.sea .submarine-wrapper .helix {
  width: 30px;
  height: 70px;
  position: absolute;
  margin-top: 55px;
  left: 0;
  background-color: #faa419;
  border-radius: 7px;
  background: -webkit-linear-gradient(#faa419, #db8905);
  background: linear-gradient(#faa419, #db8905);
}

.sea .submarine-wrapper .helix:after {
  content: "";
  position: absolute;
  margin-top: 5px;
  margin-left: 7px;
  width: 17px;
  height: 60px;
  border-radius: 3px;
  background-color: transparent;
  opacity: 0.8;
  background: -webkit-linear-gradient(top, #faa419, #faa419 50%, #fcc264 50%, #fcc264);
  background: linear-gradient(to bottom, #faa419, #faa419 50%, #fcc264 50%, #fcc264);
  background-size: 100% 20px;
  -webkit-animation: helix-movement 110ms linear infinite;
          animation: helix-movement 110ms linear infinite;
}

.sea .submarine-wrapper .hat {
  width: 65px;
  height: 25px;
  position: absolute;
  margin-top: 26px;
  left: 70px;
  background-color: #faa419;
  border-radius: 10px 10px 0 0;
  background: -webkit-linear-gradient(#faa419, #fa9e0a);
  background: linear-gradient(#faa419, #fa9e0a);
}

.sea .submarine-wrapper .hat .periscope {
  position: absolute;
  width: 7px;
  height: 20px;
  background-color: #faa419;
  margin-top: -27px;
  margin-left: 32px;
  border-radius: 5px 5px 0 0;
}

.sea .submarine-wrapper .hat .periscope:after, .sea .submarine-wrapper .hat .periscope:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 7px;
  border-radius: 5px;
  background-color: #faa419;
}

.sea .submarine-wrapper .hat .leds-wrapper {
  width: 53px;
  height: 13px;
  position: relative;
  top: 7px;
  left: 7px;
  background-color: #faa419;
  border-radius: 10px;
  background: -webkit-linear-gradient(#d18305, #bd7704);
  background: linear-gradient(#d18305, #bd7704);
}

.sea .submarine-wrapper .hat .leds-wrapper .leds {
  position: absolute;
  margin-top: 4px;
  margin-left: 7px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation: leds-off 500ms linear infinite;
          animation: leds-off 500ms linear infinite;
}

.sea .submarine-wrapper .hat .leds-wrapper .leds:after,
.sea .submarine-wrapper .hat .leds-wrapper .leds:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
}

.sea .submarine-wrapper .hat .leds-wrapper .leds:after {
  margin-top: 0px;
  margin-left: 17px;
}

.sea .submarine-wrapper .hat .leds-wrapper .leds:before {
  margin-top: 0px;
  margin-left: 34px;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes leds-off {
  100% {
    opacity: 0.3;
  }
}

@keyframes leds-off {
  100% {
    opacity: 0.3;
  }
}

@-webkit-keyframes helix-movement {
  100% {
    background: -webkit-linear-gradient(top, #fcc264 50%, #fcc264, #faa419, #faa419 50%);
    background: linear-gradient(to bottom, #fcc264 50%, #fcc264, #faa419, #faa419 50%);
    background-size: 100% 20px;
  }
}

@keyframes helix-movement {
  100% {
    background: -webkit-linear-gradient(top, #fcc264 50%, #fcc264, #faa419, #faa419 50%);
    background: linear-gradient(to bottom, #fcc264 50%, #fcc264, #faa419, #faa419 50%);
    background-size: 100% 20px;
  }
}

@-webkit-keyframes diving {
  0% {
    margin-top: 5px;
  }
  50% {
    margin-top: 15px;
  }
  100% {
    margin-top: 5px;
  }
}

@keyframes diving {
  0% {
    margin-top: 5px;
  }
  50% {
    margin-top: 15px;
  }
  100% {
    margin-top: 5px;
  }
}

@-webkit-keyframes diving-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes diving-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes bubble1-h-movement {
  0% {
    margin-left: 80%;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes bubble1-h-movement {
  0% {
    margin-left: 80%;
  }
  100% {
    margin-left: -100%;
  }
}

@-webkit-keyframes bubble2-h-movement {
  0% {
    margin-left: 65%;
  }
  100% {
    margin-left: -5%;
  }
}

@keyframes bubble2-h-movement {
  0% {
    margin-left: 65%;
  }
  100% {
    margin-left: -5%;
  }
}

@-webkit-keyframes bubble1-v-movement {
  0% {
    margin-top: 115px;
  }
  100% {
    margin-top: 160px;
  }
}

@keyframes bubble1-v-movement {
  0% {
    margin-top: 115px;
  }
  100% {
    margin-top: 160px;
  }
}

@-webkit-keyframes bubble2-v-movement {
  0% {
    margin-top: 115px;
  }
  100% {
    margin-top: 90px;
  }
}

@keyframes bubble2-v-movement {
  0% {
    margin-top: 115px;
  }
  100% {
    margin-top: 90px;
  }
}

@-webkit-keyframes bubble-scale-movement {
  0% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes bubble-scale-movement {
  0% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@-webkit-keyframes light-movement {
  0% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  50% {
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
  }
  100% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}

@keyframes light-movement {
  0% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  50% {
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
  }
  100% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}
*/


// Footer
// --------------------------------------------------------------------------- 
footer {
    /*width: 100%;
    height: 100%;
    padding-left: 300px;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 56;
    border-top: 1px solid rgba(33,23,22,0.5);
    background: rgba(33,23,22,0.2);
    clear: both;
    font-size: 0.850em;
    line-height: 1.5;
    text-align: center;*/
}

footer p {
    /*margin: 0 3em;
    color: #807a78;*/
}

footer p a {
    /*color: #807a78;
    text-decoration: none;
    border-bottom: 1px dotted #807a78;
    margin: .150em .350em;*/
}



/*  Responsive code  */
@media screen and (max-width: 1024px){
    header {
        left: 0;
        -webkit-transform: translate3d(-300px,0,0);
        transform: translate3d(-300px,0,0);
        transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
    }
    header.show_menu {
        
        -webkit-transform: translate3d(0,0,0);
	   transform: translate3d(0,0,0);
    }
    header .logo {
        display: none;
    }
    header .logo::after {
        position: absolute;
        top: 100%;
        left: 10px;
        width: 25%;
        height: 2px;
        background: #39312e;
        content: '';
        margin-top: 20%;
    }
    .logo-mobile {
        display: block;
        position: fixed;
        top: 5px;
        right: 5px;
        max-width: 60px;
        z-index: 9999;
        -webkit-transform: rotate(12deg);
        transform: rotate(12deg);
    }
    #menu_icon,
    .close_menu,
    .show_menu {
        display: block;
    }
    .show_menu {
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
    }
    .main-menu {
        margin-top: 30px;
        margin-left: 65px;
    }
    .language {
        top: 78px;
        left: 10px;
    }
    .language ul li {
        display: inline;
    }
    .language ul li a,
    .language ul li a:hover {
        border-top-width: 0;
    }
    .parallax-section {
        padding-top: 50px;
        padding-left: 0;
    }
    .parallax-section .intro h1 {
        font-size: 2em;
    }

    .parallax-section .intro p {
        font-size: 1.350em;
    }
    .main .grid {
        width: 50%;
    }
    .main .grid-25 {
        width: 25%;
    }
    .main .grid.tab-grid {
        width: 33.3333%;
    }
    .main {
        width: 100%;
        position: relative;
        padding-left: 0;
    }
    footer {
        padding-left: 1em;
    }
}

@media screen and (max-width: 600px) {
    .tab-grid figure h2 {
        font-size: 1.35em;
        right: 10px;
        left: 10px;
        padding: 5px 0;
        width: 90%;
    }
    
    .tab-grid figure p {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .main .grid {
        width: 100%;
    }
    .main .grid-25 {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .logo-mobile {
        max-width: 52px;
    }
    
    .parallax-section .intro {
        margin-top: -1vh;
    }
    
    .parallax-section .intro h1 {
        font-size: 1.7em;
        line-height: 1.1;
    }

    .parallax-section .intro p {
        font-size: 1.350em;
    }
    
    .tab-grid figure h2 {
        font-size: 1.15em;
        top: 35%;
        right: 7px;
        left: 7px;
        padding: 5px 0;
    }
}

@media screen and (max-width: 414px) {
    .tab-grid figure h2 {
        font-size: 1em;
        right: 5px;
        left: 5px;
        padding: 5px 0;
    }
}

@media screen and (max-width: 380px) {
    .tab-grid figure h2 {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 320px) {
    .main .grid-25 {
        width: 100%;
    }
}

@media screen and (max-height: 700px) {
    .subscribe-form {
        display: none;
    }
    .subscribe-btn {
        display: inline-block;
    }
}



// Pages & plugins
// ---------------------------------------------------------------------------

@import "gridder.less";
@import "portfoli.less";
@import "about.less";
@import "marketing.less";
//@import "blog.less";
@import "plugins.less";

