/*! Variables */
// ==========================================================================

// Colors
//============
// https://coolors.co/2176ae-98d2eb-ffb30f-fadf63-776d5a
@brownpastel: #776D5A; /* rgba(, 1) */
@yellow: #FADF63; /* rgba(, 1) */
@orange: #FFB30F; /* rgba(, 1) */
@blue: #2176AE; /* rgba(, 1) */
@lightblue: #98D2EB; /* rgba(, 1) */
@white: #fff; /* rgba(255, 255, 255, 1) */
@black: #222; /* rgba(34, 34, 34, 1) */

@browndarker: #625A4A; /* rgba(, 1) */

// Old colors
@brown: #39312e; /* rgba(57, 49, 46, 1) */
@dark-brown: #211716; /* rgba(33, 23, 22, 1) */
@green: #009999; /* rgba(0, 153, 153, 1) */
//@orange: #faa419; /* rgba(250, 164, 25, 1) */
@grey: #807a78; /* rgba(128, 122, 120, 1) */
@light-grey: #c1bfbf; /* rgba(193, 191, 191, 1) */


// Social
@facebook: rgba(59, 89, 152, 1);
@twitter: rgba(0, 172, 237, 1);
@instagram: rgba(221, 42, 123, 1);
@google: rgba(211, 72, 54, 1);
@email: rgba(210, 210, 210, 1);


// Alert
@alert: #A62639;