// Mixins
// ==========================================================================

// Typography
// =============
/*  Fonts  */
@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-lig-webfont.eot');
    src: url('../fonts/lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-lig-webfont.svg#latolight') format('svg'),
         url('../fonts/lato-lig-webfont.woff') format('woff'),
         url('../fonts/lato-lig-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight_italic';
    src: url('../fonts/lato-ligita-webfont.eot');
    src: url('../fonts/lato-ligita-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-ligita-webfont.svg#latolight_italic') format('svg'),
         url('../fonts/lato-ligita-webfont.woff') format('woff'),
         url('../fonts/lato-ligita-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-reg-webfont.eot');
    src: url('../fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-reg-webfont.svg#latoregular') format('svg'),
         url('../fonts/lato-reg-webfont.woff') format('woff'),
         url('../fonts/lato-reg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bol-webfont.eot');
    src: url('../fonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bol-webfont.svg#latobold') format('svg'),
         url('../fonts/lato-bol-webfont.woff') format('woff'),
         url('../fonts/lato-bol-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Ionicons';
  src: url('../fonts/ionicons.eot');
  src: url('../fonts/ionicons.eot') format('embedded-opentype'),
       url('../fonts/ionicons.ttf') format('truetype'),
       url('../fonts/ionicons.woff') format('woff'),
       url('../fonts/ionicons.svg#Ionicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Border radius
//===============
.border-radius0 (@radius: 0) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
         -o-border-radius: @radius;
            border-radius: @radius;
}


// Opacity, Gradients
//==================
.opacity(@opacity: 1) {
  @ieOpacity: @opacity * 100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{ieOpacity})";
  filter: ~"alpha(opacity=@{ieOpacity})"; 
  opacity: @opacity;
}

// Animations
//===============
.transition02 (@who: all, @length: 0.2s) {
  -webkit-transition: @who @length;
     -moz-transition: @who @length;
       -o-transition: @who @length;
      -ms-transition: @who @length;
          transition: @who @length;
}

.transition03 (@who: all, @length: 0.3s) {
  -webkit-transition: @who @length;
     -moz-transition: @who @length;
       -o-transition: @who @length;
      -ms-transition: @who @length;
          transition: @who @length;
}

.transition04 (@who: all, @length: 0.4s) {
  -webkit-transition: @who @length;
     -moz-transition: @who @length;
       -o-transition: @who @length;
      -ms-transition: @who @length;
          transition: @who @length;
}

.animation1 (@name: fadeIn, @duration: 1s, @delay: 1s, @ease: ease) {
  -webkit-animation: @name @duration @delay @ease;
  -moz-animation:    @name @duration @delay @ease;
  -ms-animation:     @name @duration @delay @ease;
  -o-animation:      @name @duration @delay @ease;
  animation:         @name @duration @delay @ease;
}

