/*! Blog */
// ==========================================================================
 
/* Home/Blog */

.parallax-section.blog {
    background-color: var(--bg-color);
    height: 20vh;
}

.parallax-section.blog .intro h1 {
    color: var(--font-color);
}

.parallax-section.blog .intro::after {
    background: var(--bg-color);
}

.content-body {
    padding-top: 2em;
	padding-bottom: 4em;
    padding-left: 300px;
    color: var(--font-color);
    background: var(--bg-color);
    //display: inline-block;
}

.content-body h2,
.content-body h3,
.content-body h4,
.content-body h5,
.content-body h6 {
    color: var(--font-color);
}

.content-body p {
    margin: 2em 0;
}

.content-body a {
    text-decoration: none;
}

.content-body ul,
.content-body ol {
    margin: 2em 0;
    padding: 0 0 0 1em;
    line-height: 1.9;
}

.row-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
}

.col-main,
.col-aside {
    position: relative;
    min-height: 1px;
    float: left;
}

.col-main {
    width: 66.66666667%;
}

.col-aside {
    width: 33.33333333%;
}

.post {
	background: var(--bg-color);
	padding: 40px 30px 60px;
}

.post img {
    height: auto;
}

.post ol.sublists,
.post ol.sublists li ol {
    counter-reset: item;
}

.post ol.sublists li {
    display: block;
}

.post ol.sublists li:before {
    content: counters(item, ".") " . ";
    counter-increment: item;
    margin-right: 0.5em;
}

.post ol.sublists li ol {
    margin: 0;
}

.entry-title {
    font-family: 'latoregular', sans-serif;
    font-weight: 400;
	font-size: 2.350em;
	margin-bottom: 20px;
	line-height: 1.3;
	padding: 10px 0 0;
    color: var(--font-color);
}

.entry-meta {
	color: var(--font-color3);
	font-size: 13px;
	letter-spacing: 1px;
	margin-bottom: 30px;
}

.entry-meta a {
    color: var(--font-color3);
}

.entry-content {
	font-size: 18px;
	line-height: 1.9;
	color: var(--font-color);
}

.entry-content a,
.widget-subscribe p a {
    border-bottom: 1px dotted var(--font-color3);
}

.entry-content a:hover,
.widget-subscribe p a:hover {
    border-bottom-style: solid;
}

/*.post-category,
.post-date,
.post-author,*/
.entry-meta span {
	position: relative;
	padding-right: 15px;
    line-height: 2;
}

.entry-meta span:last-child {
    padding-right: 0;
}

/*.post-category::after,
.post-date::after,
.post-author::after,*/
.entry-meta span::after {
	position: absolute;
	content: '.';
	color: var(--font-color);
	font-size: 30px;
	top: -30px;
	right: 1px;
}

.entry-meta span:last-child::after {
    content: none;
}

/* Read More Button CSS 3 style */

.read-more {
    font-family: 'latoregular', sans-serif;
    font-weight: 400;
	word-spacing: 1px;
	letter-spacing: 0.01em;
	text-align: center;
	margin-top: 20px;
    margin-bottom: 20px;
}

.cl-effect-14 a {
	padding: 0 20px;
	height: 45px;
	line-height: 45px;
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
    border-bottom: none;
}

.cl-effect-14 a:hover {
    border-bottom: none;
}

.cl-effect-14 a::before,
.cl-effect-14 a::after {
	position: absolute;
	width: 45px;
	height: 1px;
	background: var(--bg-color);
	content: '';
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}

.cl-effect-14 a::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.cl-effect-14 a::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::before,
.cl-effect-14 a:focus::after {
	background: var(--font-color);
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:focus::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}


/* Post navigation */
.post-pagination {
    display: inline-block;
    margin: 2em auto 3em 2em;
}

.post-pagination ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.post-pagination ul li {
    margin-right: 5px;
    float: left;
}

.post-pagination ul li:last-child {
    margin-right: 0;
}

.post-pagination ul li a {
	display: block;
	padding: 8px 18px;
    border-bottom: 1px solid transparent;
}
 
.post-pagination ul li.current a {
    border-bottom: 1px solid var(--font-color3);
    cursor: default;
}

.post-pagination ul li a:hover {
    border-color: var(--font-color3);
}


/* Widget */

.widget {
    background: var(--bg-color);  
    padding: 30px 30px 0 30px;  
}

.consulting .widget {
    background: var(--bg-color2);
}

.widget-title {  
	font-size: 1.355em;  
	margin-bottom: 20px;  
	line-height: 1.6;  
	padding: 10px 0 0;
	font-weight: 400;
    color: var(--font-color);
}

.widget_recent_entries ul,
.widget_archive ul,
.widget_categories ul {
    padding: 0;
    margin: 0;
}

.widget_recent_entries ul li,
.widget_archive ul li,
.widget_categories ul li {
    list-style-type: none;
    position: relative;
    line-height: 1.3;
    margin-bottom: 10px;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
}

.widget_recent_entries ul li a,
.widget_archive ul li a,
.widget_categories ul li a {
    display: block;
    padding: 5px 0;
}

.widget_recent_entries ul li:hover,
.widget_archive ul li:hover,
.widget_categories ul li:hover,
.widget_recent_entries ul li:focus,
.widget_archive ul li:focus,
.widget_categories ul li:focus {
    transform: translate3d(15px, 0, 0);
}

.widget-subscribe {
    padding: 0 30px 2em 30px;
    margin: 0 auto 2em;
}

.widget-subscribe::after {
    position: relative;
    content: '';
    display: block;
	width: ~"calc(100% - 30px)";
    width: 100%;
	height: 1px;
	background: var(--font-color3);
    left: 0;
    bottom: 0;
    top: auto;
    right: auto;
    margin-top: 2em;
}

.widget-subscribe p {
    margin: 1.75em 0 1em;
}

.consulting .widget-subscribe {
    border-bottom: none;
    padding: 2em;
    margin: 2em auto 3em;
}

.response {
    display: none;
}


/* Header Search Bar */
.search {
    position: relative;
    border-bottom: 1px dotted var(--font-color);
	min-height: 42px;
    margin: 0 auto 2em;
}

.search input[type=search] {
	width: 80%;
	border: none;
	position: absolute;
	left: 0;
	padding: 0 20px 0 0;
    line-height: 41px;
    background-color: var(--bg-color);
	z-index: 0;
}

.search button {
	position: absolute;
	right: 12px;
	top: 0;
	z-index: 0;
	background: transparent;
    color: var(--font-color);
	border: 0;
	padding: 0;
    line-height: 41px;
}

.search button span {
	font-size: 22px;
}

#search-menu span.ion-ios-close-empty {
    font-size: 40px;
    line-height: 0;
    position: relative;
    top: -6px;
}

/* Subscribe sidebar */
.subscribe-widgetbar {
    position: relative;
    padding: 0 50px;
}

.consulting .subscribe-widgetbar {
    padding: 0;
}



/* Single page Blog */
blockquote {
    border-left: 5px solid var(--font-color3);
    font-style: italic;
    line-height: 22px;
    margin: 2em 0;
    padding: 0 0 0 1em;
    line-height: 1.8;
}

.next-prev {
    border-bottom: 1px solid var(--font-color3);
    border-top: 1px solid var(--font-color3);
    margin: 2em 0 4em;
    padding: 15px 0 10px;
    display: inline-block;
    width: 100%;
}

.prev-post a,
.next-post a {
    margin: 0 0 2em;
}

.prev-post a {
    float: left;
}

.next-post a {
    float: right;
}

.prev-post a::before,
.next-post a::before {
    /*font-family: 'Ionicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;*/
    position: relative;
    display: block;
    content: '';
    background-image: url(../images/ios-arrow-thin-left.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 100%;
    height: 40px;
    
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
    display: block;
    color: var(--font-color);
    font-size: 1.750em;
    text-align: center;
    margin-bottom: 0.350em;
    
    transition: all .3s linear;
}

.prev-post a::before {
    //content: '\f2ca';
}

.next-post a::before {
    //content: '\f30f';
    transform: rotate(180deg);
}

.next-prev a:hover {
    color: var(--font-color3);
}

.prev-post a:hover::before,
.next-post a:hover::before {
    opacity: 0.5;
}

.comment-respond > h3,
.author-about > h4,
.comments > h4 {
    border-bottom: 1px solid var(--font-color3);
    margin-bottom: 15px;
    margin-top: 0;
    padding-bottom: 10px;
    position: relative;
}

.post-item .comments-section {
    margin-top: 35px;
}

.comments ul {
    list-style: none;
    margin: 2em 0;
    padding: 0;
    line-height: 1.9;
}

.comments ul li {
    padding: 0;
}

.comments ul li ul {
    padding-left: 3em;
}

.comment-wrap {
	border-top: 1px dotted var(--font-color3);
    border-bottom: 1px dotted var(--font-color3);
	border-radius: 1px;
	margin-left: 20px;
	padding: 10px;
	position: relative;
}

.comment-wrap .author-avatar {
	margin-left: -25px;
	margin-right: 20px;
}

.author-comment {
    margin-bottom: 15px;
    overflow: hidden;
}

.author-comment cite a:hover,
.replay:hover {
    color: var(--font-color3);
    text-decoration: underline;
}

.author-comment cite {
    margin-bottom: 2px;
    padding-top: 4px;
}

.comment-content {
    margin-left: 45px;
}

.comment-respond {
    margin-top: 80px;
}

#commentform {
    margin-top: 35px;
}

#commentform .form-control:hover {
    border-color: #C4BB18;
}

.form-group:last-child,
.form-group:last-child input {
  margin: 0;
}


/* Share buttons */
.share {
    margin: 3em auto;
}

.share ul {
    margin: 0;
    padding: 0;
}

.share li {
    display: inline-block;
    margin: 0.500em 2em 0.500em 0;
    padding: 0;
}

.share ul li:before {
    content: "";
    margin-right: 0;
}

.share a {
    padding: 0.250em 0;
    border-bottom: 1px dotted;
    color: var(--font-color);
}

.share a:hover,
.share a:focus {
    border-bottom: 1px solid;
}

.share a.facebook-color:hover,
.share a.facebook-color:focus {
    color: @facebook;
}

.share a.twitter-color:hover,
.share a.twitter-color:focus {
    color: @twitter;
}

.share a.googleplus-color:hover,
.share a.googleplus-color:focus {
    color: @google;
}

/* Click to tweet */
blockquote.twitter-quote {
    font-size: 1.5em;
    margin-bottom: -1.25em;
    .transition03;
}

blockquote.twitter-quote:hover {
    border-left-color: @twitter;
    background: rgba(0, 172, 237, 0.1);
}

a.twitter-click {
    display: inline-flex;
	font-size: 0.7em;
    line-height: 40px;
    text-decoration: none;
    border-bottom: none;
    .transition03;
}

a.twitter-click::before {
    position: relative;
    display: block;
    content: '';
    background-image: url(../images/social-twitter.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px;
    padding: 8px;
    height: 24px;
    width: 24px;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
    display: block;
	margin-bottom: 10px;
    margin-right: 7px;
    color: var(--bg-color);
    background-color: var(--font-color3);
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 50%;
    .transition03;
}

a.twitter-click:hover {
    color: @twitter;
    border-bottom-style: none;
}

a.twitter-click:hover::before {
    background-color: @twitter;
}



/* Media Query */
@media screen and (max-width: 1024px) {
    .content-body {
        padding-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .row-main {
        display: block;
    }
    .col-main,
    .col-aside {
        width: 100%;
    }
}

@media (max-width: 431px) {
	.post {
		background: var(--bg-color);
		padding: 0 10px 0;
	}

	.more-link {
		font-size: 0.9em;
		line-height: 100%;
	}
}


