/*! Plugins */
// ==========================================================================

/*!
 * animsition v4.0.0
 * A simple and easy jQuery plugin for CSS animated page transitions.
 * http://blivesta.github.io/animsition
 * License : MIT
 * Author : blivesta (http://blivesta.com/)
 */


.animsition,
.animsition-overlay {
  position: relative;
  opacity: 0;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}


/* loading option */
.animsition-loading,
.animsition-loading:after {
  width: 32px;
  height: 32px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  border-radius: 50%;
  z-index: 100;
}

.animsition-loading {
  background-color: transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.2);
  border-right: 5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  border-left: 5px solid var(--lightblue);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-name: animsition-loading;
          animation-name: animsition-loading;
}

@-webkit-keyframes animsition-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animsition-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.fade-in {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
}


@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.fade-out {
  -webkit-animation-name: fade-out;
          animation-name: fade-out;
}




/* -------------------------------- */
/* Article on CodyHouse (http://codyhouse.co/?p=160)
Terms (http://codyhouse.co/terms/) ****************/
/* -------------------------------- */

/* 
Modules - reusable parts of our design
-------------------------------- */
.img-replace {
    /* replace text with an image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
}

/* 
Main components 
-------------------------------- */
.popup-trigger,
.trigger {
    display: inline-block;
    width: auto;
    height: 50px;
    line-height: 50px;
    padding: 0 3em;
    margin: 2em auto;
    text-align: center;
    color: var(--bg-color);
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
    border-bottom: none !important;
    background: var(--yellow);
    .transition04;
}

.trigger.trigger-blue {
    color: var(--font-color) !important;
    background: var(--lightblue);
    font-size: 0.9em;
    height: 40px;
    line-height: 40px;
    padding: 0 2em;
    border: 1px solid var(--lightblue) !important;
}

.popup-trigger:hover,
.popup-trigger:focus,
.trigger:hover,
.trigger:focus {
    background: var(--font-color);
}

.trigger.trigger-blue:hover,
.trigger.trigger-blue:focus {
    background: var(--bg-color2);
    color: var(--lightblue) !important;
    border-color: var(--lightblue) !important;
}


/* 
xpopup 
-------------------------------- */
.popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color2);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    z-index: 1;
}

.popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.popup-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 4em auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(22vh);
    -moz-transform: translateY(22vh);
    -ms-transform: translateY(22vh);
    -o-transform: translateY(22vh);
    transform: translateY(22vh);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.popup-container h3 {
    padding-top: 35px;
}

.popup-container p {
    padding: 1em;
}

.popup-container .popup-close {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 34px;
    height: 34px;
}

.popup-container .popup-close::before,
.popup-container .popup-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 24px;
    height: 2px;
    background-color: var(--bg-color2);
}

.popup-container .popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}

.popup-container .popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 2px;
}

.is-visible .popup-container {
    -webkit-transform: translateY(20vh);
    -moz-transform: translateY(20vh);
    -ms-transform: translateY(20vh);
    -o-transform: translateY(20vh);
    transform: translateY(20vh);
}

@media only screen and (min-width: 1170px) {
    .popup-container {
        margin: 0 auto;
    }
}


/**
 *
 * JQUERY EU COOKIE LAW POPUPS
 * version 1.1.1
 *
 * Code on Github:
 * https://github.com/wimagguc/jquery-eu-cookie-law-popup
 *
 * To see a live demo, go to:
 * http://www.wimagguc.com/2018/05/gdpr-compliance-with-the-jquery-eu-cookie-law-plugin/
 *
 * by Richard Dancsi
 * http://www.wimagguc.com/
 *
 */
.clearfix {
	clear: both;
}

.eupopup-container {
	background-color: var(--bg-color2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
	color: var(--font-color2);
	padding: 15px 20px;
	font-size: 13px;
	line-height: 1.7em;
    letter-spacing: 1px;
	text-align: left;
	display: none;
	z-index: 9999999;
}

.eupopup-container-top,
.eupopup-container-fixedtop {
	position: absolute;
	top: 0; left: 0; right: 0;
}

.eupopup-container-fixedtop {
	position: fixed;
}

.eupopup-container-bottom {
	position: fixed;
	bottom: 0; left: 0; right: 0;
}

.eupopup-container-bottomleft {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 256px;
}

.eupopup-container-bottomright {
	position: fixed;
	bottom: 7px;
	right: 7px;
	width: 280px;
}

.eupopup-closebutton {
    position: absolute;
	top: -5px;
    right: -5px;
	padding: 0;
}

.eupopup-closebutton svg {
    width: 28px;
    fill: rgba(152, 210, 235, 1);
    pointer-events: none;
    vertical-align: top;
}

.eupopup-closebutton:hover,
.eupopup-closebutton:active {
	color: var(--font-color);
	text-decoration: none;
}

.eupopup-closebutton:hover svg,
.eupopup-closebutton:active svg {
    fill: var(--font-color);
}

.eupopup-head {
	text-transform: uppercase;
	padding: 10px 0 5px;
	color: var(--font-color);
}

.eupopup-body {
	color: var(--font-color2);
}

.eupopup-buttons {
	padding: 20px 0 10px 0;
}

.eupopup-button_1 {
	color: var(--font-color);
    background-color: var(--lightblue);
    text-transform: uppercase;
}

.eupopup-button_2 {
	color: var(--lightblue);
    background-color: transparent;
    text-transform: uppercase;
}

.eupopup-button {
	margin: 0 10px 0 0;
    font-weight: 700;
	font-size: 13px;
    line-height: 13px;
    padding: 7px 14px;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
}

.eupopup-button_1:hover,
.eupopup-button_1:focus {
	text-decoration: none;
    background-color: var(--bg-color);
}

.eupopup-button_2:hover,
.eupopup-button_2:focus {
    color: var(--font-color);
}

body .eupopup-color-inverse {
	color: #000;
	background-color: rgba(255, 255, 255, 0.9);
}

body .eupopup-color-inverse .eupopup-head {
	color: #000;
}

body .eupopup-style-compact {
	text-align: left;
	padding: 8px 30px 7px 20px;
	line-height: 15px;
}

body .eupopup-style-compact .eupopup-head,
body .eupopup-style-compact .eupopup-body,
body .eupopup-style-compact .eupopup-buttons {
	display: inline;
	padding: 0;
	margin: 0;
}

body .eupopup-style-compact .eupopup-button {
	margin: 0 5px;
}

.eupopup-container-hide {
    display: none !important;
}


