/*! Portfoli */
// ==========================================================================

.gridder-copy {
    text-align: center;
    font-size: 1.150em;
    padding: 1em 2em 2em;
    line-height: 1.7;
}

.gridder-copy a {
    color: var(--font-color);
}

.gridder-imgs {
    margin: 0;
    padding: 0;
}

.gridder-imgs img {
	position: relative;
	display: block;
    width: 100%;
    height: auto;
    margin: 2em auto;
}

/**
 * Flexible multiline definition lists with 2 lines of CSS http://lea.verou.me/2012/02/flexible-multiline-definition-lists-with-2-lines-of-css/
 */
dl {
    text-align: left;
    margin: 2em auto;
    display: inline-block;
}

dt,
dd {
    display: inline;
    margin: 0;
}

dd:after {
	content: '\A';
	white-space: pre;
}

dt {
    /*font-family: 'latobold', sans-serif;
	font-weight: 700;*/
    text-transform: uppercase;
    margin-right: 1em;
}

/* Visit button */
.visit-btn a {
    /*display: inline-block;
    color: @white;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid @white;
    margin: 1em auto;*/

/* Underline reveal */
    /*vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;*/
}

.visit-btn a:before {
    /*content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: @white;
    height: 6px;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;*/
}

.visit-btn a:hover:before,
.visit-btn a:focus:before,
.visit-btn a:active:before {
    /*-webkit-transform: translateY(0);
    transform: translateY(0);*/
}
