/*********************************************
  * Filename: style.css
  * Website: http://sokvist.com/
  * Author: Sokvist
  * Author URI: http://sokvist.com
  * Date: 08/12/2015
  * Version: 2.0
*********************************************/

/*
    - General CSS
    - Header
    - Home/portfolio
*/

@import "reset.less";
@import "variables.less";
@import "mixins.less";


// General CSS
// ---------------------------------------------------------------------------

body {
    font-family: 'latolight', sans-serif;
    font-weight: 300;
    color: var(--font-color);
    background: var(--bg-color);
}

body.blog,
body.single,
body.archive,
body.search,
body.page-cursos {
    background: var(--gb-color);
}

.wrapper {
    width: 92.72727272727273%;
    margin: 0 auto;
}

header ul.social li a,
.main .grid a .caption,
header nav ul li a,
.language ul li a,
.subscribe-form input,
.subscribe-sidebar input,
.subscribe-widgetbar input,
.subscribe-btn,
.footer a,
.footer ul.social li a::before,
.footer ul.social li a .icon,
.cd-project-info a,
.post-pagination ul li a {
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
}

h1, h2, h3, h4, h5 ,h6 {
    color: var(--font-color);
    letter-spacing: 1px;
}

h1 { font-size: 2em; margin: .67em 0; }

h2 { font-size: 1.5em; margin: .75em 0; }

h3 { font-size: 1.35em; margin: .83em 0; line-height: 1.5; }

h4 { font-size: 1.27em; margin: 1.25em 0; }

h5 { font-size: 1.12em; margin: 1.5em 0; }

h6 { font-size: .93em; margin: 1.67em 0; }

h1,
h2,
h3,
h4,
h5,
h6 { font-family: 'latobold', sans-serif; font-weight: 700; }

strong {
    font-family: 'latoregular', sans-serif;
    font-weight: 600;
}

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}

.clearfix:after {  
    clear: both;  
}
 
.clearfix {  
    *zoom: 1;  
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: var(--font-color3);
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: var(--font-color3);
   opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: var(--font-color3);
   opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: var(--font-color3);
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: var(--font-color3);
}

::placeholder { /* Most modern browsers support this now. */
   color: var(--font-color3);
}


// Header
// ---------------------------------------------------------------------------
header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 199px;
    border-right: 1px solid var(--bg-color);
    min-height: 100%;
    padding: 0 50px;
    background: var(--bg-color); 
    float: left;
    overflow: hidden;
    z-index: 9999;
}

header {
    background: var(--bg-color);
}

header .logo {
    margin-top: 25px;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    position: relative;
}

.logo-mobile {
    display: none;
}

.language {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    width: auto;
    text-align: center;
    text-transform: uppercase;
    font-family: 'latoregular', sans-serif;
    font-weight: 400;
    z-index: 1;
    //display: none;
}

.language ul {
    margin: 0;
    padding: 0;
}

.language ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.language ul li:last-child {
    /*border-left: 1px solid #546c30;*/
}

.language ul .active {
    display: none;
}

.language ul li a {
    display: block;
    color: var(--lightblue);
    background: var(--bg-color2);
    text-decoration: none;
    border-bottom: 1px solid var(--lightblue);
    font-size: 10px;
    letter-spacing: 0.1em;
    width: auto;
    height: 32px;
    line-height: 32px;
    padding: 0 3px;
    //border-top: 1px solid transparent;
}

.language ul li a:hover,
.language ul li a:focus {
    color: var(--lightblue);
    border-bottom-color: var(--lightblue);
    background: rgba(255, 255, 255, 0.2);
    //border-top-color: @brown;
}


.main-menu {
    margin: 30px 0 0 15px;
}

/* Effect 8: border slight translate */
.main-menu li {
    margin: 0;
    padding: 0;
}

.main-menu a {
    position: relative;
    display: inline-block;
    margin: 7px 0 7px -15px;
    outline: none;
    color: var(--font-color2);
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1em;
}

.main-menu a:hover,
.main-menu a:focus {
    outline: none;
}

.main-menu a {
    padding: 7px 20px;
}

.main-menu a::before,
.main-menu a::after {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--white);
    content: '';
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.main-menu a::before,
.main-menu a::after {
    border: 1px solid var(--bg-color);
}

.main-menu a::after {
    border-color: var(--bg-color);
    opacity: 0;
    -webkit-transform: translateY(-7px) translateX(6px);
    -moz-transform: translateY(-7px) translateX(6px);
    transform: translateY(-7px) translateX(6px);
}

.main-menu a::after {
    border-color: var(--lightblue);
}

.main-menu a:hover::before,
.cl-effect-8 a:focus::before {
    opacity: 0;
    -webkit-transform: translateY(5px) translateX(-5px);
    -moz-transform: translateY(5px) translateX(-5px);
    transform: translateY(5px) translateX(-5px);
}

.main-menu a:hover::after,
.main-menu a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px) translateX(0px);
    -moz-transform: translateY(0px) translateX(0px);
    transform: translateY(0px) translateX(0px);
}

.main-menu .current_page_item a {
    color: var(--font-color);
    cursor: default;
}

.main-menu .current_page_item a::before,
.main-menu .current_page_item a::after {
    border-color: transparent;
}


/* Theme switcher */
/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin: 0;
    
    position: absolute;
    top: 12px;
    right: 20px;
    left: auto;
    bottom: auto;
    z-index: 9;

    em {
        margin-left: 5px;
        font-size: 0.75em;
        color: var(--font-color3);
    }
}

.theme-switch {
    display: inline-block;
    height: 16px;
    position: relative;
    width: 32px;
}

.theme-switch input {
    display :none;
}

.slider {
    background-color: #D2CEC8;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: var(--bg-color);
    bottom: 1px;
    content: "";
    height: 14px;
    left: 1px;
    position: absolute;
    transition: .4s;
    width: 14px;
}

input:checked + .slider {
    background-color: #98D2EB;
}

input:checked + .slider:before {
    transform: translateX(16px);
}

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

@media screen and (max-width: 1024px) {
    
    .theme-switch-wrapper {
        top: 10px;
        right: auto;
        left: 70px;
    }
}


/* Subscribe form */
.subscribe-form {
    margin-top: 3em;
}

.subscribe-form p,
.subscribe-sidebar p {
    text-transform: uppercase;
    margin: 10px 0;
    letter-spacing: 1px;
    color: var(--lightblue);
}

.subscribe-form p {
    color: var(--font-color2);
}

.subscribe-form p {
    color: var(--lightblue);
}

.subscribe-sidebar p,
.subscribe-widgetbar p {
    line-height: 1.5;
}

.subscribe-sidebar p {
    line-height: 1.5;
}

.subscribe-form input::-webkit-input-placeholder,
.subscribe-sidebar input::-webkit-input-placeholder,
.subscribe-widgetbar input::-webkit-input-placeholder,
#commentform::-webkit-input-placeholder {
    color: var(--font-color3) !important;
}

.subscribe-form input:-moz-placeholder,
.subscribe-sidebar input:-moz-placeholder,
.subscribe-widgetbar input:-moz-placeholder,
#commentform:-moz-placeholder {
    color: var(--font-color3) !important;
}

.subscribe-form input::-moz-placeholder,
.subscribe-sidebar input::-moz-placeholder,
.subscribe-widgetbar input::-moz-placeholder,
#commentform::-moz-placeholder {
    color: var(--font-color3) !important;
}

.subscribe-form input:-ms-input-placeholder,
.subscribe-sidebar input:-ms-input-placeholder,
.subscribe-widgetbar input:-ms-input-placeholder,
#commentform:-ms-input-placeholder {
    color: var(--font-color3) !important;
}

.subscribe-form input[type="text"],
.subscribe-form input[type="email"],
.subscribe-form input[type="submit"],
.subscribe-sidebar input[type="text"],
.subscribe-sidebar input[type="email"],
.subscribe-sidebar input[type="submit"],
.subscribe-widgetbar input[type="text"],
.subscribe-widgetbar input[type="email"],
.subscribe-widgetbar input[type="submit"],
#commentform input[type="text"],
#commentform input[type="email"],
#commentform input[type="submit"],
#commentform textarea {
    width: 100%;
    margin: 7px 0;
    padding: 7px 0;
    border: none;
    font-family: 'latolight', sans-serif;
    font-weight: 300;
    font-size: 1em;
    background: transparent;
    border-radius: 0;
}

.subscribe-form input[type="text"],
.subscribe-form input[type="email"],
.subscribe-sidebar input[type="text"],
.subscribe-sidebar input[type="email"],
.subscribe-widgetbar input[type="text"],
.subscribe-widgetbar input[type="email"],
#commentform input[type="text"],
#commentform input[type="email"] {
    border-bottom: 1px dotted var(--font-color3);
}

#commentform textarea {
    border-top: 1px dotted var(--font-color3);
    border-bottom: 1px dotted var(--font-color3);
}

.subscribe-form input[type="text"],
.subscribe-form input[type="email"],
.subscribe-sidebar input[type="text"],
.subscribe-sidebar input[type="email"] {
    border-bottom: 1px dotted var(--lightblue);
}

.subscribe-form input[type="submit"],
.subscribe-sidebar input[type="submit"],
.subscribe-widgetbar input[type="submit"],
#commentform input[type="submit"] {
    border: 1px solid var(--font-color2);
    color: var(--font-color2);
    margin-top: 12px;
}

.subscribe-form input[type="submit"],
.subscribe-sidebar input[type="submit"] {
    border: 1px solid var(--lightblue);
    color: var(--lightblue);
}

.subscribe-form input[type="submit"]:hover,
.subscribe-sidebar input[type="submit"]:hover,
.subscribe-widgetbar input[type="submit"]:hover,
#commentform input[type="submit"]:hover {
    color: var(--white);
    background-color: var(--bg-color);
}

.subscribe-form input[type="submit"]:hover,
.subscribe-sidebar input[type="submit"]:hover {
    color: var(--bg-color);
    background-color: var(--lightblue);
}

/* Subscribe button */
.subscribe-btn {
    display: none;
    color: var(--font-color2);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 12px;
    border: 1px solid var(--font-color2);
    margin-top: 30px;
    margin-bottom: 7px;

/* Underline reveal */
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.subscribe-btn {
    color: var(--lightblue);
    border: 1px solid var(--lightblue);
}

.subscribe-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--font-color2);
    height: 5px;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.subscribe-btn:hover:before,
.subscribe-btn:focus:before,
.subscribe-btn:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.response {
    display: none;
}

.real-people {
    position: absolute;
    left: -5000px;
}

/* Subscribe sidebar */
.subscribe-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    min-height: 100%;
    padding: 0 50px;
    background: var(--bg-color);
    color: var(--font-color);
    z-index: 999999;
    overflow: hidden;
    -webkit-transform: translate3d(-300px,0,0);
    transform: translate3d(-300px,0,0);
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.subscribe-sidebar {
    background: var(--bg-color);
}

.subscribe-sidebar.opened {
    -webkit-transform: translate3d(0,0,0);
   transform: translate3d(0,0,0);
}

.modal-close-btn {
    position: absolute;
	width: 34px;
	height: 34px;
	top: 10px;
	right: 10px;
	cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    text-decoration: none;
    transform: rotate(0);
    -webkit-transition: -webkit-transform 0.2s 0s;
    -moz-transition: -moz-transform 0.2s 0s;
    transition: transform 0.2s 0s;
}

.modal-close-btn svg {
    fill: var(--lightblue);
	vertical-align: middle;
    width: 34px;
    height: 34px;
	padding: 0;
}

.modal-close-btn:hover {
    transform: rotate(90deg);
}

.sidebar-block {
    margin-top: 30vh;
}


.footer {
    position: absolute;
    bottom: 20px;
    left: 50px;
}

.footer ul.social {
    list-style: none;
    margin-bottom: 10px;
}

.footer ul.social li {
    display: block;
    float: left;
    position: relative;
    width: 32px;
    height: 32px;
    margin: 0 8px 0 0;
}

.footer ul.social li a {
	position: absolute;
	width: 32px;
	height: 32px;
	cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    text-decoration: none;
    display: flex;
    border: 1px solid var(--lightblue);
    border-radius: 50%;
}

.footer ul.social li a .icon {
    fill: var(--lightblue);
	vertical-align: middle;
	padding: 20%;
}

.footer ul.social li.twitter a:hover,
.footer ul.social li.twitter a:focus {
    border-color: rgba(0, 172, 237, 1);
}

.footer ul.social li.facebook a:hover,
.footer ul.social li.facebook a:focus {
    border-color: rgba(59, 89, 152, 1);
}

.footer ul.social li.instagram a:hover,
.footer ul.social li.instagram a:focus {
    border-color: rgba(221, 42, 123, 1);
}

.footer ul.social li.googleplus a:hover,
.footer ul.social li.googleplus a:focus {
    border-color: rgba(211, 72, 54, 1);
}

.footer ul.social li.twitter a:hover .icon,
.footer ul.social li.twitter a:focus .icon {
    fill: rgba(0, 172, 237, 1);
}

.footer ul.social li.facebook a:hover .icon,
.footer ul.social li.facebook a:focus .icon {
    fill: rgba(59, 89, 152, 1);
}

.footer ul.social li.instagram a:hover .icon,
.footer ul.social li.instagram a:focus .icon {
    fill: rgba(221, 42, 123, 1);
}

.footer ul.social li.googleplus a:hover .icon,
.footer ul.social li.googleplus a:focus .icon {
    fill: rgba(211, 72, 54, 1);
}


.footer .contact p {
    color: var(--font-color);
    font-family: 'latoregular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: left;
}

.footer .contact a {
    text-decoration: none;
    padding: .350em;
    color: var(--font-color2);
}

.footer .contact a {
    color: var(--lightblue);
}

.footer .contact a:hover {
    color: var(--yellow);
}


.footer .log-btn {
    position: relative;
    display: inline-block;
    padding-left: 3em;
    padding-right: 2em;
    color: var(--lightblue);
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    height: 34px;
    line-height: 35px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    margin-top: 1em;
    border: 1px solid var(--lightblue);
    border-radius: 0;
}

.footer .log-btn:hover,
.footer .log-btn:focus {
    color: var(--bg-color);
    background-color: var(--lightblue);
}

.footer .log-btn svg {
    position: absolute;
    fill: var(--lightblue);
    height: 18px;
    width: 18px;
    padding: 8px;
    margin-left: -2em;
}

.footer .log-btn:hover svg,
.footer .log-btn:focus svg {
    fill: var(--bg-color);
}


#menu_icon,
.close_menu {
    display: none;
}

#menu_icon,
#menu_icon.close_menu {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 38px;
    height: 38px;
    cursor: pointer;
    /*white-space: nowrap;
    overflow: hidden;*/
    z-index: 99999;
    border: 1px solid var(--lightblue);
    border-radius: 2px;
}

#menu_icon.close_menu {
    border-color: var(--lightblue);
}

#menu_icon svg {
    fill: var(--lightblue);
	vertical-align: middle;
	width: 32px;
    height: 32px;
    padding: 3px;
}

#menu_icon.close_menu svg {
    fill: var(--lightblue);
	vertical-align: middle;
	width: 38px;
    height: 38px;
    padding: 0;
}

#menu_icon svg.svg-open,
#menu_icon.close_menu svg.svg-close {
    display: block;
}

#menu_icon svg.svg-close,
#menu_icon.close_menu svg.svg-open {
    display: none;
}


/*  Main  */
.main {
    width: 100%;
    height: 100%;
    padding-left: 300px;
    padding-right: 0;
    padding-top: 2em;
    padding-bottom: 3em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 55;
    background: var(--bg-color);
    clear: both;
    
    @media screen and (min-width: 1920px) {
        padding-right: 3em;
    }
}

.parallax-section {
    height: 26vh;
    padding-left: 300px;
    background-color: var(--bg-color);
}

.parallax-section .intro {
    position: fixed;
    margin: 2vh 0 0 40px;
    padding: 1em 0;
    transition: color 0.5s;
}

.parallax-section .intro::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 20%;
    height: 1px;
    background: var(--font-color);
    content: '';
    margin-top: 1%;
}

.parallax-section .intro h1 {
    font-family: 'latoregular', sans-serif;
    font-weight: 400;
    font-size: 2.35em;
    margin: 0.350em 0;
    text-transform: uppercase;
    letter-spacing: 13px;
    line-height: 1.2;
    transition: color 0.5s;
}

.parallax-section .intro h1 span {
    font-family: 'latobold', sans-serif;
	font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0;
    font-size: 1.35em;
}

.parallax-section .intro span.blog-title {
    font-family: 'latobold', sans-serif;
	font-weight: 700;
    color: var(--font-color2);
    font-size: 3em;
    margin: 0.350em 0;
    letter-spacing: 1px;
    display: block;
}

.parallax-section .intro p {
    font-size: 2em;
    margin: 0.350em 0;
}


// Home/portfolio
// ---------------------------------------------------------------------------
.main .grid {
    display: inline-block;
    width: 20%;
    height: auto;
    margin: 0;
    padding: 0;
    vertical-align: top;
	
	@media screen and (max-width: 1920px) {
    	width: 25%;
	}

	@media screen and (max-width: 1680px) {
		width: 33.33333333333333%;
	}
}

.main .grid-25 {
    width: 25%;
}

.main .grid .media.square {
    width: 90%;
    height: 90%;
    padding: 5%;
}


/* http://tympanus.net/codrops/2014/06/19/ideas-for-subtle-hover-effects/ */
/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
    width: 100%;
    height: auto;
	opacity: 0.9;
}

.grid figure figcaption {
	/*padding: 2em;*/
	color: var(--font-color);
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a,
.grid figure figcaption > span.mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption > span.mask {
    cursor: auto;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	font-family: 'latolight', sans-serif;
	font-weight: 300;
    font-size: 1.850em;
    color: var(--header-square);
    transition: color 0.55s;
}

.grid figure h2 span {
    font-family: 'latobold', sans-serif;
	font-weight: 700;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 75%;
    line-height: 1.4;
}


/*---------------*/
/***** Marley *****/
/*---------------*/
figure.effect-marley figcaption {
	text-align: right;
}

figure.effect-marley img {
    opacity: 0.5;
}

figure.effect-marley h2,
figure.effect-marley p {
	position: absolute;
	right: 30px;
	left: 30px;
	padding: 10px 0;
}


figure.effect-marley p {
	bottom: 30px;
	line-height: 1.5;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-marley h2 {
	top: 40%;
	-webkit-transition: -webkit-transform 0.55s;
	transition: transform 0.55s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-marley:hover h2,
figure.effect-marley:focus h2 {
    color: var(--header-square-hover);
}

figure.effect-marley:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-marley h2::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	background: var(--header-square-hover);
	content: '';
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-marley h2::after,
figure.effect-marley p {
	opacity: 0;
	-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
	transition: opacity 0.55s, transform 0.55s;
}

figure.effect-marley:hover h2::after,
figure.effect-marley:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/*---------------*/
/***** Honey *****/
/*---------------*/
figure.effect-honey {
	//background: #39312e;
}

figure.effect-honey img {
	opacity: 0.9;
	-webkit-transition: opacity 0.55s;
	transition: opacity 0.55s;
}

figure.effect-honey:hover img {
	opacity: 0.5;
}

figure.effect-honey figcaption::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: var(--header-square-hover);
	content: '';
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-honey h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1em 1.5em 0.5em;
	//width: 100%;
	text-align: left;
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.effect-honey:hover h2,
figure.effect-honey:focus h2 {
    color: var(--header-square-hover);
}

figure.effect-honey figcaption::before,
figure.effect-honey h2 {
	-webkit-transition: -webkit-transform 0.55s;
	transition: transform 0.55s;
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h2 {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/*---------------*/
/***** Sarah *****/
/*---------------*/
figure.effect-sarah img {
	max-width: none;
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
	transition: opacity 0.55s, transform 0.55s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-sarah:hover img {
	opacity: 0;
	-webkit-transform: translate3d(10px,0,0);
	transform: translate3d(10px,0,0);
}

figure.effect-sarah h2 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
    margin-top: 15%;
}

figure.effect-sarah h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: var(--header-square-hover);
	content: '';
	-webkit-transition: -webkit-transform 0.55s;
	transition: transform 0.55s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect-sarah:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah:hover h2,
figure.effect-sarah:focus h2 {
    color: var(--header-square-hover);
}

figure.effect-sarah p {
	padding: 1em;
    line-height: 1.5;
	opacity: 0;
	-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
	transition: opacity 0.55s, transform 0.55s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.effect-sarah:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/*---------------*/
/***** Roxy *****/
/*---------------*/
figure.effect-roxy {
	//background: var(--bg-color2);
}

figure.effect-roxy img {
	max-width: none;
	width: -webkit-calc(100% + 60px);
	width: calc(100% + 60px);
	-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
	transition: opacity 0.55s, transform 0.55s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-roxy figcaption {
	padding: 2em;
	text-align: left;
}

figure.effect-roxy h2 {
	padding: 10% 0 10px 0;
}

figure.effect-roxy:hover h2,
figure.effect-roxy:focus h2 {
    color: var(--header-square-hover);
}

figure.effect-roxy p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
}

figure.effect-roxy:hover img {
	opacity: 0.7;
	-webkit-transform: translate3d(30px,0,0);
	transform: translate3d(30px,0,0);
}

figure.effect-roxy:hover figcaption::before,
figure.effect-roxy:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
	/*background: #39312e;*/
}

figure.effect-bubba img {
	-webkit-transition: opacity 0.55s;
	transition: opacity 0.55s;
}

figure.effect-bubba.bubba1 img {
	opacity: 0.5;
}

figure.effect-bubba.bubba2 img,
figure.effect-bubba.bubba3 img {
	opacity: 0.9;
}

figure.effect-bubba.bubba4 img {
    opacity: 0.7;
}

figure.effect-bubba:hover img {
	opacity: 0.2;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
	transition: opacity 0.55s, transform 0.55s;
}

figure.effect-bubba.bubba4 figcaption::after {
    top: 20px;
}

figure.effect-bubba.bubba1 figcaption::before {
	border-bottom: 1px solid var(--header-square-hover);
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba.bubba2 figcaption::after {
	border-top: 1px solid var(--header-square-hover);
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba.bubba3 figcaption::after {
	border-top: 1px solid var(--header-square-hover);
    border-bottom: 1px solid var(--header-square-hover);
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba.bubba4 figcaption::after {
	border-top: 2px solid var(--header-square-hover);
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba.bubba4 figcaption::before {
    border-bottom: 2px solid var(--header-square-hover);
    opacity: 1;
    bottom: 20px;
    -webkit-transform: scale(0.1,1);
	transform: scale(0.1,1);
}

figure.effect-bubba h2 {
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.55s;
	transition: transform 0.55s, color 0.55s;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

figure.effect-bubba.bubba3 h2 {
    padding-top: 45%;
    font-size: 1.250em;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

figure.effect-bubba.bubba4 h2 {
    padding-top: 15%;
    font-size: 1.150em;
}

figure.effect-bubba:hover h2,
figure.effect-bubba:focus h2 {
    color: var(--header-square-hover);
}

figure.effect-bubba p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
	transition: opacity 0.55s, transform 0.55s;
	-webkit-transform: translate3d(0,30px,0);
	transform: translate3d(0,30px,0);
}

figure.effect-bubba.bubba3 p {
    opacity: 1;
	-webkit-transform: translate3d(0,-15px,0);
	transform: translate3d(0,-15px,0);
    color: var(--header-square);
}

figure.effect-bubba.bubba4 p {
    opacity: 0.3;
    font-size: 70%;
    line-height: 1.5;
    -webkit-transform: translate3d(0,15px,0);
	transform: translate3d(0,15px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba.bubba4:hover figcaption::before {
    opacity: 0;
    -webkit-transform: scale(0,0,0);
	transform: scale(0,0,0);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p,
figure.effect-bubba.bubba3:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-bubba.bubba3:hover p {
    color: var(--header-square-hover);
}

figure.effect-bubba.bubba4:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

/*---------------*/
/***** Julia *****/
/*---------------*/
figure.effect-julia img {
	max-width: none;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-julia figcaption {
	text-align: left;
}

figure.effect-julia h2 {
	position: relative;
	padding: 2em 1em;
    text-align: center;
}

figure.effect-julia.julia2 h2 {
    position: absolute;
    bottom: 0;
    width: 90%;
    padding: 0 5% 1em;
    line-height: 1.4;
    -webkit-transition: -webkit-transform 0.55s;
	transition: transform 0.55s;
}

figure.effect-julia.julia2:hover h2,
figure.effect-julia.julia2:focus h2 {
    color: var(--header-square-hover);
}

figure.effect-julia p {
	margin: 0;
	padding: 1em 3em;
    line-height: 1.5;
	opacity: 0;
	-webkit-transition: opacity 0.75s, -webkit-transform 0.75s;
	transition: opacity 0.75s, transform 0.75s;
	-webkit-transform: translate3d(0,10px,0) scale(1);
	transform: translate3d(0,10px,0) scale(1);
} 

figure.effect-julia:hover img {
	opacity: 0.4;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

figure.effect-julia.julia2:hover img {
	-webkit-transform: scale3d(1.025,1.025,025);
	transform: scale3d(1.025,1.025,025);
}

figure.effect-julia.julia2:hover h2 {
    -webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-julia:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(0.9);
	transform: translate3d(0,0,0) scale(0.9);
}

/*---------------*/
/***** Ruby *****/
/*---------------*/
figure.effect-ruby img {
	opacity: 0.9;
	-webkit-transition: opacity 0.75s, -webkit-transform 0.75s;
	transition: opacity 0.75s, transform 0.75s;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-ruby:hover img {
	opacity: 0.4;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

figure.effect-ruby h2 {
	margin-top: 20%;
    font-size: 1.250em;
	-webkit-transition: -webkit-transform 0.75s;
	transition: transform 0.75s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-ruby p {
    display: inline-block;
	margin: 1em 0 0;
	padding: 2em;
	border: 1px solid var(--header-square-hover);
    line-height: 1.5;
	opacity: 0;
	transition: opacity 0.75s, transform 0.75s;
	transform: translate3d(0,20px,0) scale(1.1);
}

figure.effect-ruby:hover h2,
figure.effect-ruby:focus h2 {
    transform: translate3d(0,0,0);
    color: var(--header-square-hover);
}

figure.effect-ruby:hover p {
	opacity: 1;
	transform: translate3d(0,0,0) scale(1);
}


// Pages
// ---------------------------------------------------------------------------
.page-container {
    margin: 0 40px;
    
    h2 { 
        margin: 1.5em 0 0.75em;
    }
    
    h3 {
        margin: 1.65em 0 0.83em;
    }
    
    h4 {
        margin: 1.85em 0 1.25em;
    }
    
    h5 {
        margin: 2em 0 1.5em;
    }
    
    h6 {
        margin: 2.25em 0 1.67em;
    }
    
    p,
    ol,
    ul {
        font-size: 1em;
        margin: 0.75em 0 1.5em;
        line-height: 1.7;
    }
    
    ol,
    ul {
        padding-left: 1em;
    }
}



// Not Found Page
// --------------------------------------------------------------------------- 
.error404 .content-body {
    //background-color: transparent;
    background: transparent url("../images/not-found-404.jpg") no-repeat center;
    background-size: cover;
    width: ~"calc(100% - 300px)";
    height: 74vh;
    padding-top: 0;
    padding-bottom: 0;
}

.error404 .parallax-section .intro h1 {
    font-size: 2.15em;
}

.error404 .parallax-section .intro h1 a {
    color: var(--white);
    text-decoration: none;
    border-bottom: 1px dotted var(--white);
    .transition03;
}

.error404 .parallax-section .intro h1 a:hover,
.error404 .parallax-section .intro h1 a:focus {
    border-color: transparent;
}

#post-404 {
    margin-left: 2em;
}

#post-404 img {
    margin: 3em auto;
    display: block;
}

#post-404 h2 a {
    color: var(--font-color);
}

#ajerez {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 9999;
}

/* Media Query */
@media screen and (max-width: 1024px) {
    
    .error404 .content-body {
        width: 100%;
    }
}



// Footer
// --------------------------------------------------------------------------- 
footer .legal {
    text-align: right;
    padding: 1em;
    background-color: var(--bg-color);
}

footer .legal li {
    display: inline-block;
}

footer .legal a {
    font-size: 0.75em;
    letter-spacing: 0.05em;
    color: var(--lightblue);
    padding: 0.5em 1em;
    margin: 0 2px;
}

footer .legal a:hover,
footer .legal a:focus {
    text-decoration: none;
}



/*  Responsive code  */
@media screen and (max-width: 1024px) {
    
    header {
        left: 0;
        -webkit-transform: translate3d(-300px,0,0);
        transform: translate3d(-300px,0,0);
        transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
    }
    
    header.show_menu {
        -webkit-transform: translate3d(0,0,0);
	   transform: translate3d(0,0,0);
    }
    
    header .logo {
        display: none;
    }
    
    header .logo::after {
        position: absolute;
        top: 100%;
        left: 10px;
        width: 25%;
        height: 2px;
        background: #39312e;
        content: '';
        margin-top: 20%;
    }
    
    .logo-mobile {
        display: block;
        position: fixed;
        top: 5px;
        right: 5px;
        max-width: 60px;
        z-index: 9999;
        -webkit-transform: rotate(12deg);
        transform: rotate(12deg);
    }
    
    #menu_icon,
    .close_menu,
    .show_menu {
        display: block;
    }
    
    .show_menu {
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
    }
    
    .main-menu {
        margin-top: 30px;
        margin-left: 65px;
    }
    
    .language {
        top: 100px;
        left: 0;
        right: auto;
        transform: rotate(-90deg);
    }
    
    .language ul li {
        display: inline;
    }
    
    .language ul li a,
    .language ul li a:hover {
        border-top-width: 0;
    }
    
    .parallax-section {
        padding-top: 50px;
        padding-left: 0;
    }
    
    .parallax-section .intro h1 {
        font-size: 2em;
    }

    .parallax-section .intro p {
        font-size: 1.350em;
    }
    
    .main .grid {
        width: 50%;
    }
    
    .main .grid-25 {
        width: 25%;
    }
    
    .main .grid.tab-grid {
        width: 33.3333%;
    }
    
    .main {
        width: 100%;
        position: relative;
        padding-left: 0;
    }
    
    footer {
        padding-left: 1em;
    }
}

@media screen and (max-width: 600px) {
    
    .tab-grid figure h2 {
        font-size: 1.35em;
        right: 10px;
        left: 10px;
        padding: 5px 0;
        width: 90%;
    }
    
    .tab-grid figure p {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    
    .main .grid {
        width: 100%;
    }
    
    .main .grid-25 {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    
    .logo-mobile {
        max-width: 52px;
    }
    
    .parallax-section .intro {
        margin-top: -1vh;
    }
    
    .parallax-section .intro h1 {
        font-size: 1.7em;
        line-height: 1.1;
    }

    .parallax-section .intro p {
        font-size: 1.350em;
    }
    
    .tab-grid figure h2 {
        font-size: 1.15em;
        top: 35%;
        right: 7px;
        left: 7px;
        padding: 5px 0;
    }
}

@media screen and (max-width: 414px) {
    
    .tab-grid figure h2 {
        font-size: 1em;
        right: 5px;
        left: 5px;
        padding: 5px 0;
    }
}

@media screen and (max-width: 380px) {
    
    .tab-grid figure h2 {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 320px) {
    
    .main .grid-25 {
        width: 100%;
    }
}

@media screen and (max-height: 700px) {
    
    .subscribe-form {
        display: none;
    }
    
    .subscribe-btn {
        display: inline-block;
    }
}



// Pages & plugins
// ---------------------------------------------------------------------------

@import "gridder.less";
@import "portfoli.less";
@import "about.less";
@import "marketing.less";
@import "blog.less";
@import "plugins.less";

