/*********************************************
  * Filename: style.css
  * Website: http://sokvist.com/
  * Author: Sokvist
  * Author URI: http://sokvist.com
  * Date: 08/12/2015
  * Version: 2.0
*********************************************/
/*
    - General CSS
    - Header
    - Home/portfolio
*/
/*! reset */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
img {
  max-width: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: var(--font-color);
}
/* change colours to suit your needs */
ins {
  background-color: var(--bg-color);
  color: var(--font-color);
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--font-color3);
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/*! Variables */
/* rgba(119, 109, 90, 1) */
/* rgba(250, 223, 99, 1) */
/* rgba(255, 179, 15, 1) */
/* rgba(33, 118, 174, 1) */
/* rgba(152, 210, 235, 1) */
/* rgba(255, 255, 255, 1) */
/* rgba(34, 34, 34, 1) */
/* rgba(98, 90, 74, 1) */
:root {
  /* https://coolors.co/f2f1f0-cdc9c3-9c9487-776d5a-575042 */
  --bg-color: #ffffff;
  --bg-color2: #F2F1F0;
  --font-color: #575042;
  --font-color2: #776D5A;
  --font-color3: #9C9487;
  --header-square: #ffffff;
  --header-square-hover: #575042;
  --yellow: #FADF63;
  --lightblue: #62A6C4;
}
[data-theme="dark"] {
  /*--brownpastel: #fff;
    --yellow: #98D2EB;
    --orange: #FFB30F;
    --blue: #2176AE; 
    --lightblue: #98D2EB; 
    --white: #776D5A; 
    --black: #fff;

    --browndarker: rgba(34, 34, 34, 0.1);
    --browndarker75: rgba(34, 34, 34, 0.1);
    --dark-brown: #211716; */
  /* https://coolors.co/f2f1f0-cdc9c3-9c9487-776d5a-575042 */
  --bg-color: #776D5A;
  --bg-color2: #625A4A;
  --font-color: #ffffff;
  --font-color2: #F2F1F0;
  --font-color3: #CDC9C3;
  --header-square: #ffffff;
  --header-square-hover: #ffffff;
  --yellow: #FADF63;
  --lightblue: #98D2EB;
}
/* rgba(57, 49, 46, 1) */
/* rgba(33, 23, 22, 1) */
/* rgba(0, 153, 153, 1) */
/* rgba(128, 122, 120, 1) */
/* rgba(193, 191, 191, 1) */
/*  Fonts  */
@font-face {
  font-family: 'latolight';
  src: url('../fonts/lato-lig-webfont.eot');
  src: url('../fonts/lato-lig-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-lig-webfont.svg#latolight') format('svg'), url('../fonts/lato-lig-webfont.woff') format('woff'), url('../fonts/lato-lig-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoregular';
  src: url('../fonts/lato-reg-webfont.eot');
  src: url('../fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-reg-webfont.svg#latoregular') format('svg'), url('../fonts/lato-reg-webfont.woff') format('woff'), url('../fonts/lato-reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latobold';
  src: url('../fonts/lato-bol-webfont.eot');
  src: url('../fonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-bol-webfont.svg#latobold') format('svg'), url('../fonts/lato-bol-webfont.woff') format('woff'), url('../fonts/lato-bol-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'latolight', sans-serif;
  font-weight: 300;
  color: var(--font-color);
  background: var(--bg-color);
}
body.blog,
body.single,
body.archive,
body.search,
body.page-cursos {
  background: var(--gb-color);
}
.wrapper {
  width: 92.72727272727273%;
  margin: 0 auto;
}
header ul.social li a,
.main .grid a .caption,
header nav ul li a,
.language ul li a,
.subscribe-form input,
.subscribe-sidebar input,
.subscribe-widgetbar input,
.subscribe-btn,
.footer a,
.footer ul.social li a::before,
.footer ul.social li a .icon,
.cd-project-info a,
.post-pagination ul li a {
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-color);
  letter-spacing: 1px;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
h2 {
  font-size: 1.5em;
  margin: .75em 0;
}
h3 {
  font-size: 1.35em;
  margin: .83em 0;
  line-height: 1.5;
}
h4 {
  font-size: 1.27em;
  margin: 1.25em 0;
}
h5 {
  font-size: 1.12em;
  margin: 1.5em 0;
}
h6 {
  font-size: .93em;
  margin: 1.67em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'latobold', sans-serif;
  font-weight: 700;
}
strong {
  font-family: 'latoregular', sans-serif;
  font-weight: 600;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: var(--font-color3);
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: var(--font-color3);
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: var(--font-color3);
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--font-color3);
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--font-color3);
}
::placeholder {
  /* Most modern browsers support this now. */
  color: var(--font-color3);
}
header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 199px;
  border-right: 1px solid var(--bg-color);
  min-height: 100%;
  padding: 0 50px;
  background: var(--bg-color);
  float: left;
  overflow: hidden;
  z-index: 9999;
}
header {
  background: var(--bg-color);
}
header .logo {
  margin-top: 25px;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  position: relative;
}
.logo-mobile {
  display: none;
}
.language {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  font-family: 'latoregular', sans-serif;
  font-weight: 400;
  z-index: 1;
}
.language ul {
  margin: 0;
  padding: 0;
}
.language ul li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
}
.language ul li:last-child {
  /*border-left: 1px solid #546c30;*/
}
.language ul .active {
  display: none;
}
.language ul li a {
  display: block;
  color: var(--lightblue);
  background: var(--bg-color2);
  text-decoration: none;
  border-bottom: 1px solid var(--lightblue);
  font-size: 10px;
  letter-spacing: 0.1em;
  width: auto;
  height: 32px;
  line-height: 32px;
  padding: 0 3px;
}
.language ul li a:hover,
.language ul li a:focus {
  color: var(--lightblue);
  border-bottom-color: var(--lightblue);
  background: rgba(255, 255, 255, 0.2);
}
.main-menu {
  margin: 30px 0 0 15px;
}
/* Effect 8: border slight translate */
.main-menu li {
  margin: 0;
  padding: 0;
}
.main-menu a {
  position: relative;
  display: inline-block;
  margin: 7px 0 7px -15px;
  outline: none;
  color: var(--font-color2);
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1em;
}
.main-menu a:hover,
.main-menu a:focus {
  outline: none;
}
.main-menu a {
  padding: 7px 20px;
}
.main-menu a::before,
.main-menu a::after {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--white);
  content: '';
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}
.main-menu a::before,
.main-menu a::after {
  border: 1px solid var(--bg-color);
}
.main-menu a::after {
  border-color: var(--bg-color);
  opacity: 0;
  -webkit-transform: translateY(-7px) translateX(6px);
  -moz-transform: translateY(-7px) translateX(6px);
  transform: translateY(-7px) translateX(6px);
}
.main-menu a::after {
  border-color: var(--lightblue);
}
.main-menu a:hover::before,
.cl-effect-8 a:focus::before {
  opacity: 0;
  -webkit-transform: translateY(5px) translateX(-5px);
  -moz-transform: translateY(5px) translateX(-5px);
  transform: translateY(5px) translateX(-5px);
}
.main-menu a:hover::after,
.main-menu a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px) translateX(0px);
  -moz-transform: translateY(0px) translateX(0px);
  transform: translateY(0px) translateX(0px);
}
.main-menu .current_page_item a {
  color: var(--font-color);
  cursor: default;
}
.main-menu .current_page_item a::before,
.main-menu .current_page_item a::after {
  border-color: transparent;
}
/* Theme switcher */
/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 12px;
  right: 20px;
  left: auto;
  bottom: auto;
  z-index: 9;
}
.theme-switch-wrapper em {
  margin-left: 5px;
  font-size: 0.75em;
  color: var(--font-color3);
}
.theme-switch {
  display: inline-block;
  height: 16px;
  position: relative;
  width: 32px;
}
.theme-switch input {
  display: none;
}
.slider {
  background-color: #D2CEC8;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}
.slider:before {
  background-color: var(--bg-color);
  bottom: 1px;
  content: "";
  height: 14px;
  left: 1px;
  position: absolute;
  transition: .4s;
  width: 14px;
}
input:checked + .slider {
  background-color: #98D2EB;
}
input:checked + .slider:before {
  transform: translateX(16px);
}
.slider.round {
  border-radius: 20px;
}
.slider.round:before {
  border-radius: 50%;
}
@media screen and (max-width: 1024px) {
  .theme-switch-wrapper {
    top: 10px;
    right: auto;
    left: 70px;
  }
}
/* Subscribe form */
.subscribe-form {
  margin-top: 3em;
}
.subscribe-form p,
.subscribe-sidebar p {
  text-transform: uppercase;
  margin: 10px 0;
  letter-spacing: 1px;
  color: var(--lightblue);
}
.subscribe-form p {
  color: var(--font-color2);
}
.subscribe-form p {
  color: var(--lightblue);
}
.subscribe-sidebar p,
.subscribe-widgetbar p {
  line-height: 1.5;
}
.subscribe-sidebar p {
  line-height: 1.5;
}
.subscribe-form input::-webkit-input-placeholder,
.subscribe-sidebar input::-webkit-input-placeholder,
.subscribe-widgetbar input::-webkit-input-placeholder,
#commentform::-webkit-input-placeholder {
  color: var(--font-color3) !important;
}
.subscribe-form input:-moz-placeholder,
.subscribe-sidebar input:-moz-placeholder,
.subscribe-widgetbar input:-moz-placeholder,
#commentform:-moz-placeholder {
  color: var(--font-color3) !important;
}
.subscribe-form input::-moz-placeholder,
.subscribe-sidebar input::-moz-placeholder,
.subscribe-widgetbar input::-moz-placeholder,
#commentform::-moz-placeholder {
  color: var(--font-color3) !important;
}
.subscribe-form input:-ms-input-placeholder,
.subscribe-sidebar input:-ms-input-placeholder,
.subscribe-widgetbar input:-ms-input-placeholder,
#commentform:-ms-input-placeholder {
  color: var(--font-color3) !important;
}
.subscribe-form input[type="text"],
.subscribe-form input[type="email"],
.subscribe-form input[type="submit"],
.subscribe-sidebar input[type="text"],
.subscribe-sidebar input[type="email"],
.subscribe-sidebar input[type="submit"],
.subscribe-widgetbar input[type="text"],
.subscribe-widgetbar input[type="email"],
.subscribe-widgetbar input[type="submit"],
#commentform input[type="text"],
#commentform input[type="email"],
#commentform input[type="submit"],
#commentform textarea {
  width: 100%;
  margin: 7px 0;
  padding: 7px 0;
  border: none;
  font-family: 'latolight', sans-serif;
  font-weight: 300;
  font-size: 1em;
  background: transparent;
  border-radius: 0;
}
.subscribe-form input[type="text"],
.subscribe-form input[type="email"],
.subscribe-sidebar input[type="text"],
.subscribe-sidebar input[type="email"],
.subscribe-widgetbar input[type="text"],
.subscribe-widgetbar input[type="email"],
#commentform input[type="text"],
#commentform input[type="email"] {
  border-bottom: 1px dotted var(--font-color3);
}
#commentform textarea {
  border-top: 1px dotted var(--font-color3);
  border-bottom: 1px dotted var(--font-color3);
}
.subscribe-form input[type="text"],
.subscribe-form input[type="email"],
.subscribe-sidebar input[type="text"],
.subscribe-sidebar input[type="email"] {
  border-bottom: 1px dotted var(--lightblue);
}
.subscribe-form input[type="submit"],
.subscribe-sidebar input[type="submit"],
.subscribe-widgetbar input[type="submit"],
#commentform input[type="submit"] {
  border: 1px solid var(--font-color2);
  color: var(--font-color2);
  margin-top: 12px;
}
.subscribe-form input[type="submit"],
.subscribe-sidebar input[type="submit"] {
  border: 1px solid var(--lightblue);
  color: var(--lightblue);
}
.subscribe-form input[type="submit"]:hover,
.subscribe-sidebar input[type="submit"]:hover,
.subscribe-widgetbar input[type="submit"]:hover,
#commentform input[type="submit"]:hover {
  color: var(--white);
  background-color: var(--bg-color);
}
.subscribe-form input[type="submit"]:hover,
.subscribe-sidebar input[type="submit"]:hover {
  color: var(--bg-color);
  background-color: var(--lightblue);
}
/* Subscribe button */
.subscribe-btn {
  display: none;
  color: var(--font-color2);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 12px;
  border: 1px solid var(--font-color2);
  margin-top: 30px;
  margin-bottom: 7px;
  /* Underline reveal */
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.subscribe-btn {
  color: var(--lightblue);
  border: 1px solid var(--lightblue);
}
.subscribe-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--font-color2);
  height: 5px;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.subscribe-btn:hover:before,
.subscribe-btn:focus:before,
.subscribe-btn:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.response {
  display: none;
}
.real-people {
  position: absolute;
  left: -5000px;
}
/* Subscribe sidebar */
.subscribe-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  min-height: 100%;
  padding: 0 50px;
  background: var(--bg-color);
  color: var(--font-color);
  z-index: 999999;
  overflow: hidden;
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}
.subscribe-sidebar {
  background: var(--bg-color);
}
.subscribe-sidebar.opened {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.modal-close-btn {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  text-decoration: none;
  transform: rotate(0);
  -webkit-transition: -webkit-transform 0.2s 0s;
  -moz-transition: -moz-transform 0.2s 0s;
  transition: transform 0.2s 0s;
}
.modal-close-btn svg {
  fill: var(--lightblue);
  vertical-align: middle;
  width: 34px;
  height: 34px;
  padding: 0;
}
.modal-close-btn:hover {
  transform: rotate(90deg);
}
.sidebar-block {
  margin-top: 30vh;
}
.footer {
  position: absolute;
  bottom: 20px;
  left: 50px;
}
.footer ul.social {
  list-style: none;
  margin-bottom: 10px;
}
.footer ul.social li {
  display: block;
  float: left;
  position: relative;
  width: 32px;
  height: 32px;
  margin: 0 8px 0 0;
}
.footer ul.social li a {
  position: absolute;
  width: 32px;
  height: 32px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  text-decoration: none;
  display: flex;
  border: 1px solid var(--lightblue);
  border-radius: 50%;
}
.footer ul.social li a .icon {
  fill: var(--lightblue);
  vertical-align: middle;
  padding: 20%;
}
.footer ul.social li.twitter a:hover,
.footer ul.social li.twitter a:focus {
  border-color: #00aced;
}
.footer ul.social li.facebook a:hover,
.footer ul.social li.facebook a:focus {
  border-color: #3b5998;
}
.footer ul.social li.instagram a:hover,
.footer ul.social li.instagram a:focus {
  border-color: #dd2a7b;
}
.footer ul.social li.googleplus a:hover,
.footer ul.social li.googleplus a:focus {
  border-color: #d34836;
}
.footer ul.social li.twitter a:hover .icon,
.footer ul.social li.twitter a:focus .icon {
  fill: #00aced;
}
.footer ul.social li.facebook a:hover .icon,
.footer ul.social li.facebook a:focus .icon {
  fill: #3b5998;
}
.footer ul.social li.instagram a:hover .icon,
.footer ul.social li.instagram a:focus .icon {
  fill: #dd2a7b;
}
.footer ul.social li.googleplus a:hover .icon,
.footer ul.social li.googleplus a:focus .icon {
  fill: #d34836;
}
.footer .contact p {
  color: var(--font-color);
  font-family: 'latoregular', sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: left;
}
.footer .contact a {
  text-decoration: none;
  padding: .350em;
  color: var(--font-color2);
}
.footer .contact a {
  color: var(--lightblue);
}
.footer .contact a:hover {
  color: var(--yellow);
}
.footer .log-btn {
  position: relative;
  display: inline-block;
  padding-left: 3em;
  padding-right: 2em;
  color: var(--lightblue);
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  height: 34px;
  line-height: 35px;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  margin-top: 1em;
  border: 1px solid var(--lightblue);
  border-radius: 0;
}
.footer .log-btn:hover,
.footer .log-btn:focus {
  color: var(--bg-color);
  background-color: var(--lightblue);
}
.footer .log-btn svg {
  position: absolute;
  fill: var(--lightblue);
  height: 18px;
  width: 18px;
  padding: 8px;
  margin-left: -2em;
}
.footer .log-btn:hover svg,
.footer .log-btn:focus svg {
  fill: var(--bg-color);
}
#menu_icon,
.close_menu {
  display: none;
}
#menu_icon,
#menu_icon.close_menu {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 38px;
  height: 38px;
  cursor: pointer;
  /*white-space: nowrap;
    overflow: hidden;*/
  z-index: 99999;
  border: 1px solid var(--lightblue);
  border-radius: 2px;
}
#menu_icon.close_menu {
  border-color: var(--lightblue);
}
#menu_icon svg {
  fill: var(--lightblue);
  vertical-align: middle;
  width: 32px;
  height: 32px;
  padding: 3px;
}
#menu_icon.close_menu svg {
  fill: var(--lightblue);
  vertical-align: middle;
  width: 38px;
  height: 38px;
  padding: 0;
}
#menu_icon svg.svg-open,
#menu_icon.close_menu svg.svg-close {
  display: block;
}
#menu_icon svg.svg-close,
#menu_icon.close_menu svg.svg-open {
  display: none;
}
/*  Main  */
.main {
  width: 100%;
  height: 100%;
  padding-left: 300px;
  padding-right: 0;
  padding-top: 2em;
  padding-bottom: 3em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 55;
  background: var(--bg-color);
  clear: both;
}
@media screen and (min-width: 1920px) {
  .main {
    padding-right: 3em;
  }
}
.parallax-section {
  height: 26vh;
  padding-left: 300px;
  background-color: var(--bg-color);
}
.parallax-section .intro {
  position: fixed;
  margin: 2vh 0 0 40px;
  padding: 1em 0;
  transition: color 0.5s;
}
.parallax-section .intro::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 20%;
  height: 1px;
  background: var(--font-color);
  content: '';
  margin-top: 1%;
}
.parallax-section .intro h1 {
  font-family: 'latoregular', sans-serif;
  font-weight: 400;
  font-size: 2.35em;
  margin: 0.350em 0;
  text-transform: uppercase;
  letter-spacing: 13px;
  line-height: 1.2;
  transition: color 0.5s;
}
.parallax-section .intro h1 span {
  font-family: 'latobold', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0;
  font-size: 1.35em;
}
.parallax-section .intro span.blog-title {
  font-family: 'latobold', sans-serif;
  font-weight: 700;
  color: var(--font-color2);
  font-size: 3em;
  margin: 0.350em 0;
  letter-spacing: 1px;
  display: block;
}
.parallax-section .intro p {
  font-size: 2em;
  margin: 0.350em 0;
}
.main .grid {
  display: inline-block;
  width: 20%;
  height: auto;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
@media screen and (max-width: 1920px) {
  .main .grid {
    width: 25%;
  }
}
@media screen and (max-width: 1680px) {
  .main .grid {
    width: 33.33333333333333%;
  }
}
.main .grid-25 {
  width: 25%;
}
.main .grid .media.square {
  width: 90%;
  height: 90%;
  padding: 5%;
}
/* http://tympanus.net/codrops/2014/06/19/ideas-for-subtle-hover-effects/ */
/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}
.grid figure img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.9;
}
.grid figure figcaption {
  /*padding: 2em;*/
  color: var(--font-color);
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption > a,
.grid figure figcaption > span.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.grid figure figcaption > span.mask {
  cursor: auto;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
.grid figure h2 {
  font-family: 'latolight', sans-serif;
  font-weight: 300;
  font-size: 1.850em;
  color: var(--header-square);
  transition: color 0.55s;
}
.grid figure h2 span {
  font-family: 'latobold', sans-serif;
  font-weight: 700;
}
.grid figure h2,
.grid figure p {
  margin: 0;
}
.grid figure p {
  letter-spacing: 1px;
  font-size: 75%;
  line-height: 1.4;
}
/*---------------*/
/***** Marley *****/
/*---------------*/
figure.effect-marley figcaption {
  text-align: right;
}
figure.effect-marley img {
  opacity: 0.5;
}
figure.effect-marley h2,
figure.effect-marley p {
  position: absolute;
  right: 30px;
  left: 30px;
  padding: 10px 0;
}
figure.effect-marley p {
  bottom: 30px;
  line-height: 1.5;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
figure.effect-marley h2 {
  top: 40%;
  -webkit-transition: -webkit-transform 0.55s;
  transition: transform 0.55s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}
figure.effect-marley:hover h2,
figure.effect-marley:focus h2 {
  color: var(--header-square-hover);
}
figure.effect-marley:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
figure.effect-marley h2::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--header-square-hover);
  content: '';
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}
figure.effect-marley h2::after,
figure.effect-marley p {
  opacity: 0;
  -webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
  transition: opacity 0.55s, transform 0.55s;
}
figure.effect-marley:hover h2::after,
figure.effect-marley:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/*---------------*/
/***** Honey *****/
/*---------------*/
figure.effect-honey img {
  opacity: 0.9;
  -webkit-transition: opacity 0.55s;
  transition: opacity 0.55s;
}
figure.effect-honey:hover img {
  opacity: 0.5;
}
figure.effect-honey figcaption::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--header-square-hover);
  content: '';
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}
figure.effect-honey h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em 1.5em 0.5em;
  text-align: left;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}
figure.effect-honey:hover h2,
figure.effect-honey:focus h2 {
  color: var(--header-square-hover);
}
figure.effect-honey figcaption::before,
figure.effect-honey h2 {
  -webkit-transition: -webkit-transform 0.55s;
  transition: transform 0.55s;
}
figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h2 {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/*---------------*/
/***** Sarah *****/
/*---------------*/
figure.effect-sarah img {
  max-width: none;
  width: -webkit-calc(120%);
  width: calc(120%);
  -webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
  transition: opacity 0.55s, transform 0.55s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
figure.effect-sarah:hover img {
  opacity: 0;
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
}
figure.effect-sarah h2 {
  position: relative;
  overflow: hidden;
  padding: 0.5em 0;
  margin-top: 15%;
}
figure.effect-sarah h2::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--header-square-hover);
  content: '';
  -webkit-transition: -webkit-transform 0.55s;
  transition: transform 0.55s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
figure.effect-sarah:hover h2::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
figure.effect-sarah:hover h2,
figure.effect-sarah:focus h2 {
  color: var(--header-square-hover);
}
figure.effect-sarah p {
  padding: 1em;
  line-height: 1.5;
  opacity: 0;
  -webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
  transition: opacity 0.55s, transform 0.55s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
figure.effect-sarah:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/*---------------*/
/***** Roxy *****/
/*---------------*/
figure.effect-roxy img {
  max-width: none;
  width: -webkit-calc(160%);
  width: calc(160%);
  -webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
  transition: opacity 0.55s, transform 0.55s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
figure.effect-roxy figcaption {
  padding: 2em;
  text-align: left;
}
figure.effect-roxy h2 {
  padding: 10% 0 10px 0;
}
figure.effect-roxy:hover h2,
figure.effect-roxy:focus h2 {
  color: var(--header-square-hover);
}
figure.effect-roxy p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
}
figure.effect-roxy:hover img {
  opacity: 0.7;
  -webkit-transform: translate3d(30px, 0, 0);
  transform: translate3d(30px, 0, 0);
}
figure.effect-roxy:hover figcaption::before,
figure.effect-roxy:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/*---------------*/
/***** Bubba *****/
/*---------------*/
figure.effect-bubba {
  /*background: #39312e;*/
}
figure.effect-bubba img {
  -webkit-transition: opacity 0.55s;
  transition: opacity 0.55s;
}
figure.effect-bubba.bubba1 img {
  opacity: 0.5;
}
figure.effect-bubba.bubba2 img,
figure.effect-bubba.bubba3 img {
  opacity: 0.9;
}
figure.effect-bubba.bubba4 img {
  opacity: 0.7;
}
figure.effect-bubba:hover img {
  opacity: 0.2;
}
figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
  transition: opacity 0.55s, transform 0.55s;
}
figure.effect-bubba.bubba4 figcaption::after {
  top: 20px;
}
figure.effect-bubba.bubba1 figcaption::before {
  border-bottom: 1px solid var(--header-square-hover);
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
figure.effect-bubba.bubba2 figcaption::after {
  border-top: 1px solid var(--header-square-hover);
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
figure.effect-bubba.bubba3 figcaption::after {
  border-top: 1px solid var(--header-square-hover);
  border-bottom: 1px solid var(--header-square-hover);
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
figure.effect-bubba.bubba4 figcaption::after {
  border-top: 2px solid var(--header-square-hover);
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
figure.effect-bubba.bubba4 figcaption::before {
  border-bottom: 2px solid var(--header-square-hover);
  opacity: 1;
  bottom: 20px;
  -webkit-transform: scale(0.1, 1);
  transform: scale(0.1, 1);
}
figure.effect-bubba h2 {
  padding-top: 30%;
  -webkit-transition: -webkit-transform 0.55s;
  transition: transform 0.55s, color 0.55s;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}
figure.effect-bubba.bubba3 h2 {
  padding-top: 45%;
  font-size: 1.250em;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
figure.effect-bubba.bubba4 h2 {
  padding-top: 15%;
  font-size: 1.150em;
}
figure.effect-bubba:hover h2,
figure.effect-bubba:focus h2 {
  color: var(--header-square-hover);
}
figure.effect-bubba p {
  padding: 20px 2.5em;
  opacity: 0;
  -webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
  transition: opacity 0.55s, transform 0.55s;
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
}
figure.effect-bubba.bubba3 p {
  opacity: 1;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  color: var(--header-square);
}
figure.effect-bubba.bubba4 p {
  opacity: 0.3;
  font-size: 70%;
  line-height: 1.5;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
}
figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
figure.effect-bubba.bubba4:hover figcaption::before {
  opacity: 0;
  -webkit-transform: scale(0, 0, 0);
  transform: scale(0, 0, 0);
}
figure.effect-bubba:hover h2,
figure.effect-bubba:hover p,
figure.effect-bubba.bubba3:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
figure.effect-bubba.bubba3:hover p {
  color: var(--header-square-hover);
}
figure.effect-bubba.bubba4:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}
/*---------------*/
/***** Julia *****/
/*---------------*/
figure.effect-julia img {
  max-width: none;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
figure.effect-julia figcaption {
  text-align: left;
}
figure.effect-julia h2 {
  position: relative;
  padding: 2em 1em;
  text-align: center;
}
figure.effect-julia.julia2 h2 {
  position: absolute;
  bottom: 0;
  width: 90%;
  padding: 0 5% 1em;
  line-height: 1.4;
  -webkit-transition: -webkit-transform 0.55s;
  transition: transform 0.55s;
}
figure.effect-julia.julia2:hover h2,
figure.effect-julia.julia2:focus h2 {
  color: var(--header-square-hover);
}
figure.effect-julia p {
  margin: 0;
  padding: 1em 3em;
  line-height: 1.5;
  opacity: 0;
  -webkit-transition: opacity 0.75s, -webkit-transform 0.75s;
  transition: opacity 0.75s, transform 0.75s;
  -webkit-transform: translate3d(0, 10px, 0) scale(1);
  transform: translate3d(0, 10px, 0) scale(1);
}
figure.effect-julia:hover img {
  opacity: 0.4;
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}
figure.effect-julia.julia2:hover img {
  -webkit-transform: scale3d(1.025, 1.025, 25);
  transform: scale3d(1.025, 1.025, 25);
}
figure.effect-julia.julia2:hover h2 {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}
figure.effect-julia:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(0.9);
  transform: translate3d(0, 0, 0) scale(0.9);
}
/*---------------*/
/***** Ruby *****/
/*---------------*/
figure.effect-ruby img {
  opacity: 0.9;
  -webkit-transition: opacity 0.75s, -webkit-transform 0.75s;
  transition: opacity 0.75s, transform 0.75s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
figure.effect-ruby:hover img {
  opacity: 0.4;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
figure.effect-ruby h2 {
  margin-top: 20%;
  font-size: 1.250em;
  -webkit-transition: -webkit-transform 0.75s;
  transition: transform 0.75s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}
figure.effect-ruby p {
  display: inline-block;
  margin: 1em 0 0;
  padding: 2em;
  border: 1px solid var(--header-square-hover);
  line-height: 1.5;
  opacity: 0;
  transition: opacity 0.75s, transform 0.75s;
  transform: translate3d(0, 20px, 0) scale(1.1);
}
figure.effect-ruby:hover h2,
figure.effect-ruby:focus h2 {
  transform: translate3d(0, 0, 0);
  color: var(--header-square-hover);
}
figure.effect-ruby:hover p {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1);
}
.page-container {
  margin: 0 40px;
}
.page-container h2 {
  margin: 1.5em 0 0.75em;
}
.page-container h3 {
  margin: 1.65em 0 0.83em;
}
.page-container h4 {
  margin: 1.85em 0 1.25em;
}
.page-container h5 {
  margin: 2em 0 1.5em;
}
.page-container h6 {
  margin: 2.25em 0 1.67em;
}
.page-container p,
.page-container ol,
.page-container ul {
  font-size: 1em;
  margin: 0.75em 0 1.5em;
  line-height: 1.7;
}
.page-container ol,
.page-container ul {
  padding-left: 1em;
}
.error404 .content-body {
  background: transparent url("../images/not-found-404.jpg") no-repeat center;
  background-size: cover;
  width: calc(100% - 300px);
  height: 74vh;
  padding-top: 0;
  padding-bottom: 0;
}
.error404 .parallax-section .intro h1 {
  font-size: 2.15em;
}
.error404 .parallax-section .intro h1 a {
  color: var(--white);
  text-decoration: none;
  border-bottom: 1px dotted var(--white);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.error404 .parallax-section .intro h1 a:hover,
.error404 .parallax-section .intro h1 a:focus {
  border-color: transparent;
}
#post-404 {
  margin-left: 2em;
}
#post-404 img {
  margin: 3em auto;
  display: block;
}
#post-404 h2 a {
  color: var(--font-color);
}
#ajerez {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 9999;
}
/* Media Query */
@media screen and (max-width: 1024px) {
  .error404 .content-body {
    width: 100%;
  }
}
footer .legal {
  text-align: right;
  padding: 1em;
  background-color: var(--bg-color);
}
footer .legal li {
  display: inline-block;
}
footer .legal a {
  font-size: 0.75em;
  letter-spacing: 0.05em;
  color: var(--lightblue);
  padding: 0.5em 1em;
  margin: 0 2px;
}
footer .legal a:hover,
footer .legal a:focus {
  text-decoration: none;
}
/*  Responsive code  */
@media screen and (max-width: 1024px) {
  header {
    left: 0;
    -webkit-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
  }
  header.show_menu {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  header .logo {
    display: none;
  }
  header .logo::after {
    position: absolute;
    top: 100%;
    left: 10px;
    width: 25%;
    height: 2px;
    background: #39312e;
    content: '';
    margin-top: 20%;
  }
  .logo-mobile {
    display: block;
    position: fixed;
    top: 5px;
    right: 5px;
    max-width: 60px;
    z-index: 9999;
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  #menu_icon,
  .close_menu,
  .show_menu {
    display: block;
  }
  .show_menu {
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
  }
  .main-menu {
    margin-top: 30px;
    margin-left: 65px;
  }
  .language {
    top: 100px;
    left: 0;
    right: auto;
    transform: rotate(-90deg);
  }
  .language ul li {
    display: inline;
  }
  .language ul li a,
  .language ul li a:hover {
    border-top-width: 0;
  }
  .parallax-section {
    padding-top: 50px;
    padding-left: 0;
  }
  .parallax-section .intro h1 {
    font-size: 2em;
  }
  .parallax-section .intro p {
    font-size: 1.350em;
  }
  .main .grid {
    width: 50%;
  }
  .main .grid-25 {
    width: 25%;
  }
  .main .grid.tab-grid {
    width: 33.3333%;
  }
  .main {
    width: 100%;
    position: relative;
    padding-left: 0;
  }
  footer {
    padding-left: 1em;
  }
}
@media screen and (max-width: 600px) {
  .tab-grid figure h2 {
    font-size: 1.35em;
    right: 10px;
    left: 10px;
    padding: 5px 0;
    width: 90%;
  }
  .tab-grid figure p {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .main .grid {
    width: 100%;
  }
  .main .grid-25 {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .logo-mobile {
    max-width: 52px;
  }
  .parallax-section .intro {
    margin-top: -1vh;
  }
  .parallax-section .intro h1 {
    font-size: 1.7em;
    line-height: 1.1;
  }
  .parallax-section .intro p {
    font-size: 1.350em;
  }
  .tab-grid figure h2 {
    font-size: 1.15em;
    top: 35%;
    right: 7px;
    left: 7px;
    padding: 5px 0;
  }
}
@media screen and (max-width: 414px) {
  .tab-grid figure h2 {
    font-size: 1em;
    right: 5px;
    left: 5px;
    padding: 5px 0;
  }
}
@media screen and (max-width: 380px) {
  .tab-grid figure h2 {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 320px) {
  .main .grid-25 {
    width: 100%;
  }
}
@media screen and (max-height: 700px) {
  .subscribe-form {
    display: none;
  }
  .subscribe-btn {
    display: inline-block;
  }
}
/*! Gridder */
.gridder {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  /*font-size: 0;*/
}
.gridder-list {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  /*font-size: 24px;*/
}
.gridder-show {
  /*display: block;
    float: left;
    width: 100%;
    position: relative;
    background: #EEE url("../images/loading-spin.svg") no-repeat center*/
}
.gridder-show.loading {
  background: #EEE url("../images/loading-spin.svg") no-repeat center;
}
.gridder-content {
  display: none;
}
/*.gridder-list{width:15.83333%}

.gridder-list:nth-child(n){margin-bottom:1%;margin-right:1%}

.gridder-list:nth-of-type(6n){margin-right:0;margin-bottom:0}*/
.gridder-show {
  margin: 0;
  padding-bottom: 1%;
  padding-top: 1%;
  display: block;
  float: left;
  width: 100%;
  position: relative;
  background-color: var(--bg-color2);
  border-top: 1px solid var(--lightblue);
  border-bottom: 1px solid var(--lightblue);
}
.gridder-navigation .gridder-nav.disabled {
  opacity: .5;
}
.gridder-nav {
  display: none;
}
.work-gridder .gridder-nav {
  display: block;
}
.gridder-list:hover {
  /*opacity: 0.8;*/
}
.hasSelectedItem .gridder-list {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.work-gridder .hasSelectedItem .gridder-list {
  opacity: 0.2;
}
.work-gridder .hasSelectedItem .gridder-list.selectedItem {
  opacity: 1;
}
.hasSelectedItem .gridder-list.selectedItem figure::after,
.tab-grid.active figure::after {
  top: auto;
  bottom: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: var(--lightblue);
  border-width: 15px;
  left: 50%;
  margin: -30px 0 0 -15px;
}
.gridder {
  /*margin:0px;
    padding:0px;
    list-style-type:none;
    font-size:0;*/
}
.gridder-list,
.gridder-show {
  /*font-size:16px;*/
}
.gridder-list {
  /*display:inline-block;
    vertical-align:top;*/
}
.gridder-content {
  display: none;
}
.gridder-padding {
  padding: 3em 0;
}
/* Gridder expanded */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.row-vcenter {
  align-items: center;
  -webkit-align-items: center;
}
.row-img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}
.cd-project-info .row-img {
  flex: 0 0 30%;
  padding: 0 3% 0 7%;
}
.row-copy {
  /*width: 58.66666666666666%;*/
  margin-left: 4%;
  margin-right: 4%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 42%;
  -ms-flex: 0 0 42%;
  flex: 0 0 42%;
}
.cd-project-info .row-copy {
  margin-left: 0;
  margin-right: 0;
  flex: 0 0 60%;
}
.row-copy-x3 {
  /*width: 25.33333333333333%;*/
  margin-left: 4%;
  margin-right: 4%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25.33333333333333%;
  -ms-flex: 0 0 25.33333333333333%;
  flex: 0 0 25.33333333333333%;
}
.row-copy-full {
  margin-left: 4%;
  margin-right: 4%;
}
.row h2 {
  font-family: 'latolight', sans-serif;
  font-weight: 300;
  font-size: 1.750em;
  text-transform: uppercase;
}
.row h2 span {
  font-family: 'latobold', sans-serif;
  font-weight: 700;
}
.row h2::after {
  position: relative;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 5%;
  height: 1px;
  background: var(--font-color);
  content: '';
}
.row p,
.row li {
  font-size: 1.250em;
  line-height: 1.7;
}
.row p {
  margin: 0.650em 0;
}
.row img {
  width: 100%;
  height: auto;
  display: -moz-box;
  -moz-box-flex: 1;
}
.gridder-close,
.gridder-nav {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  text-decoration: none;
}
.gridder-close {
  right: 20px;
}
.gridder-nav.prev {
  right: 100px;
}
.gridder-nav.next {
  right: 60px;
}
.gridder-close:before,
.gridder-nav:before {
  /*font-family: 'Ionicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;*/
  cursor: pointer;
  /*-webkit-font-smoothing: antialiased;*/
  display: block;
  /*margin-bottom: 10px;
    color: @yellow;
    font-size: 30px;*/
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 34px 34px;
  height: 40px;
  width: 40px;
  transition: all .1s linear;
}
.gridder-close:before {
  /*content: '\f405';*/
  content: '';
  background-image: url(../images/ios-close-outline.svg);
  transform: rotate(0);
}
.gridder-nav.prev:before {
  /*content: '\f3d2';*/
  content: '';
  background-image: url(../images/ios-arrow-left.svg);
  transform: translateX(0);
}
.gridder-nav.next:before {
  /*content: '\f3d3';*/
  content: '';
  background-image: url(../images/ios-arrow-right.svg);
  transform: translateX(0);
}
.gridder-close:hover::before {
  transform: rotate(90deg);
}
.gridder-nav.prev:hover::before {
  transform: translateX(-3px);
}
.gridder-nav.next:hover::before {
  transform: translateX(3px);
}
@media screen and (max-width: 768px) {
  .row {
    display: block;
  }
  .cd-project-info .row-img {
    padding: 0 5% 0 5%;
  }
}
/*! Portfoli */
.gridder-copy {
  text-align: center;
  font-size: 1.150em;
  padding: 1em 2em 2em;
  line-height: 1.7;
}
.gridder-copy a {
  color: var(--font-color);
}
.gridder-imgs {
  margin: 0;
  padding: 0;
}
.gridder-imgs img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 2em auto;
}
/**
 * Flexible multiline definition lists with 2 lines of CSS http://lea.verou.me/2012/02/flexible-multiline-definition-lists-with-2-lines-of-css/
 */
dl {
  text-align: left;
  margin: 2em auto;
  display: inline-block;
}
dt,
dd {
  display: inline;
  margin: 0;
}
dd:after {
  content: '\A';
  white-space: pre;
}
dt {
  /*font-family: 'latobold', sans-serif;
	font-weight: 700;*/
  text-transform: uppercase;
  margin-right: 1em;
}
/* Visit button */
.visit-btn a {
  /*display: inline-block;
    color: @white;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid @white;
    margin: 1em auto;*/
  /* Underline reveal */
  /*vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;*/
}
.visit-btn a:before {
  /*content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: @white;
    height: 6px;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;*/
}
.visit-btn a:hover:before,
.visit-btn a:focus:before,
.visit-btn a:active:before {
  /*-webkit-transform: translateY(0);
    transform: translateY(0);*/
}
/*! About */
.team figure h2 {
  font-size: 1.5em;
  text-transform: none;
  border-bottom: 1px solid var(--lightblue);
  background-color: rgba(87, 80, 66, 0.3);
  transition: background-color 0.55s;
}
.team figure:hover h2,
.team figure:focus h2 {
  background-color: transparent;
}
.cd-project-info img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto 5%;
}
.cd-project-info h2,
.cd-project-info h3,
.cd-project-info p {
  width: 90%;
  margin: 0 auto;
}
.cd-project-info h2 {
  font-family: 'latobold', sans-serif;
  font-weight: 700;
  font-size: 2.250em;
  line-height: 1.3;
  color: var(--lightblue);
}
.row.cd-project-info h2::after {
  display: none;
}
.cd-project-info h3 {
  font-family: 'latolight', sans-serif;
  font-weight: 300;
  font-size: 1.750em;
  font-style: italic;
  color: var(--lightblue);
}
.cd-project-info h3::after {
  position: relative;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 5%;
  height: 1px;
  background: var(--lightblue);
  content: '';
}
.cd-project-info p {
  padding: 1em 0;
  font-size: 1.150em;
  font-family: 'latoregular', sans-serif;
  font-weight: 400;
  line-height: 2;
}
.cd-project-info p.tags {
  font-family: 'latolight', sans-serif;
  font-weight: 300;
  font-style: italic;
}
.cd-project-info a {
  text-decoration: none;
  color: var(--lightblue);
  border-bottom: 1px dotted var(--lightblue);
}
.cd-project-info a:hover {
  color: var(--yellow);
  border-bottom-color: transparent;
}
/*
.projects-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    margin-left: 0;
    background: #39312e;
}

.projects-container::before {
    /* never visible - this is used in jQuery to check the current MQ *
    content: 'mobile';
    display: none;
}

.projects-container .cd-single-project {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33.333%;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    /* on mobile -  move items outside the viewport *
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.projects-container .cd-single-project::after {
    /* background image *
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 33.333vh;
    width: 100%;
    background-image: url(../images/img-1-small.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-transition: opacity 0.5s, height 0.4s;
    -moz-transition: opacity 0.5s, height 0.4s;
    transition: opacity 0.5s, height 0.4s;
}

.projects-container .cd-single-project::before {
    /* never visible - this is used in jQuery to detect if the background image has been loaded  *
    content: '../wp-content/themes/sokvist-v2/assets/images/img-1-small.jpg';
    display: none;
}

.projects-container .cd-single-project:nth-of-type(2) {
    top: 33.333vh;
}

.projects-container .cd-single-project:nth-of-type(2)::after {
    background-image: url("../images/img-2-small.jpg");
}

.projects-container .cd-single-project:nth-of-type(2)::before {
    content: '../wp-content/themes/sokvist-v2/assets/images/img-2-small.jpg';
}

.projects-container .cd-single-project:nth-of-type(3) {
    top: 66.666vh;
}

.projects-container .cd-single-project:nth-of-type(3)::after {
    background-image: url("../images/img-3-small.jpg");
}

.projects-container .cd-single-project:nth-of-type(3)::before {
    content: '../wp-content/themes/sokvist-v2/assets/images/img-3-small.jpg';
}

.projects-container .cd-single-project.is-loaded {
    /* move items in the viewport when background images have been loaded *
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.projects-container .cd-single-project.is-full-width {
    /* selected item *
    top: 0;
    height: auto;
    z-index: 1;
    cursor: auto;
    -webkit-transition: z-index 0s 0s, top 0.4s 0s;
    -moz-transition: z-index 0s 0s, top 0.4s 0s;
    transition: z-index 0s 0s, top 0.4s 0s;
}

.projects-container .cd-single-project.is-full-width::after {
    height: 100vh;
}

@media only screen and (min-width: 1025px) {
    .projects-container {
        width: ~"calc(100vw - 300px)";
        margin-left: 300px;
    }
    .projects-container::before {
        /* never visible - this is used in jQuery to check the current MQ *
        content: 'desktop';
    }
    .projects-container .cd-single-project {
        width: ~"calc(33.333vw - 100px)";
        height: 100%;
        opacity: 0;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: width 0s;
        -moz-transition: width 0s;
        transition: width 0s;
    }
    .projects-container .cd-single-project:first-of-type::before {
        content: '../wp-content/themes/sokvist-v2/assets/images/img-1-large.jpg';
    }
    .projects-container .cd-single-project:first-of-type::after {
        background-image: url(../images/img-1-large.jpg);
    }
    .projects-container .cd-single-project:nth-of-type(2) {
        top: 0;
        left: ~"calc(33.333vw - 100px)";
    }
    .projects-container .cd-single-project:nth-of-type(2)::before {
        content: '../wp-content/themes/sokvist-v2/assets/images/img-2-large.jpg';
    }
    .projects-container .cd-single-project:nth-of-type(2)::after {
        background-image: url(../images/img-2-large.jpg);
    }
    .projects-container .cd-single-project:nth-of-type(3) {
        top: 0;
        left: ~"calc(66.666vw - 200px)";
    }
    .projects-container .cd-single-project:nth-of-type(3)::before {
        content: '../wp-content/themes/sokvist-v2/assets/images/img-3-large.jpg';
    }
    .projects-container .cd-single-project:nth-of-type(3)::after {
        background-image: url(../images/img-3-large.jpg);
    }
    .projects-container .cd-single-project::after {
        height: 100vh;
        width: 100%;
        opacity: 0;
    }
    .projects-container .cd-single-project.is-loaded {
        /* show items when background images have been loaded *
        opacity: 1;
    }
    .projects-container .cd-single-project.is-loaded::after {
        opacity: 1;
    }
    .projects-container .cd-single-project.is-full-width {
        /* selected item *
        left: 0vw;
        width: ~"calc(100vw - 300px)";
        -webkit-transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
        -moz-transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
        transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
    }

    .projects-container .cd-single-project::after {
        background-attachment: fixed;
        /*-webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);*
        -webkit-transition: -webkit-transform 0.8s, opacity 0.5s;
        -moz-transition: -moz-transform 0.8s, opacity 0.5s;
        transition: transform 0.8s, opacity 0.5s;

    -webkit-transform: translate3d(2px,0,0);
        transform: translate3d(2px,0,0);
    }
    .projects-container .cd-single-project.is-loaded::after {
        opacity: 0.3;
    }
    .no-touch .projects-container .cd-single-project:hover::after,
    .projects-container .cd-single-project.is-full-width.is-loaded::after {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}


.cd-title {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 14vh;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.is-full-width .cd-title {
    top: 50vh;
    -webkit-transition: opacity 0s, top 0.4s;
    -moz-transition: opacity 0s, top 0.4s;
    transition: opacity 0s, top 0.4s;
}

.cd-title > * {
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cd-title h2 {
    font-family: 'latoregular', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    line-height: 1.5;
}

.cd-title p {
    font-size: 1.4rem;
    font-family: 'latoregular', sans-serif;
    font-weight: 400;
    font-style: italic;
    line-height: 1.2;
    padding: .4em 2em;
    display: none;
    opacity: .6;
}


@media only screen and (min-width: 1025px) {
    .cd-title {
        top: 50vh;
        width: ~"calc(33.333vw - 100px)";
        opacity: 0;
        -webkit-transform: translateY(-50%) translateX(-20px);
        -moz-transform: translateY(-50%) translateX(-20px);
        -ms-transform: translateY(-50%) translateX(-20px);
        -o-transform: translateY(-50%) translateX(-20px);
        transform: translateY(-50%) translateX(-20px);
    }
    .is-loaded .cd-title {
        opacity: 1;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: -webkit-transform 0.6s, opacity 0.6s, left 0.4s;
        -moz-transition: -moz-transform 0.6s, opacity 0.6s, left 0.4s;
        transition: transform 0.6s, opacity 0.6s, left 0.4s;
    }
    .is-loaded.is-full-width .cd-title {
        left: 25vw;
        -webkit-transition: -webkit-transform 0.6s, opacity 0s, left 0.4s;
        -moz-transition: -moz-transform 0.6s, opacity 0s, left 0.4s;
        transition: transform 0.6s, opacity 0s, left 0.4s;
    }
    .cd-title p {
        display: block;
    }
    .cd-title h2 {
        font-size: 3em;
    }
}


.cd-project-info {
    clear: both;
    visibility: hidden;
    opacity: 0;
    margin-top: 100vh;
    padding: 4em 0;
    cursor: auto;
    background-color: #ffffff;
    color: @black;
    -webkit-transition: opacity 0.4s 0s, visibility 0s 0.4s;
    -moz-transition: opacity 0.4s 0s, visibility 0s 0.4s;
    transition: opacity 0.4s 0s, visibility 0s 0.4s;
}

.is-full-width .cd-project-info {
    visibility: visible;
    opacity: 1;
}


@media only screen and (min-width: 1025px) {
    .cd-project-info {
        position: relative;
        z-index: 1;
    }
}


.projects-container .cd-close,
.projects-container .cd-scroll {
    display: block;
    z-index: 1;
    font-size: 0;
    text-decoration: none;
    -webkit-transition: -webkit-transform .5s 0s, visibility 0s 1s;
    -moz-transition: -moz-transform .5s 0s, visibility 0s 1s;
    transition: transform .5s 0s, visibility 0s 1s;
}

.projects-container .cd-close {
    position: fixed;
    top: 60px;
    left: 10px;
    height: 40px;
    width: 40px;
    /*background: url("../img/cd-icon-close-mobile.svg") no-repeat center center;*
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.projects-container .cd-close::before {
	/*font-family: 'Ionicons';
    content: '\f406';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;*
	cursor: pointer;
	/*-webkit-font-smoothing: antialiased;*
    display: block;
    /*color: @lightblue;
    font-size: 40px;
    text-align: center;*
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 36px 36px;
    height: 40px;
    width: 40px;
    content: '';
    background-image: url(../images/ios-close.svg);
    transform: rotate(0);
    transition: all .1s linear;
}

.projects-container .cd-close:hover::before {
    transform: rotate(90deg);
}

@media only screen and (min-width: 1025px) {
    .projects-container .cd-close {
        left: inherit;
        top: 3%;
        right: 3%;
        /*background-image: url("../img/cd-icon-close-desktop.svg");*
    }
}

.projects-container .cd-scroll {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    -webkit-transform: translateX(-50%) scale(0);
    -moz-transform: translateX(-50%) scale(0);
    -ms-transform: translateX(-50%) scale(0);
    -o-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
    /*background: url("../img/cd-icon-arrow-mobile.svg") no-repeat center center;*
}

.projects-container .cd-scroll::before {
	/*font-family: 'Ionicons';
    content: '\f3d0';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;*
	cursor: pointer;
	/*-webkit-font-smoothing: antialiased;*
    display: block;
    /*color: #fff;
    font-size: 60px;
    text-align: center;*
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 46px 46px;
    height: 50px;
    width: 50px;
    content: '';
    background-image: url(../images/ios-arrow-down.svg);
    transform: translateY(0);
    transition: all .2s linear;
}

@media only screen and (min-width: 1025px) {
    .projects-container .cd-scroll {
        /*background-image: url("../img/cd-icon-arrow-desktop.svg");*
    }
}

.project-is-open .cd-close,
.project-is-open .cd-scroll {
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0s;
    transition: transform 0.4s 0s, visibility 0s 0s;
}

.project-is-open .cd-scroll {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    -webkit-animation: cd-translate 1.2s 0.4s;
    -moz-animation: cd-translate 1.2s 0.4s;
    animation: cd-translate 1.2s 0.4s;
    -webkit-animation-iteration-count: 2;
    -moz-animation-iteration-count: 2;
    animation-iteration-count: 2;
}

.no-touch .project-is-open .cd-close:hover {
    /*-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);*
}

.no-touch .project-is-open .cd-scroll:hover {
    -webkit-transform: translateX(-50%) translateY(5px);
    -moz-transform: translateX(-50%) translateY(5px);
    -ms-transform: translateX(-50%) translateY(5px);
    -o-transform: translateX(-50%) translateY(5px);
    transform: translateX(-50%) translateY(5px);
}

@-webkit-keyframes cd-translate {
    0% {
        -webkit-transform: translateX(-50%) scale(1);
    }
    50% {
        -webkit-transform: translateY(10px) translateX(-50%) scale(1);
    }
    100% {
        -webkit-transform: translateX(-50%) scale(1);
    }
}

@-moz-keyframes cd-translate {
    0% {
        -moz-transform: translateX(-50%) scale(1);
    }
    50% {
        -moz-transform: translateY(10px) translateX(-50%) scale(1);
    }
    100% {
        -moz-transform: translateX(-50%) scale(1);
    }
}

@keyframes cd-translate {
    0% {
        -webkit-transform: translateX(-50%) scale(1);
        -moz-transform: translateX(-50%) scale(1);
        -ms-transform: translateX(-50%) scale(1);
        -o-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1);
    }
    50% {
        -webkit-transform: translateY(10px) translateX(-50%) scale(1);
        -moz-transform: translateY(10px) translateX(-50%) scale(1);
        -ms-transform: translateY(10px) translateX(-50%) scale(1);
        -o-transform: translateY(10px) translateX(-50%) scale(1);
        transform: translateY(10px) translateX(-50%) scale(1);
    }
    100% {
        -webkit-transform: translateX(-50%) scale(1);
        -moz-transform: translateX(-50%) scale(1);
        -ms-transform: translateX(-50%) scale(1);
        -o-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1);
    }
}
*/
/*! Marketing & landings */
.orange {
  color: #FFB30F;
  font-weight: 600;
}
/* Tabs section */
.tabs-container {
  margin: 0 40px;
}
.tabs-container.tabs-container-gridder {
  margin: 0;
}
.tabs-container.tabs-container-marketing {
  margin: 1em 40px;
}
.tabs-container.tabs-container-marketing p,
.tabs-container.tabs-container-marketing li {
  font-size: 1.250em;
  line-height: 1.7;
  margin: 0.750em 0;
}
.tabs-container.tabs-container-marketing p:first-child {
  margin-top: 2em;
}
.tabs-container.tabs-container-marketing ul {
  margin-left: 1.5em;
}
.tabs-container.tabs-container-marketing a {
  text-decoration: none;
}
.tabs-container.tabs-container-marketing ul li ul li {
  font-size: 1em;
}
.easyshop .tabs-container li {
  margin: 0.25em 0;
}
.consulting .tabs-container a {
  color: #fff;
  border-bottom: 1px dotted #fff;
}
.tabs-container.tabs-container-marketing h2 {
  font-size: 1.850em;
  position: relative;
  margin-bottom: 1.500em;
  line-height: 1.5;
}
.tabs-container.tabs-container-marketing h2::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 5%;
  height: 1px;
  background: #FFB30F;
  content: '';
  margin-top: 2%;
}
/* Tabs Nav */
/* http://inspirationalpixels.com/tutorials/creating-tabs-with-html-css-and-jquery */
.tabs {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}
.tabs-container-marketing .tabs {
  margin: 2em auto 0;
}
/*--- Tab Links ---*/
ul.tab-links {
  margin: 0;
}
/* Clearfix */
ul.tab-links:after {
  display: block;
  clear: both;
  content: '';
}
ul.tab-links li {
  margin: 0;
  float: left;
  list-style: none;
}
.tabs-container-marketing ul.tab-links a {
  padding: 1em;
  display: inline-block;
  color: #fff;
  background: #807a78;
  border-radius: 0;
  outline: 0;
  font-size: 0.850em;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  text-decoration: none;
  border-bottom: none;
}
.easyshop ul.tab-links a {
  padding: 1em 0.65em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
}
.tabs-container-marketing li.active a,
.tabs-container-marketing li.active a:hover {
  background: #fff;
  color: #39312e;
}
/* hover effect */
ul.tab-links li {
  position: relative;
  display: block;
  margin-right: 2px;
  margin-top: 2px;
}
.tabs-container-marketing ul.tab-links a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 2px;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  background-color: #FFB30F;
  transition: transform 0.3s;
}
.tabs-container-marketing ul.tab-links a:hover:after {
  transform: scaleX(1);
}
.tabs-container-marketing ul.tab-links li.active a::after {
  background-color: #fff;
}
/*--- Content of Tabs ---*/
.tab-content {
  padding: 0.5em 0 0;
}
.tab-content.tab-content-gridder {
  padding: 0;
}
.easyshop .tab-content {
  margin: 1.5em 0 0.5em;
}
.tab {
  display: none;
}
.tab.active {
  display: block;
}
/* List with thumbnails */
ul.list {
  margin: 0;
  display: inline-block;
}
ul.list li {
  display: table;
  border-collapse: collapse;
  width: 100%;
  margin: 0;
}
ul.list .inner {
  display: table-row;
  overflow: hidden;
}
ul.list .li-img {
  display: table-cell;
  vertical-align: middle;
  width: 10%;
  padding: 1em 0;
}
ul.list .li-img svg {
  display: block;
  width: 40px;
  height: 40px;
  fill: #807a78;
  transform: scaleX(1);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
ul.list .inner .li-img.tick svg {
  fill: #009999;
}
ul.list .inner .li-img.cross svg {
  fill: #A62639;
}
ul.list .inner:hover .li-img svg,
ul.list .inner:focus .li-img svg {
  fill: #FFB30F;
  transform: scaleX(0.6);
}
ul.list .inner:hover .li-img.tick svg,
ul.list .inner:focus .li-img.tick svg,
ul.list .inner:hover .li-img.cross svg,
ul.list .inner:focus .li-img.cross svg {
  fill: #807a78;
}
ul.list .inner:hover .li-img.redcross svg,
ul.list .inner:focus .li-img.redcross svg {
  fill: #A62639;
}
ul.list .li-text {
  display: table-cell;
  vertical-align: middle;
  width: 80%;
  transform: scale(1);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
ul.list .inner:hover .li-text {
  transform: scale(1.1);
}
ul.list .li-head {
  margin: 0;
}
ul.list .li-sub {
  font-size: 0.800em;
  margin: 0;
  padding-right: 1em;
  line-height: 1.4;
}
ul.list.img-gridder {
  margin: 2em auto;
}
ul.list.img-gridder li {
  margin: 0;
}
ul.list.img-gridder li a {
  display: grid;
  margin: 0.5em;
  border-bottom: none;
  opacity: 0.8;
  transform: scale(1);
}
ul.list.img-gridder li a:hover,
ul.list.img-gridder li a:focus {
  opacity: 1;
  transform: scale(1.01);
}
@media all and (min-width: 767px) {
  ul.list li {
    float: left;
    width: 50%;
    margin: 0.150em 0;
  }
  ul.list li .li-img svg {
    width: 50px;
    height: 50px;
  }
}
@media all and (min-width: 1023px) {
  ul.list li {
    width: 33.33333%;
  }
  ul.list li .li-img svg {
    width: 60px;
    height: 60px;
  }
  ul.list li.half {
    width: 50%;
  }
}
/* Easy Shop */
.easyshop h3 {
  text-transform: uppercase;
}
.easyshop a {
  color: #fff;
  border-bottom: 1px dotted #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.easyshop .es-intro {
  font-family: 'latoregular', sans-serif;
  font-weight: 400;
  font-size: 1.35em;
  margin: 1em 0 2em;
  text-transform: uppercase;
  letter-spacing: 13px;
  line-height: 1.5;
}
.easyshop .es-intro span {
  font-family: 'latobold', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0;
  font-size: 1.35em;
}
.price {
  color: #FFB30F;
  margin-bottom: 2em;
}
.price a {
  color: #FFB30F;
  border-bottom: 1px dotted #FFB30F;
}
.price a:hover,
.price a:focus {
  border-color: transparent;
}
.price span {
  font-size: 1.350em;
}
.easyshop .showcase-img {
  display: block;
  margin: 3em auto;
  border-bottom: none;
}
.easyshop .showcase-img:hover img {
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
#tab3 a {
  color: #FADF63;
  border-bottom: 1px dotted #FADF63;
}
#tab3 a.tab3-a {
  font-size: 1.250em;
  margin-bottom: 1em;
  display: inline-block;
}
#tab3 a:hover,
#tab3 a:focus {
  color: #98D2EB;
  border-color: transparent;
}
/*! Blog */
/* Home/Blog */
.parallax-section.blog {
  background-color: var(--bg-color);
  height: 20vh;
}
.parallax-section.blog .intro h1 {
  color: var(--font-color);
}
.parallax-section.blog .intro::after {
  background: var(--bg-color);
}
.content-body {
  padding-top: 2em;
  padding-bottom: 4em;
  padding-left: 300px;
  color: var(--font-color);
  background: var(--bg-color);
}
.content-body h2,
.content-body h3,
.content-body h4,
.content-body h5,
.content-body h6 {
  color: var(--font-color);
}
.content-body p {
  margin: 2em 0;
}
.content-body a {
  text-decoration: none;
}
.content-body ul,
.content-body ol {
  margin: 2em 0;
  padding: 0 0 0 1em;
  line-height: 1.9;
}
.row-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
}
.col-main,
.col-aside {
  position: relative;
  min-height: 1px;
  float: left;
}
.col-main {
  width: 66.66666667%;
}
.col-aside {
  width: 33.33333333%;
}
.post {
  background: var(--bg-color);
  padding: 40px 30px 60px;
}
.post img {
  height: auto;
}
.post ol.sublists,
.post ol.sublists li ol {
  counter-reset: item;
}
.post ol.sublists li {
  display: block;
}
.post ol.sublists li:before {
  content: counters(item, ".") " . ";
  counter-increment: item;
  margin-right: 0.5em;
}
.post ol.sublists li ol {
  margin: 0;
}
.entry-title {
  font-family: 'latoregular', sans-serif;
  font-weight: 400;
  font-size: 2.350em;
  margin-bottom: 20px;
  line-height: 1.3;
  padding: 10px 0 0;
  color: var(--font-color);
}
.entry-meta {
  color: var(--font-color3);
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.entry-meta a {
  color: var(--font-color3);
}
.entry-content {
  font-size: 18px;
  line-height: 1.9;
  color: var(--font-color);
}
.entry-content a,
.widget-subscribe p a {
  border-bottom: 1px dotted var(--font-color3);
}
.entry-content a:hover,
.widget-subscribe p a:hover {
  border-bottom-style: solid;
}
/*.post-category,
.post-date,
.post-author,*/
.entry-meta span {
  position: relative;
  padding-right: 15px;
  line-height: 2;
}
.entry-meta span:last-child {
  padding-right: 0;
}
/*.post-category::after,
.post-date::after,
.post-author::after,*/
.entry-meta span::after {
  position: absolute;
  content: '.';
  color: var(--font-color);
  font-size: 30px;
  top: -30px;
  right: 1px;
}
.entry-meta span:last-child::after {
  content: none;
}
/* Read More Button CSS 3 style */
.read-more {
  font-family: 'latoregular', sans-serif;
  font-weight: 400;
  word-spacing: 1px;
  letter-spacing: 0.01em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cl-effect-14 a {
  padding: 0 20px;
  height: 45px;
  line-height: 45px;
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  border-bottom: none;
}
.cl-effect-14 a:hover {
  border-bottom: none;
}
.cl-effect-14 a::before,
.cl-effect-14 a::after {
  position: absolute;
  width: 45px;
  height: 1px;
  background: var(--bg-color);
  content: '';
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
.cl-effect-14 a::before {
  top: 0;
  left: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
}
.cl-effect-14 a::after {
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::before,
.cl-effect-14 a:focus::after {
  background: var(--font-color);
}
.cl-effect-14 a:hover::before,
.cl-effect-14 a:focus::before {
  left: 50%;
  -webkit-transform: rotate(0deg) translateX(-50%);
  -moz-transform: rotate(0deg) translateX(-50%);
  transform: rotate(0deg) translateX(-50%);
}
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::after {
  right: 50%;
  -webkit-transform: rotate(0deg) translateX(50%);
  -moz-transform: rotate(0deg) translateX(50%);
  transform: rotate(0deg) translateX(50%);
}
/* Post navigation */
.post-pagination {
  display: inline-block;
  margin: 2em auto 3em 2em;
}
.post-pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.post-pagination ul li {
  margin-right: 5px;
  float: left;
}
.post-pagination ul li:last-child {
  margin-right: 0;
}
.post-pagination ul li a {
  display: block;
  padding: 8px 18px;
  border-bottom: 1px solid transparent;
}
.post-pagination ul li.current a {
  border-bottom: 1px solid var(--font-color3);
  cursor: default;
}
.post-pagination ul li a:hover {
  border-color: var(--font-color3);
}
/* Widget */
.widget {
  background: var(--bg-color);
  padding: 30px 30px 0 30px;
}
.consulting .widget {
  background: var(--bg-color2);
}
.widget-title {
  font-size: 1.355em;
  margin-bottom: 20px;
  line-height: 1.6;
  padding: 10px 0 0;
  font-weight: 400;
  color: var(--font-color);
}
.widget_recent_entries ul,
.widget_archive ul,
.widget_categories ul {
  padding: 0;
  margin: 0;
}
.widget_recent_entries ul li,
.widget_archive ul li,
.widget_categories ul li {
  list-style-type: none;
  position: relative;
  line-height: 1.3;
  margin-bottom: 10px;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
}
.widget_recent_entries ul li a,
.widget_archive ul li a,
.widget_categories ul li a {
  display: block;
  padding: 5px 0;
}
.widget_recent_entries ul li:hover,
.widget_archive ul li:hover,
.widget_categories ul li:hover,
.widget_recent_entries ul li:focus,
.widget_archive ul li:focus,
.widget_categories ul li:focus {
  transform: translate3d(15px, 0, 0);
}
.widget-subscribe {
  padding: 0 30px 2em 30px;
  margin: 0 auto 2em;
}
.widget-subscribe::after {
  position: relative;
  content: '';
  display: block;
  width: calc(100% - 30px);
  width: 100%;
  height: 1px;
  background: var(--font-color3);
  left: 0;
  bottom: 0;
  top: auto;
  right: auto;
  margin-top: 2em;
}
.widget-subscribe p {
  margin: 1.75em 0 1em;
}
.consulting .widget-subscribe {
  border-bottom: none;
  padding: 2em;
  margin: 2em auto 3em;
}
.response {
  display: none;
}
/* Header Search Bar */
.search {
  position: relative;
  border-bottom: 1px dotted var(--font-color);
  min-height: 42px;
  margin: 0 auto 2em;
}
.search input[type=search] {
  width: 80%;
  border: none;
  position: absolute;
  left: 0;
  padding: 0 20px 0 0;
  line-height: 41px;
  background-color: var(--bg-color);
  z-index: 0;
}
.search button {
  position: absolute;
  right: 12px;
  top: 0;
  z-index: 0;
  background: transparent;
  color: var(--font-color);
  border: 0;
  padding: 0;
  line-height: 41px;
}
.search button span {
  font-size: 22px;
}
#search-menu span.ion-ios-close-empty {
  font-size: 40px;
  line-height: 0;
  position: relative;
  top: -6px;
}
/* Subscribe sidebar */
.subscribe-widgetbar {
  position: relative;
  padding: 0 50px;
}
.consulting .subscribe-widgetbar {
  padding: 0;
}
/* Single page Blog */
blockquote {
  border-left: 5px solid var(--font-color3);
  font-style: italic;
  line-height: 22px;
  margin: 2em 0;
  padding: 0 0 0 1em;
  line-height: 1.8;
}
.next-prev {
  border-bottom: 1px solid var(--font-color3);
  border-top: 1px solid var(--font-color3);
  margin: 2em 0 4em;
  padding: 15px 0 10px;
  display: inline-block;
  width: 100%;
}
.prev-post a,
.next-post a {
  margin: 0 0 2em;
}
.prev-post a {
  float: left;
}
.next-post a {
  float: right;
}
.prev-post a::before,
.next-post a::before {
  /*font-family: 'Ionicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;*/
  position: relative;
  content: '';
  background-image: url(../images/ios-arrow-thin-left.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 100%;
  height: 40px;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  display: block;
  color: var(--font-color);
  font-size: 1.750em;
  text-align: center;
  margin-bottom: 0.350em;
  transition: all .3s linear;
}
.next-post a::before {
  transform: rotate(180deg);
}
.next-prev a:hover {
  color: var(--font-color3);
}
.prev-post a:hover::before,
.next-post a:hover::before {
  opacity: 0.5;
}
.comment-respond > h3,
.author-about > h4,
.comments > h4 {
  border-bottom: 1px solid var(--font-color3);
  margin-bottom: 15px;
  margin-top: 0;
  padding-bottom: 10px;
  position: relative;
}
.post-item .comments-section {
  margin-top: 35px;
}
.comments ul {
  list-style: none;
  margin: 2em 0;
  padding: 0;
  line-height: 1.9;
}
.comments ul li {
  padding: 0;
}
.comments ul li ul {
  padding-left: 3em;
}
.comment-wrap {
  border-top: 1px dotted var(--font-color3);
  border-bottom: 1px dotted var(--font-color3);
  border-radius: 1px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
}
.comment-wrap .author-avatar {
  margin-left: -25px;
  margin-right: 20px;
}
.author-comment {
  margin-bottom: 15px;
  overflow: hidden;
}
.author-comment cite a:hover,
.replay:hover {
  color: var(--font-color3);
  text-decoration: underline;
}
.author-comment cite {
  margin-bottom: 2px;
  padding-top: 4px;
}
.comment-content {
  margin-left: 45px;
}
.comment-respond {
  margin-top: 80px;
}
#commentform {
  margin-top: 35px;
}
#commentform .form-control:hover {
  border-color: #C4BB18;
}
.form-group:last-child,
.form-group:last-child input {
  margin: 0;
}
/* Share buttons */
.share {
  margin: 3em auto;
}
.share ul {
  margin: 0;
  padding: 0;
}
.share li {
  display: inline-block;
  margin: 0.500em 2em 0.500em 0;
  padding: 0;
}
.share ul li:before {
  content: "";
  margin-right: 0;
}
.share a {
  padding: 0.250em 0;
  border-bottom: 1px dotted;
  color: var(--font-color);
}
.share a:hover,
.share a:focus {
  border-bottom: 1px solid;
}
.share a.facebook-color:hover,
.share a.facebook-color:focus {
  color: #3b5998;
}
.share a.twitter-color:hover,
.share a.twitter-color:focus {
  color: #00aced;
}
.share a.googleplus-color:hover,
.share a.googleplus-color:focus {
  color: #d34836;
}
/* Click to tweet */
blockquote.twitter-quote {
  font-size: 1.5em;
  margin-bottom: -1.25em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
blockquote.twitter-quote:hover {
  border-left-color: #00aced;
  background: rgba(0, 172, 237, 0.1);
}
a.twitter-click {
  display: inline-flex;
  font-size: 0.7em;
  line-height: 40px;
  text-decoration: none;
  border-bottom: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
a.twitter-click::before {
  position: relative;
  content: '';
  background-image: url(../images/social-twitter.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px;
  padding: 8px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  display: block;
  margin-bottom: 10px;
  margin-right: 7px;
  color: var(--bg-color);
  background-color: var(--font-color3);
  font-size: 20px;
  text-align: center;
  border: none;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
a.twitter-click:hover {
  color: #00aced;
  border-bottom-style: none;
}
a.twitter-click:hover::before {
  background-color: #00aced;
}
/* Media Query */
@media screen and (max-width: 1024px) {
  .content-body {
    padding-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .row-main {
    display: block;
  }
  .col-main,
  .col-aside {
    width: 100%;
  }
}
@media (max-width: 431px) {
  .post {
    background: var(--bg-color);
    padding: 0 10px 0;
  }
  .more-link {
    font-size: 0.9em;
    line-height: 100%;
  }
}
/*! Plugins */
/*!
 * animsition v4.0.0
 * A simple and easy jQuery plugin for CSS animated page transitions.
 * http://blivesta.github.io/animsition
 * License : MIT
 * Author : blivesta (http://blivesta.com/)
 */
.animsition,
.animsition-overlay {
  position: relative;
  opacity: 0;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* loading option */
.animsition-loading,
.animsition-loading:after {
  width: 32px;
  height: 32px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  border-radius: 50%;
  z-index: 100;
}
.animsition-loading {
  background-color: transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.2);
  border-right: 5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  border-left: 5px solid var(--lightblue);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-name: animsition-loading;
  animation-name: animsition-loading;
}
@-webkit-keyframes animsition-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes animsition-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-out {
  -webkit-animation-name: fade-out;
  animation-name: fade-out;
}
/* -------------------------------- */
/* Article on CodyHouse (http://codyhouse.co/?p=160)
Terms (http://codyhouse.co/terms/) ****************/
/* -------------------------------- */
/* 
Modules - reusable parts of our design
-------------------------------- */
.img-replace {
  /* replace text with an image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}
/* 
Main components 
-------------------------------- */
.popup-trigger,
.trigger {
  display: inline-block;
  width: auto;
  height: 50px;
  line-height: 50px;
  padding: 0 3em;
  margin: 2em auto;
  text-align: center;
  color: var(--bg-color);
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  border-bottom: none !important;
  background: var(--yellow);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
.trigger.trigger-blue {
  color: var(--font-color) !important;
  background: var(--lightblue);
  font-size: 0.9em;
  height: 40px;
  line-height: 40px;
  padding: 0 2em;
  border: 1px solid var(--lightblue) !important;
}
.popup-trigger:hover,
.popup-trigger:focus,
.trigger:hover,
.trigger:focus {
  background: var(--font-color);
}
.trigger.trigger-blue:hover,
.trigger.trigger-blue:focus {
  background: var(--bg-color2);
  color: var(--lightblue) !important;
  border-color: var(--lightblue) !important;
}
/* 
xpopup 
-------------------------------- */
.popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color2);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 1;
}
.popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(22vh);
  -moz-transform: translateY(22vh);
  -ms-transform: translateY(22vh);
  -o-transform: translateY(22vh);
  transform: translateY(22vh);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.popup-container h3 {
  padding-top: 35px;
}
.popup-container p {
  padding: 1em;
}
.popup-container .popup-close {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 34px;
  height: 34px;
}
.popup-container .popup-close::before,
.popup-container .popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 24px;
  height: 2px;
  background-color: var(--bg-color2);
}
.popup-container .popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.popup-container .popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 2px;
}
.is-visible .popup-container {
  -webkit-transform: translateY(20vh);
  -moz-transform: translateY(20vh);
  -ms-transform: translateY(20vh);
  -o-transform: translateY(20vh);
  transform: translateY(20vh);
}
@media only screen and (min-width: 1170px) {
  .popup-container {
    margin: 0 auto;
  }
}
/**
 *
 * JQUERY EU COOKIE LAW POPUPS
 * version 1.1.1
 *
 * Code on Github:
 * https://github.com/wimagguc/jquery-eu-cookie-law-popup
 *
 * To see a live demo, go to:
 * http://www.wimagguc.com/2018/05/gdpr-compliance-with-the-jquery-eu-cookie-law-plugin/
 *
 * by Richard Dancsi
 * http://www.wimagguc.com/
 *
 */
.clearfix {
  clear: both;
}
.eupopup-container {
  background-color: var(--bg-color2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  color: var(--font-color2);
  padding: 15px 20px;
  font-size: 13px;
  line-height: 1.7em;
  letter-spacing: 1px;
  text-align: left;
  display: none;
  z-index: 9999999;
}
.eupopup-container-top,
.eupopup-container-fixedtop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.eupopup-container-fixedtop {
  position: fixed;
}
.eupopup-container-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.eupopup-container-bottomleft {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 256px;
}
.eupopup-container-bottomright {
  position: fixed;
  bottom: 7px;
  right: 7px;
  width: 280px;
}
.eupopup-closebutton {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 0;
}
.eupopup-closebutton svg {
  width: 28px;
  fill: #98d2eb;
  pointer-events: none;
  vertical-align: top;
}
.eupopup-closebutton:hover,
.eupopup-closebutton:active {
  color: var(--font-color);
  text-decoration: none;
}
.eupopup-closebutton:hover svg,
.eupopup-closebutton:active svg {
  fill: var(--font-color);
}
.eupopup-head {
  text-transform: uppercase;
  padding: 10px 0 5px;
  color: var(--font-color);
}
.eupopup-body {
  color: var(--font-color2);
}
.eupopup-buttons {
  padding: 20px 0 10px 0;
}
.eupopup-button_1 {
  color: var(--font-color);
  background-color: var(--lightblue);
  text-transform: uppercase;
}
.eupopup-button_2 {
  color: var(--lightblue);
  background-color: transparent;
  text-transform: uppercase;
}
.eupopup-button {
  margin: 0 10px 0 0;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  padding: 7px 14px;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}
.eupopup-button_1:hover,
.eupopup-button_1:focus {
  text-decoration: none;
  background-color: var(--bg-color);
}
.eupopup-button_2:hover,
.eupopup-button_2:focus {
  color: var(--font-color);
}
body .eupopup-color-inverse {
  color: #000;
  background-color: rgba(255, 255, 255, 0.9);
}
body .eupopup-color-inverse .eupopup-head {
  color: #000;
}
body .eupopup-style-compact {
  text-align: left;
  padding: 8px 30px 7px 20px;
  line-height: 15px;
}
body .eupopup-style-compact .eupopup-head,
body .eupopup-style-compact .eupopup-body,
body .eupopup-style-compact .eupopup-buttons {
  display: inline;
  padding: 0;
  margin: 0;
}
body .eupopup-style-compact .eupopup-button {
  margin: 0 5px;
}
.eupopup-container-hide {
  display: none !important;
}
