/*! Variables */
// ==========================================================================

// Colors
//============
// https://coolors.co/2176ae-98d2eb-ffb30f-fadf63-776d5a
@brownpastel: #776D5A; /* rgba(119, 109, 90, 1) */
@yellow: #FADF63; /* rgba(250, 223, 99, 1) */
@orange: #FFB30F; /* rgba(255, 179, 15, 1) */
@blue: #2176AE; /* rgba(33, 118, 174, 1) */
@lightblue: #98D2EB; /* rgba(152, 210, 235, 1) */
@white: #fff; /* rgba(255, 255, 255, 1) */
@black: #222; /* rgba(34, 34, 34, 1) */

@browndarker: #625A4A; /* rgba(98, 90, 74, 1) */

:root {
    //--brownpastel: #776D5A; /* rgba(119, 109, 90, 1) */
    //--yellow: #FADF63; /* rgba(250, 223, 99, 1) */
    //--orange: #FFB30F; /* rgba(255, 179, 15, 1) */
    //--blue: #2176AE; /* rgba(33, 118, 174, 1) */
    //--lightblue: #98D2EB; /* rgba(152, 210, 235, 1) */
    //--white: #fff; /* rgba(255, 255, 255, 1) */
    //--black: #222; /* rgba(34, 34, 34, 1) */

    //--browndarker: #625A4A; /* rgba(98, 90, 74, 1) */
    //--browndarker75: rgba(98, 90, 74, 0.75);
    //--dark-brown: #211716; /* rgba(33, 23, 22, 1) */
    
    
    /* https://coolors.co/f2f1f0-cdc9c3-9c9487-776d5a-575042 */
    
    --bg-color: #ffffff;
    --bg-color2: #F2F1F0;
    --font-color: #575042;
    --font-color2: #776D5A;
    --font-color3: #9C9487;
    --header-square: #ffffff;
    --header-square-hover: #575042;
    --yellow: #FADF63;
    --lightblue: #62A6C4;
}

[data-theme="dark"] {
    /*--brownpastel: #fff;
    --yellow: #98D2EB;
    --orange: #FFB30F;
    --blue: #2176AE; 
    --lightblue: #98D2EB; 
    --white: #776D5A; 
    --black: #fff;

    --browndarker: rgba(34, 34, 34, 0.1);
    --browndarker75: rgba(34, 34, 34, 0.1);
    --dark-brown: #211716; */
    
    
    /* https://coolors.co/f2f1f0-cdc9c3-9c9487-776d5a-575042 */
    
    --bg-color: #776D5A;
    --bg-color2: #625A4A;
    --font-color: #ffffff;
    --font-color2: #F2F1F0;
    --font-color3: #CDC9C3;
    --header-square: #ffffff;
    --header-square-hover: #ffffff;
    --yellow: #FADF63;
    --lightblue: #98D2EB;
}


// Old colors
@brown: #39312e; /* rgba(57, 49, 46, 1) */
@dark-brown: #211716; /* rgba(33, 23, 22, 1) */
@green: #009999; /* rgba(0, 153, 153, 1) */
//@orange: #faa419; /* rgba(250, 164, 25, 1) */
@grey: #807a78; /* rgba(128, 122, 120, 1) */
@light-grey: #c1bfbf; /* rgba(193, 191, 191, 1) */


// Social
@facebook: rgba(59, 89, 152, 1);
@twitter: rgba(0, 172, 237, 1);
@instagram: rgba(221, 42, 123, 1);
@google: rgba(211, 72, 54, 1);
@email: rgba(210, 210, 210, 1);


// Alert
@alert: #A62639;